/* common document css rules */

.dcpAttribute__content--longtext {
    text-align: justify;
}

.dcpDocument--edit .dcpArray, .dcpDocument--create .dcpArray, .dcpDocument--view .dcpArray {
    border: none;
    box-shadow: none;
}

.dcpFrame .dcpArray__content > table {
    border: 1px solid #e8e8e8;
    border-bottom: none;
    /* margin: 0 0.8333rem 0.8333rem; */
    padding: 0 1.1666rem 1.66666rem 1.1666rem;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.25rem 0.25rem;
}

.dcpArray__tools {
    margin: 10px 5px 5px 5px;
}

.dcpAttribute__content[data-type=money] .k-select .k-link-increase .k-icon {
    font-size: .9rem;
}

.dcpAttribute__content[data-type=money] .k-select .k-link-decrease .k-icon {
    font-size: .9rem;
}


.dcpAttribute__content[data-type=money] .k-select .k-link-increase .k-icon::before {
    content: "\e11e";
}

.dcpAttribute__content[data-type=money] .k-select .k-link-decrease .k-icon::before {
    content: "\e121";
}

.dcpAttribute__content[data-type=money] .k-select {
    display: none;
}

.input-group-addon.money__currency__selector__wrapper {
    background-color: #e4e7eb;
    color: #878787;
}

.dcpAttribute__content--money > .dcpCustomTemplate > .input-group:hover {
    border: solid #157EFB 0.083rem;
    box-shadow: 0rem 0rem 0.583rem #157EFB;
    border-radius: 0.33rem;
}

.dcpAttribute__content--money > .dcpCustomTemplate > .input-group .dcpCustomTemplate--content--value[data-type=money] > .input-group:hover {
    border:none;
    box-shadow: none;
}
.money__currency__selector__wrapper > .money__currency__selector {
    background-color: inherit;
    color: inherit;
    border: none;
}

.dcpAttribute__content[data-type=money] .k-numeric-wrap {
    padding-left: 0;
}

.dcpNotification--notice, .k-notification-notice {
    display: none !important;
}