.dcpDocument--view .dcpAttribute__content[data-attrid=csl_alerte_acteur],
.dcpDocument--view .dcpAttribute__content[data-attrid=csl_notification_montants],
.dcpDocument--view .dcpAttribute__content[data-attrid=csl_type_soutien],
.dcpDocument--view .dcpAttribute__content[data-attrid=csl_notification_statut]
{
    color:red;
    font-weight: bold;
}

.document section .dcpFrame__content > .dcpAttribute[data-attrid=cli_cert],
.document section .dcpFrame__content > .dcpAttribute[data-attrid=cli_rd] {
    width: 100%;
}

.menu--right.k-item > .k-animation-container ul {
    right: auto;
}
.menu--right.k-item > .k-animation-container {
    left: 5px ! important;
    /* left: auto !important; */
}
.k-state-focused, li.k-state-hover:hover > .k-link {
    box-shadow:none;
    //background-color: transparent;
    color:#157EFB;
}
.k-menu .k-state-default .k-state-border-down {
    box-shadow: none;
    background-color: transparent;
    color:#157EFB;
}

.client-state {
    width:1em;
    height:1em;
    display:inline-block;
    border-radius: 50%;
}

.dcpFrame > .dcpFrame__content > .fees-expenses-visualization {
    background-color: red;
}