.dcpDocument--view .dcpCustomTemplate.dcpArray__content .dcpAttribute__content {
    border-bottom: none;
}

.dcpDocument--edit .dcpArray__content .dcpArray__content__line

.dcpCustomTemplate.dcpArray__content .dcpArray__content__line {
    border-bottom: 0.083rem solid #ECECEC;
}
.menu--right.k-item > .k-animation-container ul {
    right: auto;
}
.menu--right.k-item > .k-animation-container {
    left: 5px ! important;
    /* left: auto !important; */
}
.k-state-focused, li.k-state-hover:hover > .k-link {
    box-shadow:none;
    //background-color: transparent;
    color:#157EFB;
}
.k-menu .k-state-default .k-state-border-down {
    box-shadow: none;
    background-color: transparent;
    color:#157EFB;
}

.client-state {
    width:1em;
    height:1em;
    display:inline-block;
    border-radius: 50%;
}

.fees-expenses-visualization {
    display: flex;
    height: 100%;
}

.fees-expenses-visualization > .k-tabstrip-wrapper {
    flex: 1;
}

.fees-expenses-visualization > .fees-expenses-geoloc {
    display: flex;
    flex-direction: column;
    flex: .5;
}

.fees-expenses-visualization > .fees-expenses-geoloc > .fees-expenses-geoloc-section {
    flex: 1;
    border: 1px solid rgba(0, 0, 0, .125);
 }

.fees-expenses-visualization > .fees-expenses-geoloc > .fees-expenses-exif {
    flex: .33;
}

.fees-expenses-visualization > .fees-expenses-geoloc > .fees-expenses-timestamp {
    flex: .33;
}

.fees-expenses-visualization > .fees-expenses-geoloc .fees-attribute {
    padding: 0 1rem;
    vertical-align: top;
    border-bottom: none;
    display: flex;
}

.fees-expenses-visualization > .fees-expenses-geoloc .fees-attribute > .fees-attribute-label {
    margin-right: 1rem;
}

.fees-expenses-visualization > .fees-expenses-geoloc .fees-expenses-geoloc-section-title {
    text-align: center;
    padding-top: 1rem;
}

.fees-expenses-visualization .k-tabstrip-items {
    width: 90px;
}

.fees-expenses-visualization .k-tabstrip-items .k-item {
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: #e6e6e6;
    color: #505050;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fees-expenses-visualization .k-tabstrip-items .k-item > .k-link {
    justify-content: center;
}

.fees-expenses-visualization .k-tabstrip-items .k-item.k-state-active {
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-left: 3px solid #8AE234;
}

.fees-expenses-list-content {
    display: flex;
}

.fees-expenses-list-content-detail {
    flex: 1;
    padding: 0 2rem;
}

.fees-expenses-list-content-img {
    flex: 1;
}

.fees-attribute {
    padding: 1rem 0;
    border-bottom: 1px solid lightgrey;
}

.fees-attribute-label {

}

.fees-attribute-value {
    font-weight: bold;
}