<li data-menu-id="{{id}}" data-menu-url="{{url}}"
    {{# htmlAttr}}{{attrId}}="{{attrValue}}"{{/ htmlAttr}}
    {{# disabled}}disabled="disabled"{{/ disabled}}
    {{# tooltipLabel}}title="{{tooltipLabel}}"{{/tooltipLabel}}
    class="menu__element menu__element--dynamic {{cssClass}}">
    {{#iconUrl}}<img src="{{iconUrl}}" class="k-image" />{{/iconUrl}}
    {{#beforeContent}}<span class="menu__before-content k-image">{{{beforeContent}}}</span>{{/beforeContent}}
    {{{htmlLabel}}}{{label}}
    <ul class="listmenu__content">
    </ul>
</li>