<li data-menu-id="{{id}}" data-menu-url="{{url}}"
    {{# htmlAttr}}{{attrId}}="{{attrValue}}"{{/ htmlAttr}}
    {{# disabled}}disabled="disabled"{{/ disabled}}
    {{# tooltipLabel}}title="{{tooltipLabel}}"{{/tooltipLabel}}
    class="menu__dynamic">
    {{label}}
    <ul class="listmenu__content">
    </ul>
</li>