<li data-menu-id="{{id}}" {{# htmlAttr}}{{attrId}}="{{attrValue}}"{{/ htmlAttr}}
    {{# disabled}}disabled="disabled"{{/ disabled}}
    {{# tooltipLabel}}title="{{tooltipLabel}}"{{/tooltipLabel}}
    >
    <a href="{{url}}" >{{label}}</a></li>