<li data-menu-id="{{id}}" {{# htmlAttr}}{{attrId}}="{{attrValue}}"{{/ htmlAttr}}
    {{# tooltipLabel}}title="{{tooltipLabel}}"{{/tooltipLabel}}
    {{# disabled}}disabled="disabled"{{/ disabled}}
        >
    {{label}}
    <ul class="listmenu__content">
    </ul>
</li>