<div class="menu__content container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="menu__header navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu_{{uuid}}">
            <span class="sr-only"> Deploy menu </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{document.properties.title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="menu_{{uuid}}">
        <ul class="nav navbar-nav menu__content">

        </ul>
        <p class="navbar-right">
            <img class="menu__icon" src="{{document.properties.icon}}" alt="Document icon"/>
        </p>
    </div>
</div>