<div class="menu__content container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="menu__header navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu_{{uuid}}">
            <span class="sr-only"> Deploy menu </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="menu_{{uuid}}">
        <ul class="nav navbar-nav menu__content">

        </ul>
    </div>
</div>