<li data-menu-id="{{id}}" {{# htmlAttr}}{{attrId}}="{{attrValue}}"{{/ htmlAttr}}
    class="menu__element menu--separator {{cssClass}}"
    {{# tooltipLabel}}title="{{tooltipLabel}}"{{/tooltipLabel}} >
    {{#iconUrl}}
    <img src="{{iconUrl}}" class="k-image" />
    {{/iconUrl}}
    {{#beforeContent}}
    <span class="menu__before-content k-image">
        {{{beforeContent}}}
    </span>
    {{/beforeContent}}
    {{{htmlLabel}}}
    {{label}}
    {{^label}}
        {{^htmlLabel}}
        <div class="menu__empty_separator"></div>
        {{/htmlLabel}}
    {{/label}}
</li>