# IntelliJ project files
*.iml

/*.app
*.webinst
*~
*#
node_modules/
src/public/Anakeen/i18nManager
src/public/Anakeen/accountManager
src/public/Anakeen/parameterManager
src/public/Anakeen/tokenManager
src/public/Anakeen/vaultManager
src/public/Anakeen/mailManager
src/public/Anakeen/manifest
src/public/Anakeen/adminCenter/dev
src/public/Anakeen/adminCenter/prod
src/public/Anakeen/adminCenter/legacy
src/vendor/Anakeen/Routes/Admin/Lib/vendor/
src/public/Anakeen/mailManager/
Makefile.local
/.idea/deployment.xml
/.idea/dictionaries/
/.idea/jsonSchemas.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/webServers.xml
/.idea/workspace.xml
ide/vendor/
lib/
