.smart-element-grid-pager {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.smart-element-grid-pager-page {
  display: flex;
  align-items: center;

  .smart-element-grid-pager-page--separator {
    margin: 0 .25rem;
    &::after {
      content: "/";
    }
  }

  .smart-element-grid-pager-page--input {
    width: 5rem;
    &:read-only {
      cursor: default;
    }
  }
}

.smart-element-grid-pager-nav,
.smart-element-grid-pager-pageNumber {
  border: none;
  border-radius: 10%;
  padding: 0.375rem;
  min-width: calc(1 * (2px + 0.75rem + 1.5em));
  height: calc(1 * (2px + 0.75rem + 1.5em));
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 1;
  text-decoration: none;

  &:hover {
    background-color: #ebebeb;
  }

  &.smart-element-grid-pager-nav--disabled {
    pointer-events: none;
    &:hover {
      background-color: transparent;
    }
    opacity: 0.65;
    color: inherit;
    cursor: default;
  }
}

.smart-element-grid-pager-info {
  margin: 0 1rem;
  text-align: right;
  flex: 1;
  color: #c8c8c8;
}

.smart-element-grid-pager-pageNumber--selected,
.smart-element-grid-pager-pageNumber--selected:hover {
  border-radius: 10%;
  background-color: #157efb;
  color: white;
  z-index: 2;
  cursor: default;
}
