.dcpAttribute__content--read.dcpAttribute__content--docid {
 /* position: inherit;
  top: (@padding-base-vertical - 2);*/
  top : @padding-base-vertical - 10
}
.dcpAttribute__content--read.dcpAttribute__content--docid.k-button a:hover {
  background-color:inherit;
}
.dcpAttribute__content--read.dcpAttribute__content--docid .dcpAttribute__content--icon{
  width:14px;
  height: 14px;
  vertical-align: top;
}
.dcpAttribute__contentWrapper--docid .k-multiselect-wrap, .dcpArray__content__cell--docid .k-multiselect-wrap {
  top:-4px;
}