<div class="input-group margin-bottom-sm {{#isMultiple}}dcpAttribute__content--multiple{{/isMultiple}}{{^isMultiple}}dcpAttribute__content--single{{/isMultiple}}">
<span class="input-group-addon">
    <button
            {{#renderOptions.autoCompleteHtmlLabel}}title="{{renderOptions.autoCompleteHtmlLabel}}"{{/renderOptions.autoCompleteHtmlLabel}}
            class="dcpAttribute__content--docid--button btn btn-default btn-xs">
{{^isMultiple}}
<i class="fa fa-chevron-down fa-fw"></i>
{{/isMultiple}}
{{#isMultiple}}
    <i class="fa fa-plus fa-fw"></i>
{{/isMultiple}}
    </button></span>
    <select name="{{id}}" id="{{viewCid}}"
            class="form-control dcpAttribute__content dcpAttribute__content--docid"
            />
<span class="dcpAttribute__content__buttons input-group-addon">
     {{#renderOptions.buttons}}
         <button type="button" data-index="{{index}}" title="{{title}}" class="dcpAttribute__content__button--extra btn btn-default btn-xs {{class}}">{{{htmlContent}}}</button>
     {{/renderOptions.buttons}}
    <button type="button" title="[[#i18n]]ddui::Delete : [[/i18n]]" class="dcpAttribute__content__button--delete btn btn-default btn-xs"><i class="fa fa-times fa-fw"></i></button>
    </span>
</div>