<span class="dcpAttribute__content dcpAttribute__content dcpAttribute__content--read dcpAttribute__content--docid">
    {{# value.value}}<a class="dcpAttribute__content__link"
        {{#renderOptions.htmlLink.title}}title="{{renderOptions.htmlLink.title}}" {{/renderOptions.htmlLink.title}}
                        target="{{renderOptions.htmlLink.target}}"
                        href="{{renderOptions.htmlLink.url}}"><img class="dcpAttribute__content--icon" src="{{value.icon}}" />
        <span>{{value.displayValue}}</span></a>{{/ value.value}}{{{emptyValue}}}

    {{# values}}<a href="?app=DOCUMENT&action=VIEW&id={{value}}"><img class="dcpAttribute__content--icon" src="{{icon}}" />
        <span>{{displayValue}}</span></a> {{/ values}}
</span>