DOCID <input type="text" name="{{id}}" id="{{viewCid}}"
       {{# options.size}}style="width : {{options.size}}em;"{{/ options.size}}
class="form-control dcpAttribute__content dcpAttribute__content--edit dcpAttribute__content--docid"
value="{{value.value}}"/>