
<div class="input-group margin-bottom-sm">
<span class="dcpAttribute__content--docid--button input-group-addon">
{{^isMultiple}}
    <input type="hidden" name="{{id}}" id="{{viewCid}}"
           class="form-control dcpAttribute__content dcpAttribute__content--edit dcpAttribute__content--docid"
           value="{{value.value}}"/>
    <i class="fa fa-chevron-down fa-fw"></i></span>
    <input type="text"
           class="form-control dcpAttribute__content--docid--title"
           value="{{value.displayValue}}"/>
{{/isMultiple}}
{{#isMultiple}}
    <i class="fa fa-plus fa-fw"></i></span>
    <select name="{{id}}" id="{{viewCid}}"
           class="form-control dcpAttribute__content--docid dcpAttribute__content--docid--title"
           >
        {{#values}}
            <option value="2">{{displayValue}}</option>
        {{/values}}
    </select>

{{/isMultiple}}

</div>