.smart-element-list {
  min-width: 10.5rem;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;

  &.smart-element-list--fit {
    height: 100%;
    width: 100%;
    flex: 1;
  }

  &.smart-element-list--compact {
    .smart-element-grid-pager-info {
      display: none;
    }
  }

  &.smart-element-list--tiny {
    .smart-element-grid-pager-first,
    .smart-element-grid-pager-last {
      display: none;
    }
  }

  .smart-element-grid-pager-sizes--label {
    display: none;
  }

  .smart-element-grid-pager {
    .smart-element-grid-pager-numbers {
      display: none;
    }

    .smart-element-grid-pager-sizes {
      .k-widget.k-dropdown.smart-element-grid-pager-sizes--dropdown {
        width: 100%;
      }
      order: -1;
    }

    & > * {
      flex: 1;
    }
  }
}

.smart-element-list-item--body {
  position: relative;
  display: flex;
  flex-direction: column;
}
.smart-element-list-item--heading {
  text-overflow: ellipsis;
  display: flex;
  align-items: center;

  .smart-element-list-item--heading-icon {
    margin-right: .25rem;
    width: 14px;
    height: 14px;
  }

  & > span {
    position: relative;
    bottom: -2px;
    display:block;
  }
}

.smart-element-list-item--heading-state {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: -0.5rem;

  .smart-element-list-item--heading-state-color {
    border-radius: 25%;
    width: .8rem;
    height: .8rem;
    margin-left: .5rem;
    background-color: transparent;
  }
}

.smart-element-list .smart-element-list--slots-wrapper {
  display: flex;
  flex-direction: column;
}

.smart-element-list--label {
  min-height: 2.8rem;
  overflow-x: hidden;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b4fc;
}

.smart-element-list--search {
  display: flex;
  justify-content: center;
}

.smart-element-list--search-default {
  flex: 1;
}

.smart-element-list--search-button {
  color: #878787;
  background: white;
  padding: 0 0.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
  border: 1px solid #ced4da;
  border-right: 0;
  font-size: 1.75rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    color: black;
  }
}

.smart-element-list--search {
  padding: 0.5rem;

  .input-group {
    flex-wrap: nowrap;
  }
  .smart-element-list--search-input {
    min-width: 2rem;
    border-left: 0;
    flex: 1;
    &::placeholder {
      color: #bbb;
    }
  }

  .smart-element-list--search-button-clear {
    position: absolute;
    right: 0.5rem;
    font-size: 1.1667rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
    top: 25%;

    &:hover {
      background-color: #ff542c;
      color: #ffffff;
    }
  }
}
.smart-element-list--footer {
  flex: 1;
}
