.dcpAttribute__content .k-datetimepicker {
  padding: 0;
}

.dcpAttribute__content .k-datetimepicker .k-i-calendar,
.dcpAttribute__content .k-datetimepicker .k-i-clock {
  margin-top: 6px;
}

.dcpAttribute__content .k-datetimepicker .k-picker-wrap {
  padding-left: 3.8em;
  padding-right: 0;
}