

.dcpAttribute__contentWrapper .k-selected-color {
  width: 100%;
  height: (@attrInputHeight - 2);
  box-sizing: border-box;
}

.dcpAttribute__contentWrapper .k-colorpicker  .k-i-arrow-s {
  margin-top:5px;
}

.dcpAttribute__contentWrapper--color .dcpAttribute__content--read {
  border-left-style: solid;
  border-left-width: 1em;
  padding-left: 0.5em;
}