<span class="dcpAttribute__value dcpAttribute__value--read" name="{{id}}">
    {{#renderOptions.htmlLink.url}}
    <a  class="dcpAttribute__content__link"
        target="{{renderOptions.htmlLink.target}}"
        {{#renderOptions.htmlLink.title}}title="{{renderOptions.htmlLink.title}}" {{/renderOptions.htmlLink.title}}
        href="{{renderOptions.htmlLink.url}}">
    {{/renderOptions.htmlLink.url}}
    {{^attributeValue.thumbnail}}
        <span class="dcpAttribute__content__value">{{attributeValue.displayValue}}</span>
    {{/attributeValue.thumbnail}}
    {{#attributeValue.thumbnail}}
        <img src="{{attributeValue.thumbnail}}"/>
    {{/attributeValue.thumbnail}}
    {{#renderOptions.htmlLink.url}}
    </a>
    {{/renderOptions.htmlLink.url}}
    {{{emptyValue}}}
</span>
{{#hadButtons}}
<span class="dcpAttribute__content__buttons">
    {{#renderOptions.buttons}}
    <button type="button" title="{{title}}" data-index="{{index}}"
            class="dcpAttribute__content__button--extra btn btn-default btn-xs {{class}}">{{{htmlContent}}}</button>
    {{/renderOptions.buttons}}
</span>
{{/hadButtons}}