.dcpAttribute__value--filethumb {
  background-repeat: no-repeat;
  background-position: 4px center;
  padding-left: 60px;
}

.dcpAttribute__content--image img {
  vertical-align: top;
}

.dcpAttribute__content--image .dcpAttribute__value--edit {
  cursor: pointer;
}

.dcpImage-window  {
  text-align: center;
  vertical-align: middle;
  width:100%;
  height:100%;
  box-sizing: border-box;
}
.dcpImage-window img {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;

}