<?php

namespace {{namespace}};

/**
 * Workflow Behavior of {{name}} elements
 */
class {{wflName}}Behavior extends {{#parentName}}\SmartStructures\{{Parentname}}{{/parentName}}{{^parentName}}\SmartStructure\Wdoc{{/parentName}}
{
    public function __construct($dbaccess = '', $id = '', $res = '', $dbid = 0)
    {
        parent::__construct($dbaccess, $id, $res, $dbid);
        $this->useWorkflowGraph(__DIR__."/{{wflName}}Graph.xml");

        // @FIXME Insert Here transition configuration
    }
}