html, body {
    height:100%;
    outline: solid 2px orange;
}

.systemMain {
    height:100%;
    margin:0;
}

.systemLeft {
    height:100%;
    outline:solid 1px blue;
}

.systemRight {
    height:100%;
    outline:solid 1px green;

}

.systemRight > iframe{
    width:100%!important;
}