anakeen-ui/src/vendor/Anakeen/SmartStructures/Dsearch/Render/jquery.stickytableheaders.min.js
anakeen-ui/src/public/login/dist/
anakeen-ui/src/public/components/debug/
anakeen-ui/src/public/components/dist/
anakeen-ui/src/vendor/Anakeen/Components/translation.json
anakeen-ui/src/Apps/DOCUMENT/Layout/debug/
anakeen-ui/src/Apps/DOCUMENT/Layout/prod/
anakeen-ui/src/public/uiAssets/
Tests/
node_modules/
webpackConfig/
localpub/