/Tests/autotest/autotest.override.sh
*~
*#*
/Tests/autotest/outputs/*
ide/vendor/
.idea/workspace.xml
.idea/deployment.xml
.idea/php.xml
.idea/dataSources/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/vcs.xml
*app
.php_cs.cache
.idea/*.iml"
src/vendor/Anakeen/lib/vendor/
Makefile.local
node_modules/
src/public/Anakeen/