node_modules
/user-interfaces/src/public/Images/Dsearch/3pointloading.gif
/user-interfaces/src/public/Images/Helppage/flags/fr.png
/user-interfaces/src/public/Images/Helppage/flags/us.png
/.idea/workspace.xml
/.idea/compiler.xml
/build/
/Makefile.local
/.devtool/ci/check/checkPHP/vendor/
/.devtool/docker/Docker/Volumes/_private/
.eslintcache
.anakeen-cli.xml
/control/src/.htaccess
/control/src/.htpasswd
.devtool/docker/.env
.devtool/docker/Docker/Volumes/php/etc/apache2/sites-enabled/custom-vhost/001-anakeen-logs.conf
.idea/watcherTasks.xml