/*.app
*.webinst
*~
*#
ide/vendor/
node_modules/
tmpot/
src/public/login/dist/
src/public/Anakeen/
src/public/uiAssets/
src/vendor/Anakeen/Components/translation.json
Tests/src/public/Anakeen/
src/public/uiAssets/
Makefile.local
.anakeen-cli.xml
/.idea/deployment.xml
/.idea/dictionaries/charles.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/user-interfaces.iml
/.idea/vcs.xml
/.idea/webServers.xml
/.idea/workspace.xml
/.cibuild/targets/*/outputs/*
*.src
components/lib
components/public
lib