<span class="dcpAttribute__value dcpAttribute__value--read" name="{{id}}">
    {{#renderOptions.htmlLink.url}}
    <a  class="dcpAttribute__content__link"
        target="{{renderOptions.htmlLink.target}}"
        {{#renderOptions.htmlLink.title}}title="{{renderOptions.htmlLink.title}}" {{/renderOptions.htmlLink.title}}
        href="{{renderOptions.htmlLink.url}}">
    {{/renderOptions.htmlLink.url}}
        <span class="dcpAttribute__content__value">{{{value.displayValue}}}</span>
    {{#renderOptions.htmlLink.url}}
    </a>
    {{/renderOptions.htmlLink.url}}
    {{{emptyValue}}}
</span>