
.dcpAttribute[data-attrid=test_ddui_enum__enumscountry] .dcpAttribute__value--enumbuttons.orientation-horizontal.input-group .dcpAttribute__value--enumlabel,
.dcpAttribute[data-attrid=test_ddui_enum__srvcountry] .dcpAttribute__value--enumbuttons.orientation-horizontal.input-group .dcpAttribute__value--enumlabel,
.dcpAttribute[data-attrid=test_ddui_enum__srvscountry] .dcpAttribute__value--enumbuttons.orientation-horizontal.input-group .dcpAttribute__value--enumlabel,
.dcpAttribute[data-attrid=test_ddui_enum__enumcountry] .dcpAttribute__value--enumbuttons.orientation-horizontal.input-group .dcpAttribute__value--enumlabel
{
    display: inline-block;
    width: 20%;
}


.dcpArray__head__cell[data-attrid=test_ddui_enum__enumtown_array],
.dcpArray__head__cell[data-attrid=test_ddui_enum__enumstown_array]
{
    width:40%;
}

.dcpAttribute__content[data-attrid=test_ddui_enum__enumtown_array] .dcpAttribute__value--enumbuttons.orientation-horizontal.input-group .dcpAttribute__value--enumlabel,
.dcpAttribute__content[data-attrid=test_ddui_enum__enumstown_array] .dcpAttribute__value--enumbuttons.orientation-horizontal.input-group .dcpAttribute__value--enumlabel
{
    display: inline-block;
    width: 25%;
}

.dcpAttribute__content[data-attrid=test_ddui_enum__enumtext_array] .dcpAttribute__value--enumbuttons.orientation-horizontal.input-group .dcpAttribute__value--enumlabel,
.dcpAttribute__content[data-attrid=test_ddui_enum__enumstext_array] .dcpAttribute__value--enumbuttons.orientation-horizontal.input-group .dcpAttribute__value--enumlabel
{
    display: inline-block;
    width: 16.666%;
}
.dcpCustomTemplate[data-attrid=test_ddui_enum__fr_enumsimple] .col-md-4 ,
.dcpCustomTemplate[data-attrid=test_ddui_enum__fr_srvsimple] .col-md-4

{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}