<!DOCTYPE html>
<html>
<head>
    <title>[TEXT:Families configuration]</title>
    [CSS:CUSTOMREF]
    [JS:REF]

</head>
<body>

<div class="devel-right">
    <div class="family-filter"></div>
    <div class="scrolldiv">
<table class="develmain" data-filtertext="[TEXT:dcpdev:Filter families]">
    <thead>
    <tr><th>[TEXT:dcpdev:famicon]</th><th>[TEXT:dcpdev:famname]</th><th>[TEXT:depdev:famtitle]</th></tr>
    </thead>
    <tbody>

    </tbody>
    </table></div>
</div>
<div class="devel-left ">
    <div class="devel-init">
<img src="[IMG:searchsysdoc.png]" />
        </div>
</div>
</body>
</html>
