@import "../DDUI/dduiAssets/scss/corporate/variables.corporate";
$font-family-base: $ank-ui-font;
@import "../../public/uiAssets/externals/KendoUI/scss/variables";

html, body {
  font-size: 12px;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: $font-family-base;
}