<header class="dcpDocument__header dcpDocument__header--fixed">
    <img class="dcpDocument__header__icon" src="{{document.properties.icon}}" alt="Document icon"/>
    <span class="dcpDocument__header__title">{{document.properties.title}}</span>
    <span class="dcpDocument__header__revision">[[#i18n]]ddui::Revision :[[/i18n]] {{document.properties.revision}}</span>
    <span class="dcpDocument__header__revdate">{{document.properties.revdate}}</span>
    <div class="dcpDocument__header__family">{{document.properties.family.title}}</div>
</header>