<div class="dcpDocument__body container-fluid">
    <div class="dcpDocument__form form-horizontal">
        <div class="dcpDocument__frames">

        </div>
        <div style="display:none" class="dcpDocument__tabs">
            <ul class="dcpDocument__tabs__list nav nav-tabs">

            </ul>
            <div  class="dcpDocument__tabs__content tab-content">

            </div>
        </div>
    </div>
</div>