<header class="dcpDocument__header {{#document.properties.security.readOnly}} dcpDocument__header--readonly {{/document.properties.security.readOnly}}">
    <img class="dcpDocument__header__icon" src="{{document.properties.icon}}" alt="Document icon"/>
    <a class="dcpDocument__header__title" href="{{#document.properties.initid}}?app=DOCUMENT&id={{document.properties.id}}{{/document.properties.initid}}{{^document.properties.initid}}?app=DOCUMENT&id={{document.properties.family.name}}&mode=create{{/document.properties.initid}}">{{document.properties.title}}</a>
    <i style="display:none" title="[[#i18n]]ddui:Editing form[[/i18n]]" class="dcpDocument__header__modified fa fa-asterisk"></i>


    <div class="dcpDocument__header__family">{{document.properties.family.title}}</div>
</header>
