@import "../../../../lib/bootstrap/less/variables.less";
@import "menu/menu.less";
@import "../attributes/attribute.less";
@import "../../widgets/attributes/label/label";
@import "../../widgets/attributes/text/text";
@import "../../widgets/attributes/docid/docid";
@import "../../widgets/attributes/array/array";

@dcpHeaderHeight : 30px;

.dcpDocument__menu.navbar-fixed-top {
  top: @dcpHeaderHeight;
}

.dcpDocument__header {
  /* position: fixed;
   top: 0;*/
  line-height: @dcpHeaderHeight;
  background-color: @body-bg;
  width: 100%;
  z-index: 100;
  font-size: @dcpHeaderHeight/1.5;
}

.dcpDocument__header__icon {
  height: @dcpHeaderHeight;
}

.dcpDocument__header__family {
  display: inline;
  font-size: @dcpHeaderHeight/2;
  float: right;
  font-style: italic;
  margin-right: 10px;
}

.dcpDocument__footer {
  background-color: darken(@body-bg, 5%);
  text-align: center;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

body {
  margin-bottom: 20px;
}

.confirm--content {
  padding: 10px;
}

.confirm--buttons {
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 10px;
}

.confirm--body {
  position: relative;
}

.confirm--buttons button {
  min-width: 6em;
}

a:hover {
  text-decoration: none;
  background-color: lighten(@link-hover-color, 50%);
}

.dcpLoading--progressbar {
  display: block;
}

.dcpLoading--hide {
  transition: opacity 0.5s linear;
  opacity: 0;
}

.dcpDocument {
  opacity: 0;
}

.dcpDocument--show {
  transition: opacity 0.7s linear;
  opacity: 1;
}

.dcpLoading {
  background-color: @body-bg;
  width: 50%;
  padding: 10px;
  border: solid 1px darken(@body-bg, 5%);
  text-align: center;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.dcpLoading img {
  width: 2em;
}

