<header class="dcpDocument__header">
    <img class="dcpDocument__header__icon" src="{{document.properties.icon}}" alt="Document icon"/>
    <a class="dcpDocument__header__title" href="?app=DOCUMENT&id={{document.properties.id}}">{{document.properties.title}}</a>
    <div class="dcpDocument__header__family">{{document.properties.family.title}}</div>
</header>