<div class="dcpDocument__body container-fluid">
    <form class="dcpDocument__form form-horizontal" action="#" role="form">
        <div class="dcpDocument__frames">

        </div>
        <div class="dcpDocument__tabs">
            <ul class="dcpDocument__tabs__list nav nav-tabs">

            </ul>
            <div class="dcpDocument__tabs__content tab-content">

            </div>
        </div>
    </form>
</div>