<header class="dcpDocument__header">
   <img class="dcpDocument__header__icon" src="{{document.properties.icon}}" alt="Document icon"/>
    <a href="?app=DOCUMENT&action=VIEW&id={{document.properties.id}}">{{document.properties.title}}</a>
</header>