<div class="{{#hadButtons}}input-group{{/hadButtons}} margin-bottom-sm">
    <div class="input-group k-textbox dcpAttribute__value--enumbuttons orientation-{{renderOptions.editDisplay}}">
    {{#enumValues}}
        <label class="dcpAttribute__value--enumlabel{{#selected}} selected{{/selected}}">
            <input name="{{id}}"
                   {{^isMultiple}}type="radio"{{/isMultiple}}{{#isMultiple}}type="checkbox"{{/isMultiple}}
                   class="{{#hadButtons}}form-control{{/hadButtons}} dcpAttribute__value dcpAttribute__value--edit"
                   value="{{value}}" {{#selected}}checked="checked"{{/selected}}/>
            <div class="dcpAttribute__value--enumlabel--text">{{displayValue}}</div>
        </label>
    {{/enumValues}}
    </div>
    {{#hadButtons}}
        <span class="dcpAttribute__content__buttons input-group-addon">
        {{#renderOptions.buttons}}
            <button type="button" title="{{title}}" data-index="{{index}}"
                    class="dcpAttribute__content__button--extra btn btn-default btn-xs {{class}}">{{{htmlContent}}}</button>
        {{/renderOptions.buttons}}
            {{#deleteButton}}
                <button type="button" title="[[#i18n]]ddui::Delete : [[/i18n]]"
                        class="btn btn-default btn-xs dcpAttribute__content__button--delete"><i class="fa fa-times fa-fw"></i>
                </button>
            {{/deleteButton}}
    </span>
    {{/hadButtons}}
</div>