@import "../../../../../STYLE/BASE/Layout/variables";

.dcpAttribute--type--enum .dcpAttribute__value--multiple .dcpAttribute__content__value{
  display:block;
  float:left;
  clear:both;
}


.dcpAttribute__contentWrapper .k-dropdown-wrap  {
  height: (@attrInputHeight - 2 );
}

.dcpAttribute__contentWrapper .k-dropdown-wrap .k-input {
  height: (@attrInputHeight  - 2);
  padding-top:6px;
  box-sizing: border-box;
}


.dcpAttribute__contentWrapper .k-dropdown-wrap input.k-input {
  padding-top:4px;
}

/* set icon in right */
.dcpAttribute__contentWrapper .k-dropdown-wrap {
  padding-left: 1.9em;
  padding-right: 0;
}

/* set icon in right */
.dcpAttribute__contentWrapper .k-dropdown-wrap .k-select {
  left: 0;
  right: auto;
  padding-top:4px;
  height: (@attrInputHeight  - 4);
}

.dcpAttribute__contentWrapper .k-dropdown,
.dcpAttribute__contentWrapper .k-multiselect,
.dcpAttribute__contentWrapper .k-combobox {
  padding:0;
}


.dcpAttribute__contentWrapper .k-multiselect-wrap{
  border-radius: 0;
  padding: 2px;
}
.dcpAttribute__contentWrapper.has-error .k-dropdown-wrap {
  border-color : @brand-danger transparent @brand-danger @brand-danger;
}

.k-popup li.placeholder {
  color:@gray-light;
  display:none; /* no view place holder choice */
}
.k-dropdown span.k-input.placeholder, .k-multiselect .k-input.k-readonly {
  color:@gray-light;
}

.dcpAttribute__contentWrapper--enum .k-multiselect .k-button {
color: @text-color;
border-color: darken(@gray-lighter, 5%);
background-color: @gray-lighter;
}

.dcpAttribute__contentWrapper--enum  .k-multiselect .k-button:active {
 box-shadow: inset 0 0 10px 3px darken(@gray-lighter, 8%);
}

.dcpAttribute__contentWrapper .dcpAttribute__value--enumlabel input {
  height:auto;
  width:auto;
  background-color:transparent;
  border:none;
  /*display:none; *//* no see native radio */
}
.dcpAttribute__value--enumlabel.k-button {
  border-radius:0;
  border-style: none solid none none;
}
/*
.dcpAttribute--type--enum .dcpAttribute__value--enumlabel.k-button:first-child {
  border-radius:4px 0 0 4px;
}
.dcpAttribute--type--enum .dcpAttribute__value--enumlabel.k-button:last-child {
  border-radius:0 4px 4px 0;
  border-right-style: solid;
}
*/

.dcpAttribute__value--enumlabel {
  font-weight: normal;
}
.dcpAttribute__value--enumlabel.selected {
  background-color: @enum-selected-button-bg;
  color: @enum-selected-button-color;
}

.dcpAttribute__value--enumbuttons.orientation-horizontal {
  width:100%;
  padding:0;
  display:table;
}
.dcpAttribute__value--enumbuttons.orientation-horizontal.input-group {
  display:table;
  table-layout: fixed; /* same width for each item */
}
.dcpAttribute__value--enumbuttons.orientation-horizontal.input-group label{
  display:table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.dcpAttribute__value--enumbuttons.orientation-vertical {
  width:100%;
  padding:0;
}
.dcpAttribute__value--enumbuttons.orientation-vertical.input-group {

}
.dcpAttribute__value--enumbuttons.orientation-vertical.input-group label{
  display:block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}
.dcpAttribute__value--enumbuttons.orientation-vertical.input-group label span{
  margin-left: 1em;
}