.dcpAttribute--type--enum .dcpAttribute__content--multiple .dcpAttribute__content__value{
  display:block;
  float:left;
  clear:both;
}

.dcpAttribute__contentWrapper .k-dropdown-wrap ,
.dcpAttribute__contentWrapper .k-dropdown-wrap .k-input {
  height: (@attrInputHeight - 2 - 4);
  padding-top:4px;
}

.dcpAttribute__contentWrapper .k-dropdown {
  padding:0;
}

.dcpAttribute__contentWrapper.has-error .k-dropdown-wrap {
  border-color : @brand-danger transparent @brand-danger @brand-danger;
}

.k-popup li.placeholder {
  color:@gray-light;
  display:none; /* no view place holder choice */
}
.k-dropdown span.k-input.placeholder, .k-multiselect .k-input.k-readonly {
  color:@gray-light;
}

.dcpAttribute--type--enum .k-multiselect .k-button {
color: @btn-default-bg;
border-color: darken(@gray-light, 5%);
background-color: @gray-light;
}

.dcpAttribute--type--enum  .k-multiselect .k-button:active {
 box-shadow: inset 0 0 10px 3px darken(@gray-light, 8%);
}

.dcpAttribute__contentWrapper .dcpAttribute__content--enumlabel input {
  height:auto;
  width:auto;
  background-color:transparent;
  border:none;
  /*display:none; *//* no see native radio */
}
.dcpAttribute__content--enumlabel.k-button {
  border-radius:0;
  border-style: none solid none none;
}
/*
.dcpAttribute--type--enum .dcpAttribute__content--enumlabel.k-button:first-child {
  border-radius:4px 0 0 4px;
}
.dcpAttribute--type--enum .dcpAttribute__content--enumlabel.k-button:last-child {
  border-radius:0 4px 4px 0;
  border-right-style: solid;
}
*/

.dcpAttribute__content--enumlabel {
  font-weight: normal;
}
.dcpAttribute__content--enumlabel.selected {
  background-color: @btn-primary-bg;
  color: @btn-primary-color;
}

.dcpAttribute__content--enumbuttons.orientation-horizontal {
  width:100%;
  padding:0;
  display:table;
}
.dcpAttribute__content--enumbuttons.orientation-horizontal.input-group {
  display:table;
  table-layout: fixed; /* same width for each item */
}
.dcpAttribute__content--enumbuttons.orientation-horizontal.input-group label{
  display:table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}


.dcpAttribute__content--enumbuttons.orientation-vertical {
  width:100%;
  padding:0;
}
.dcpAttribute__content--enumbuttons.orientation-vertical.input-group {

}
.dcpAttribute__content--enumbuttons.orientation-vertical.input-group label{
  display:block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.dcpAttribute__content--enumbuttons.orientation-vertical.input-group label span{
  margin-left: 1em;
}