<span class="dcpAttribute__value dcpAttribute__value--read {{#isMultiple}}dcpAttribute__value--multiple{{/isMultiple}}"
      name="{{id}}">
    {{#attributeValues}}
        {{#renderOptions.htmlLink.url}}
        <a  class="dcpAttribute__content__link"
            target="{{renderOptions.htmlLink.target}}"
           {{#renderOptions.htmlLink.renderTitle}}title="{{renderOptions.htmlLink.renderTitle}}" {{/renderOptions.htmlLink.renderTitle}}
            href="{{renderOptions.htmlLink.url}}">
        {{/renderOptions.htmlLink.url}}
        <span class="dcpAttribute__content__value">{{displayValue}}</span>
        {{#renderOptions.htmlLink.url}}
        </a>
        {{/renderOptions.htmlLink.url}}
    {{/attributeValues}}
    {{{emptyValue}}}
</span>

{{#hadButtons}}
<span class="dcpAttribute__content__buttons">
    {{#renderOptions.buttons}}
    <button type="button" data-title="{{title}}" data-index="{{index}}"
            class="dcpAttribute__content__button--extra btn btn-default btn-xs {{class}}">{{{renderHtmlContent}}}</button>
    {{/renderOptions.buttons}}
</span>
{{/hadButtons}}