$tab-height: 3rem;

$background-color: #f9f9f9;
$background-color-button: #646464;
$background-color-button-hovered: #777777;
$background-color-tab: #f3f3f3;
$button-icon-color: #ffffff;
$border-color: #a9a9a9;
$tab-compact-color: #646464;
$selected-color: #a9a9a9;
$selected-header-footer-color: #777777;
$green-selected: #8ae234;
.hub-dock-component {
  background-color: $background-color;
  display: flex;
  transition: width 0.5s ease;

  .hub-dock-header,
  .hub-dock-footer {
    display: flex;
  }

  &.hub-dock--left,
  &.hub-dock--right {
    flex-direction: column;
    height: 100%;
    .hub-dock-entry-component {
      min-height: 5rem;
      &.entry-selected {
        box-shadow: 2.5px 0 0 $green-selected inset;
      }
    }
    .hub-dock-center {
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
      .hub-dock-entries {
        flex-direction: column;
      }
    }
  }

  &.hub-dock--top,
  &.hub-dock--bottom {
    flex-direction: row;
    width: 100%;
    .hub-dock-entry-component {
      min-width: 5rem;
      &.entry-selected {
        box-shadow: 2.5px 0 0 $green-selected inset;
      }
    }
    .hub-dock-center {
      border-bottom: 1px solid $border-color;
      border-top: 1px solid $border-color;
      .hub-dock-entries {
        flex-direction: row;
      }
    }
  }
  .hub-dock-header,
  .hub-dock-footer {
    background-color: $background-color-button;
    color: $button-icon-color;
  }

  .hub-dock-collapse-button {
    background-color: $background-color-button;
    color: $button-icon-color;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 4.5rem;
    flex-grow: 0;
    flex-shrink: 0;

    &:hover {
      background-color: $background-color-button-hovered;
    }
  }

  .hub-dock-center {
    flex: 1;
    display: flex;
    .hub-dock-entries {
      display: flex;
      flex: 1;

      .hub-dock-entry-component {
        min-width: 5rem;
        &.entry-selected {
          background-color: $selected-color;
        }
        & + .hub-dock-entry-component {
          border-top: 1px solid $border-color;
        }
      }
    }
  }
}
