$tab-height: 3rem;

$background-color: #FFFFFF;
$background-color-button: #646464;
$background-color-button-hovered: #F5F5F5;
$background-color-tab: #f3f3f3;
$button-icon-color: #ffffff;
$border-color: #a9a9a9;
$tab-compact-color: #646464;
$selected-color: rgba(21, 126, 251, 0.08);
$selected-header-footer-color: #777777;
$green-selected: #8ae234;


.hub-dock-component {
  background-color: $background-color;
  display: flex;
  transition: width 0.5s ease;

  .hub-dock-header,
  .hub-dock-footer {
    display: flex;
  }

  &.hub-dock--left,
  &.hub-dock--right {
    flex-direction: column;
    height: 100%;
    .hub-dock-entry-component {
      min-height: 5rem;
    }
    .hub-dock-center {
      .hub-dock-entries {
        flex-direction: column;
      }
    }
  }

  &.hub-dock--left {

    .hub-dock-header {
      border-top: 1px solid rgba(230, 230, 230, 0.5);
      border-bottom: 1px solid rgba(230, 230, 230, 0.5);
    }

    .hub-dock-footer {
      border-top: 1px solid rgba(230, 230, 230, 0.5);
      border-bottom: 1px solid rgba(230, 230, 230, 0.5);
    }
    .hub-dock-entry-component {
      &.entry-selected {
        border-left: 3px solid $green-selected;
      }
    }
  }

  &.hub-dock--right {

    .hub-dock-header {
      border-top: 1px solid rgba(230, 230, 230, 0.5);
      border-bottom: 1px solid rgba(230, 230, 230, 0.5);
    }

    .hub-dock-footer {
      border-top: 1px solid rgba(230, 230, 230, 0.5);
      border-bottom: 1px solid rgba(230, 230, 230, 0.5);
    }

    .hub-dock-entry-component {
      &.entry-selected {
        border-right:  3px solid $green-selected;
      }
    }
  }

  &.hub-dock--top {

    .hub-dock-header {
      border-left: 1px solid rgba(230, 230, 230, 0.5);
      border-right: 1px solid rgba(230, 230, 230, 0.5);
    }

    .hub-dock-footer {
      border-left: 1px solid rgba(230, 230, 230, 0.5);
      border-right: 1px solid rgba(230, 230, 230, 0.5);
    }

    .hub-dock-entry-component {
      &.entry-selected {
        border-top:  3px solid $green-selected;
      }
    }
  }

  &.hub-dock--bottom {

    .hub-dock-header {
      border-left: 1px solid rgba(230, 230, 230, 0.5);
      border-right: 1px solid rgba(230, 230, 230, 0.5);
    }

    .hub-dock-footer {
      border-left: 1px solid rgba(230, 230, 230, 0.5);
      border-right: 1px solid rgba(230, 230, 230, 0.5);
    }

    .hub-dock-entry-component {
      &.entry-selected {
        border-bottom:  3px solid $green-selected;
      }
    }
  }

  &.hub-dock--top,
  &.hub-dock--bottom {
    flex-direction: row;
    width: 100%;
    .hub-dock-entry-component {
      min-width: 5rem;
    }
    .hub-dock-center {
      .hub-dock-entries {
        flex-direction: row;
      }
    }
  }

  .hub-dock-collapse-button {
    color: #BEBEBE;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 4.5rem;
    flex-grow: 0;
    flex-shrink: 0;

    &:hover {
      background-color: $background-color-button-hovered;
    }
  }

  .hub-dock-center {
    flex: 1;
    display: flex;
    .hub-dock-entries {
      display: flex;
      flex: 1;

      .hub-dock-entry-component {
        min-width: 5rem;
        &.entry-selected {
          background-color: $selected-color;
          color: #157EFB;
          font-weight: bold;
        }
      }
    }
  }
}
