<div class="panel-body dcpArray__content dcpArray__content--open" data-attrid="{{id}}">
    <table class="dcpArray__table">
        <thead >
        <tr>
            {{#tools}}
                <th class="dcpArray__head__toolCell"></th>
            {{/tools}}
            {{#content}}
                <th class="dcpArray__head__cell dcpLabel dcpArray__head__cell--{{type}} {{#needed}}dcpAttribute--needed{{/needed}}" data-attrid="{{id}}">{{label}}{{#contentRenderOptions.helpLinkIdentifier}} <a class="dcpLabel__help__link" href="#action/document.help:{{contentRenderOptions.helpLinkIdentifier}}:{{id}}"><i class="fa fa-info-circle"></i></a>{{/contentRenderOptions.helpLinkIdentifier}}</th>
            {{/content}}
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="dcpArray__tools">
        {{#tools}}
        <div class="dcpArray__button dcpArray__button--add" title="[[#i18n]]ddui::Add new line[[/i18n]]">
        <button type="button" class="btn btn-default dcpArray__add" tabindex="-1">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button></div>
        <div class="dcpArray__button dcpArray__button--copy" title="[[#i18n]]ddui::Duplicate selected row[[/i18n]]">
        <button disabled="disabled" type="button"
                class="btn btn-default dcpArray__copy" tabindex="-1">
            <span class="glyphicon glyphicon-sound-dolby"></span>
        </button></div>
        {{/tools}}
    </div>
</div>
