<div class="panel-heading dcpArray__label dcpLabel" data-attrid="{{id}}">
    <span class="dcp__array__caret fa fa-caret-down fa-lg"></span>
    {{label}}
    {{#renderOptions.helpLinkIdentifier}}<a class="dcpLabel__help__link" href="#action/document.help:{{renderOptions.helpLinkIdentifier}}:{{id}}"><i class="fa fa-question-circle"></i></a>{{/renderOptions.helpLinkIdentifier}}
    {{#displayCount}}<span class="dcpArray__label--count">{{nbLines}}</span>{{/displayCount}}
</div>