.dcpAttribute__content .k-numeric-wrap ,
.dcpAttribute__content .k-numeric-wrap .k-formatted-value ,
.dcpAttribute__content .k-numeric-wrap .k-input {
  height: (@attrInputHeight - 2);
  padding-bottom: 0;
  padding-top: 0;
}

.dcpAttribute__content .k-numerictextbox {
  padding:0;
}

.dcpAttribute__content.has-error .k-numeric-wrap {
  border-color : @brand-danger transparent @brand-danger @brand-danger;
}