<div class="card-header css-frame-head dcpFrame__label {{#collapsable}} dcpFrame--collapsable {{/collapsable}} dcpLabel" data-attrid="{{id}}">
    {{#collapsable}}<span class="dcp__frame__caret fa fa-caret-down fa-lg"></span>{{/collapsable}}
    {{label}}
    {{#renderOptions.helpLinkIdentifier}}<a class="dcpLabel__help__link" href="#action/document.help:{{renderOptions.helpLinkIdentifier}}:{{id}}"><span class="fa fa-question-circle"></span></a>{{/renderOptions.helpLinkIdentifier}}
</div>