.smart-element-grid-header {
  display: flex;
  position: relative;
}

.smart-element-grid-header-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;

  .k-link {
    flex: 1;
  }
}

.smart-element-grid-header--subtitle {
  color: #666;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
}

.smart-element-grid-header--title,
.smart-element-grid-header-title-wrapper {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.smart-element-grid-header--title {
  justify-content: space-between;
}

.smart-element-header-sort-button,
.smart-element-grid-header-filter-button-wrapper {
  margin-left: 0.5rem;
  cursor: pointer;
  &.smart-element-header-sort-button--none::after {
    content: "\e127\e128";
    font-style: normal;
    font-family: "WebComponentsIcons";
    letter-spacing: -0.4rem;
  }
}

.smart-element-grid-header-filter-button-wrapper {
  padding: .10rem;
  border-radius: 0.25rem;
}

.smart-element-grid-header-filter--is-filtered {
  color: white;
  background-color: #157efb;
}

.smart-element-grid-header-filter--is-active {
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.5) inset;
}

.smart-element-grid-filter-content {
  padding: 0;
  width: 16.8rem;
  min-height: 23rem;
  height: 22.8rem;
}

.k-state-filter-button-active,
.k-state-filter-button-active:hover {
  color: var(--white);
  background-color: #157EFB;
}
