/*.app
*.webinst
*~
*#
ide/vendor/
node_modules/
tmpot/
src/public/login/dist/
src/public/Anakeen/
src/public/uiAssets/
src/public/Images/
src/vendor/Anakeen/Components/translation.json
Tests/src/public/Anakeen
src/public/uiAssets/
Makefile.local
.anakeen-cli.xml
/.idea/workspace.xml
/.cibuild/targets/*/outputs/*
*.src
components/lib
components/public
lib
/.idea/webServers.xml
/.idea/dictionaries/charles.xml
/.idea/deployment.xml
/.idea/jsLibraryMappings.xml
