.document {
  font-family: $ank-ui-font;
  background-color: $ank-ui-color-body-background;
  color: $ank-ui-color-font-document;
}

.dcpDocument__body {
  padding-left: 0;
  padding-right: 0;
}

.dcpDocument__header {
  min-height: 3.75rem;
  display: flex;
  align-items: center;

  img.dcpDocument__header__icon {
    height: 1.666rem/1.5;
    width: auto;
  }
}

.dcpDocument__header a.dcpDocument__header__title {
  color: $ank-ui-color-text;
  margin: $ank-ui-header-title-margin;
  text-decoration: none;
  font-family: $ank-ui-title-font-variant;
  font-weight: normal;
  flex: 1;
}

.dcpDocument__header__family {
  line-height: 3;
  font-style: normal !important;
  font-weight: lighter;
  margin-right: 1.666rem !important;
}

.card-default {
  border: none;
}

.k-icon {
  color: $ank-ui-color-picto;
}