@menu-before-width : 12px;

.menu__content {
  padding: 0;
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.menu__content li.menu--workflow:last-child {
  border-right:none;
}

.menu__content .k-menu .k-item > .k-link {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.menu--separator.k-state-default {
  background-color: inherit;
  border-color: @dropdown-divider-bg;
  border-style: solid;
  cursor: default;
}

.k-menu .k-group .k-item.menu--separator.k-state-default {
  border-width: 1px 0 1px 0;
}

.menu--separator.k-state-default .k-link {
  cursor: default;
}

.menu--error {
  background-color:@brand-danger;
  color:@btn-danger-color;
  padding:1em;
}

.menu--fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: @dropdown-bg;

}

.menu__element .k-image {
  width: @menu-before-width;
}

.menu__before-content {
  display: inline-block;
  width: @menu-before-width;
}

.menu__before-content .fa {
  font-size: 1.2em;
}

.menu--transition-unknow .fa {
  color: red;
  position: absolute;
  right: 0;
}

.menu--transition-unknow {
  position: relative;
  width: ~"calc(100% - 15px)";
  display: inline-block;
  padding-right: 15px;
}

.menu--count {
  padding-left:0.2em;
}

.k-menu .k-item.menu_element--hamburger {

}
.k-menu .k-item.menu--right {
  float: right;
    border-left-width: 1px;
    border-right-width: 0;
}

.k-menu .menu_element--hamburger  .k-item.menu--right {
  float: none;
}

.menu--separator.menu--workflow,
.menu--separator.menu--workflow.k-state-hover,
.menu--separator.menu--workflow.k-state-hover:hover {
  background-color: inherit;
}

.menu--workflow-color {
  margin-left:0.5em;
}

div[data-role=draggable] .k-window-title {
  cursor: move;
}

.menu--loading {
  padding: 2em 5em;
}

.menu--right.k-item > .k-animation-container{
  right:0;
  left:auto! important; /* need to correct kendo bug when scrollbar is visible */
}

.menu--right.k-item > .k-animation-container ul{
  right: 0;
}

.k-menu .k-menu-group .tooltip {
  white-space: normal;
}

.dcpTouch .listmenu__content .menu__element{
  padding-top: 0.4em;
}