$collapsedSize: 4.16666rem;
$leftPaneSize: 25vw;

.documentsList__documents__wrapper {
  margin-left: $collapsedSize;
  background-color: #FFFFFF;

  .k-loading-mask {
    background-color: #000000;
    opacity: 0.6;
    z-index: 2000;

    .k-loading-image {
      &:before, &:after {
        color: #FFFFFF;
      }
    }
  }
}

.documentsList__documents__wrapper,
.documentsList__documents {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(#{$leftPaneSize} - #{$collapsedSize});
}

.documentsList__documents,
.documentsList__documents__list {
  background-color: #FFFFFF;
}

.documentsList__documents__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 100%;
  margin-bottom: 0px;
}

.documentsList__documents__header__label {
  line-height: 3em;
}

.documentsList__documents__header__label {
  height: 37px;
  line-height: 3em;
  overflow-x: hidden;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
  border-top: 1px solid #e6e6e6;
}

.documentsList__documents__search__wrapper {
  background-color: #eee;
  padding-top: 7px;
}

.documentsList__documents__search {
  padding: 10px 20px;
}

.documentsList__documents__summary__wrapper {
  padding-bottom: 8px;
  background-color: #eee;
}


.documentsList__documents__summary {
  padding-right: 10px;
  text-align: right;
  justify-content: center;
  border: none;
  height: 28px;

  .k-pager-first, .k-pager-last {
    display: none;
  }
  .k-pager-info.k-label {
    font-weight:bold;
    flex: 0 1 auto;
  }
}

.documentsList__documents__list {
  flex: 1;
  border: none;
}
.documentsList__documentCard {
  height: 45px;
  &:hover {
    color: #00b4fc;
  }

  &.k-state-selected {
    box-shadow: inset 4px 0px 0px 0px #8AE234;
    background-color: #F4F4F4;
    color: #00b4fc;
    font-weight: 600;
  }
}
.documentsList__documentCard__body {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px 10px 20px;
}


.documentsList__documentCard__heading__content_icon {
  padding: 0 1em 0 0;
}

.documentsList__documents__logo__img {
  width: 103px;
  height: 21px;
}

.documentsList__documents__list__pager_wraper {
  display: flex;
  flex-direction: row;
  height: 28px;
  .k-dropdown  {
    width: 38px;
    .k-dropdown-wrap .k-select {
      display: none;
    }
  }
}

.documentsList__documents__list__pager {
  display: flex;
  flex: 1;
  padding-left: 0;
  padding-right: 0;
  .k-pager-input.k-label {
    flex: 1;
    margin-left: 0;
    .k-textbox {
      flex: 1;
      text-align: center;
      margin-left: 0;
    }
  }
}