.documentsList__documents__wrapper {
  .documentsList__documents__list {

    .documentsList__documentCard {
      width: 94%;
      border: 1px solid #ccc !important;
      margin-bottom: 1rem;
      box-shadow: #e1e1e1 0.25rem 0.25rem 0.15rem !important;
      transition: transform .2s ease, box-shadow .2s ease, border-left .2s ease;

      &.k-state-selected {
        transform: scale(1.03);
        box-shadow: #e1e1e1 0.45rem 0.45rem 0.15rem !important;
        border-left: 3px solid $A4-ui-color-client !important;
      }
    }
  }
}