.dcpAttribute__content .k-datetimepicker {
  padding: 0;
}

.dcpAttribute__content .k-datetimepicker .k-picker-wrap {
  padding-left: 3.8em;
  padding-right: 0;
}

.dcpAttribute__content .k-datetimepicker .k-input {
  padding: 0.5rem 1.25rem;
}