.documentsList__collapsible__handler:hover,
.documentsList__collapsible__handler:active,
.documentsList__collapsible__handler:focus {
  color: #00b4fc;
}

.documentsList__collapsible__handler {
  font-size: 10px;
  background-color: #fafafa;
  color: #505050;
}

.documentsList__collapsible__handler {
  right: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 24px;
  text-align: center;
  cursor: pointer;
  z-index: 700;
  background-color: #FFFFFF;
  text-transform: uppercase;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
  transition: left 1s;
}

.documentsList__collapsible__handler::before,
.documentsList__collapsible__handler::after {
  font-family: FontAwesome;
  content: "\f142";
  padding: 0 5px;
  display: block;
  position: absolute;
  width: 100%;
  top: 10px;
}

.documentsList__collapsible__handler__label {
  transform: translateX(-50%) translateY(-50%) rotateZ(-90deg);
  position: relative;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  float: left;
}

.documentsList__splitter__wrapper {
  border: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  .mainPane {
    flex: 1;
    transition: left 1s, width 1s;
    & > * {
      height: 100%;
    }
  }

  .k-splitbar {
    display: none;
  }

  .leftPane {
    overflow: initial !important;
  }
}