<div class="shadow gradient customGradient">
    <p>Mon label est : {{attributes.test_ddui_all__title.label}} </p>
    <p>mon attributeId est : {{attributes.test_ddui_all__title.id}} </p>
    <p>Ma valeur est : {{attributes.test_ddui_all__title.attributeValue.value}} </p>
    <p> mon designer est toto</p>
</div>