
.dcpAttribute__contentWrapper .k-picker-wrap ,
.dcpAttribute__contentWrapper .k-picker-wrap .k-formatted-value ,
.dcpAttribute__contentWrapper .k-picker-wrap .k-input {
  height: (@dcpInputHeight - 2);
}


.dcpAttribute__contentWrapper .k-datepicker {
  padding:0;
}

.dcpAttribute__contentWrapper .k-datepicker .k-i-calendar {
  margin-top:6px;
}


.dcpAttribute__contentWrapper.has-error .k-picker-wrap {
  border-color : red transparent red red;
}