@import "../../../lib/bootstrap/3/less/variables.less";


//Attribute size
@dcp-font-size : 12px;
@dcp-line-height: 1.2;
@dcp-input-height : 30px;

//Document size
@dcp-header-height : 30px;

// Enum color
@enum-selected-button-bg : @btn-primary-bg;
@enum-selected-button-color: @btn-primary-color;