/* Color Custom Css */

.k-flatcolorpicker .k-controls > button.k-button {
    width:11rem;
}

.dcpAttribute__content--color[data-attrid=tst_color2]  .dcpAttribute__value {
    border-style: solid;
    border-radius: 50%;
    width: 1rem;
    display: block;
    overflow: hidden;
    border-width: 3rem;
    animation:blinkcolor 3.5s infinite;
}
.dcpAttribute__content--color[data-attrid=tst_color3]  .dcpAttribute__value {
    border-style: solid;
    border-radius: 1rem;
    width: 1rem;
    display: block;
    overflow: hidden;
    border-width: 3rem;
    animation:blinkcolor 7s infinite;

}


@keyframes blinkcolor {
    50% {
        border-color: white;
    }
}