<div class="panel-body dcpArray__content dcpArray__content--open" data-attrid="{{id}}">
    <table class="table table-condensed table-hover table-bordered responsive">
        <thead data-attrid="{{id}}">
        <tr class="dcpArray__head">
            {{#tools}}
                <th class="dcpArray__head__toolCell"></th>
            {{/tools}}
            {{#content}}
                <th class="dcpArray__head__cell dcpLabel dcpArray__head__cell--{{type}} {{#needed}}dcpAttribute--needed{{/needed}}" data-attrid="{{id}}">{{label}}</th>
            {{/content}}
        </tr>
        </thead>
        <tbody class="dcpArray__body" data-attrid="{{id}}">

        </tbody>
    </table>
    <div class="dcpArray__tools">
        {{#tools}}
        <div class="dcpArray__button dcpArray__button--add" title="[[#i18n]]ddui:Add new line[[/i18n]]">
        <button type="button" class="btn btn-default dcpArray__add">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button></div>
        <div class="dcpArray__button dcpArray__button--copy" title="[[#i18n]]ddui:Duplicate selected row[[/i18n]]">
        <button disabled="disabled" type="button"
                class="btn btn-default dcpArray__copy">
            <span class="glyphicon glyphicon-sound-dolby"></span>
        </button></div>
        {{/tools}}
    </div>
</div>
<style>
{{renderOptions.arrayBreakPoints.transpositionRule}}

{
    .dcpArray__content[data-attrid={{id}}] .dcpArray__content[data-attrid={{id}}] table.responsive {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    .dcpArray__content[data-attrid={{id}}] table.responsive,
    .dcpArray__content[data-attrid={{id}}] table.responsive tbody,
    .dcpArray__content[data-attrid={{id}}] table.responsive th,
    .dcpArray__content[data-attrid={{id}}] table.responsive td,
    .dcpArray__content[data-attrid={{id}}] table.responsive tr {
        display: block;
    }

    .dcpArray__content[data-attrid={{id}}] table.responsive thead {
        display: none;
    }

    .dcpArray__content[data-attrid={{id}}] .dcpArray__content__toolCell__delete {
        float: left;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .dcpArray__content[data-attrid={{id}}] table.responsive th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .dcpArray__content[data-attrid={{id}}] table.responsive tr {
        border-color: #eeeeee;
        border-width: 1px;
        border-style: none solid solid solid;
    }

    .dcpArray__content[data-attrid={{id}}] table.responsive tr:nth-of-type(even) {
        background-color: #eeeeee;
    }

    .dcpArray__content[data-attrid={{id}}] table.responsive > tbody > tr > td {
        /* Behave  like a "row" */
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        min-height: 3em;
    }

    .dcpArray__content[data-attrid={{id}}] table.responsive > tbody > tr > td:before,
    .dcpArray__content[data-attrid={{id}}] table.responsive > tbody > tr > td:after {
        content: " ";
        display: table;
    }

    .dcpArray__content[data-attrid={{id}}] table.responsive > tbody > tr > td:after {
        clear: both;
    }

    .dcpArray__content[data-attrid={{id}}] table.responsive .dcpAttribute__content:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        word-break: break-word;
    }

    .dcpArray__content[data-attrid={{id}}] .dcpArray__content__toolCell,
    .dcpArray__content[data-attrid={{id}}] table.responsive > tbody > tr > td.dcpArray__content__toolCell {
        width: 100%;
        border-top: 0;
        padding-left: 5px;
    }

}
</style>