<div class="panel-body dcpArray__wrapper">
    <div class="table-responsive">
        <table class="table table-condensed table-bordered dcpArray__wrapper">
            <thead>
            <tr class="dcpArray__head">

            </tr>
            </thead>
            <tbody class="dcpArray__body">

            </tbody>
        </table>
    </div>
</div>