/* Color Custom Css */

.k-flatcolorpicker .k-controls > button.k-button {
    width:11rem;
}

.dcpAttribute__content--color[data-attrid=tst_color3] .dcpAttribute__content__color__tag,
.dcpAttribute__content--color[data-attrid=tst_color2] .dcpAttribute__content__color__tag {

    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: inline-block;
    overflow: hidden;
    animation:blinkcolor 3.5s infinite;
}
.dcpAttribute__content--color[data-attrid=tst_color2]  .dcpAttribute__value {
}
.dcpAttribute__content--color[data-attrid=tst_color3]  .dcpAttribute__content__color__tag {
    border-radius: 0;
    animation:blinkcolor 7s infinite;
}


@keyframes blinkcolor {
    50% {
        background-color: white;
    }
}