.grid-pager {
  border-top: 1px solid #ddd;
  width: 100%;

  .k-link,
  .k-pager-nav {
    border: none;
    border-radius: 10%;
  }

  .k-pager-numbers {
    display: none;
  }

  .k-pager-sizes {
    display: inline !important;
  }
}
