

.dcpDocument .tooltip-inner {
  font-size : 1.2em;
}

.tooltip.dcpAttribute__editlabel {
  min-width:100px;
}

.tooltip.dcpAttribute__editlabel .tooltip-inner {
  background-color: $info;
  color: #ffffff;
  word-wrap: break-word;
}
.tooltip.dcpAttribute__editlabel.bs-tooltip-top .arrow::before {
  border-top-color: $info;
}
.tooltip.dcpAttribute__editlabel.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $info;
}


.tooltip.dcpAttribute__linkvalue .tooltip-inner {
  background-color: $info;
  color: $A4-ui-color-picto-colored;
  word-wrap: break-word;
}
.tooltip.dcpAttribute__linkvalue.tooltip.top .arrow {
  border-top-color: $info;
}
.tooltip.dcpAttribute__linkvalue.tooltip.bottom .arrow {
  border-bottom-color: $info;
}

.tooltip.has-error .tooltip-inner {
  background-color: $error;
  color: $A4-ui-color-picto-colored;
  max-width:400px;
  word-wrap: break-word;
}
.tooltip.has-error.bs-tooltip-top .arrow::before {
  border-top-color: $error;
}

.tooltip.bs-tooltip-top .arrow {
  bottom: 5px;
}

.tooltip.has-error.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $error;
}

