.filter {
    width: 100%;
}

.colorElement {
    width: 25px;
    height: 25px;
}

.multiple.firstLevel {
    display: block;
    padding-top: 0.2em;
}

span.stateColor {
    border-style: none none none solid;
    padding-left: 3px;
    border-width: 0 10px 1px 10px;
    text-decoration: none;
}

.removeButton {
    padding : 0;
    border : none;
}

.type--money {
    text-align: right;
}
div.dataTables_processing {
    background: #008dc5;
    color:white;
}

.dg-selectcolumn-menu {

    position:absolute;
    top:0;
    right:0;
}
.dg-selectcolumn-menu > li{
    width:100%;
}
.dg-selectcolumn-menu > li.k-item span.k-link {
    padding: 7px 7px;
}
.dg-selectcolumn-menu .k-animation-container > ul {
    max-height: 90vh;
}

.document-grid th {
    position:relative;
}

.dg-selectcolumn li {
    font-weight: normal;
}


.dg-selectcolumn >  li.dg-select-visible {
    font-weight: bold;
}

.dg-selectcolumn >  li .k-link:before {
    content :" \f1db";
    font-family: FontAwesome;
    margin-right: 3px;
}

.dg-selectcolumn >  li.dg-select-visible .k-link:before {
   content :" \f00c";
    font-family: FontAwesome;
    margin-right: 3px;
}
img.docIcon.gridIcon {
    vertical-align: top;
    margin-right: 2px;
}
table.document-grid {
    table-layout: auto;
}

table.document-grid thead th {
  min-width:5em;
}
table.document-grid thead th.cell-openDoc {
    min-width:inherit;
}
table.document-grid td {
    overflow:hidden;
}