.guide-main {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content .guide-section {
  flex-grow 1;
  flex-basis 0;
  flex-shrink 0;
  border:solid 1px $green;
  background-color:$green;
  color:$sidebar-bg;
  min-width:10rem;
  position:relative;
  margin:0.5rem;
  border-radius:0.3rem;
  cursor:pointer;
  text-align center;
  vertical-align center;

  a {
    margin:1rem;
    height: calc(100% - 2rem);
    display: block;
    color:$sidebar-bg;
    font-size:1rem;

    &:hover {
      text-decoration none;
    }
  }

  .fa {
    margin-bottom:1rem;
    font-size:3rem;
  }

  &:hover {
    background-color:$sidebar-fg
  }
}