<!DOCTYPE html>
<html>
<head>
    <title>DDUI Testing interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    [CSS:CUSTOMREF]
    [BLOCK JS_LINKS]
    <script type="text/javascript" src="[src]"></script>
    [ENDBLOCK JS_LINKS]
    [JS:REF]

    <script>
        require.config({
            //noinspection Annotator
            "paths": {
                "dcpDocument": "uiAssets/anakeen/IHM",
            }
        });
    </script>
</head>
<body>

  <div class="systemLeft">

  </div>
  <div class="systemRight"></div>



</body>
</html>