//Letters colors
$green_main: #93C648;
$white: #FFF;
$black: #263438;

.white-logo .main-letter {
  fill: #93C648;
}

.white-logo .letter {
  fill: #FFF;
}

.white-logo .st0 {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.white-logo .moving-path {
  background: linear-gradient(to right, rgba(221, 221, 221, 0) 0%, #dddddd 20%, #dddddd 100%);
}

.black-logo .main-letter {
  fill: #93C648;
}

.black-logo .letter {
  fill: #263438;
}

.black-logo .st0 {
  fill: #263438;
  stroke: #263438;
  stroke-width: 0.25;
  stroke-miterlimit: 10;
}

.black-logo .moving-path {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 20%, white 100%);
}

.black-logo.isotype path.line {
  stroke: #000;
}

.dcpLoading--logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;

  width: 20%;
  min-width: 20rem;
  padding: 3em;
  overflow: hidden;
  margin-top: 10rem;
}

.dcpLoading--logo .text-logo, .dcpLoading--logo .main-logo {
  margin: 0 auto;
  width: 100%;
}

.dcpLoading--logo .text-logo svg, .dcpLoading--logo .main-logo svg {
  overflow: visible;
  width: 100%;
}

.dcpLoading--logo .text-logo _:-ms-input-placeholder, :root .dcpLoading--logo .text-logo {
  margin-bottom: -2.2rem;
}

.dcpLoading--logo.isotype {
  height: 20%;
}

.dcpLoading--logo.isotype .main-logo {
  height: 100%;
}

.dcpLoading--logo.isotype .main-logo svg.bounce {
  width: 20%;
  margin: 0 auto;
  display: block;
}

.main-logo {
  position: relative;
  .cls-1 {
    fill: none;
  }

  .cls-2 {
    clip-path: url(#clip-path);
  }

  .cls-3, .cls-6 {
    fill: #222d32;
  }

  .cls-4 {
    fill: #88be3b;
  }

  .cls-5 {
    clip-path: url(#clip-path-2);
  }

  .cls-6 {
    stroke: #222d32;
    stroke-width: 2px;
  }
}

.main-logo .moving-path {
  opacity: 0;
  width: 130%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%, 0);
}

.dcpLoading--content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.dcpLoading--content + .dcpLoading--content {
  margin-top: 2px;
}

.dcpLoading {
  padding: 0;
  border: none;
  text-align: center;
  position: fixed;
  display:flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  line-height: 1px;
  z-index: 11;
  background-color: white;
}
