.documentsList__createButton {
  width: 110px;
  height: 35px;
  background-color: #157EFB;
  padding: 0 !important;

  &.k-menu:not(.k-context-menu) > .k-item > .k-link.k-state-active {
    color: #FFFFFF;
  }

  &.k-menu:not(.k-context-menu) > .k-item.k-state-hover > .k-link {
    color: #FFFFFF;
  }

  .documentsList__createButton__button {
    width: 100%;
    height: 100%;

    & > .k-link {
      font-family: 'Roboto-Bold';
      padding: 0 0 0 1rem !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #157EFB;
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 700;

      .k-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        flex: .75;
        color: white;
        border-left: 1px solid white;
        height: 100%;
      }
    }

  }
}