.documentsList__createButton {
  width: 110px;
  height: 35px;
  background-color: #157EFB;
  padding: 0 !important;

  .documentsList__createButton__button {
    width: 100%;
    height: 100%;
   & > .k-link {
      padding-right: 0 !important;
      padding-top: 0!important;
      padding-bottom: 0!important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #157EFB;
      color: #FFFFFF;
      text-transform: uppercase;
      font-weight: 700;

      .k-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        flex: .75;
        color: white;
        border-left: 2px solid white;
        height: 100%;
      }
    }

  }
}