.history-level--revision .history-message {
  font-weight: bold;
}

.history-level--error .history-message {
  color: @brand-danger;
}

.history-level--warning .history-message {
  color: @brand-warning;
}

.history-level--notice .history-message {
  color: @gray;
}
.history-message {
  white-space: pre-line;
}

.history-date, .history-owner {
  white-space: nowrap;
}

.history-header {
  background-color: @gray-lighter;
  font-weight: bold;
}

.history-separator .history-separator-cell {
  /*border-top: solid 3px @gray;*/
}

.history-header .history-owner {
  font-style: normal;
}

.history-owner {
  font-style: italic;
}

.history-state-color {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 0.5em;
  border: solid 1px @gray-light;
}

.history-button-showdetail {
  margin-left: 10px;
}
.history-main.table td {
  vertical-align: middle;
}
.document-history .dataTables_filter {

}

.history-button-shownotice {
}

.document-history tbody > tr > th {
  padding-left: 18px;
  padding-right: 18px;
}
.history-button-showdetail {
  margin-right:10px;
}

.document-history * {
  box-sizing: border-box;
}

