.white-logo .main-letter {
    fill: #93C648;
}

.white-logo .letter {
    fill: #FFF;
}

.white-logo .st0 {
    fill: #FFF;
    stroke: #FFF;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.white-logo .moving-path {
    background: linear-gradient(to right, rgba(221, 221, 221, 0) 0%, #dddddd 20%, #dddddd 100%);
}

.black-logo .main-letter {
    fill: #93C648;
}

.black-logo .letter {
    fill: #263438;
}

.black-logo .st0 {
    fill: #263438;
    stroke: #263438;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.black-logo .moving-path {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 20%, white 100%);
}

.black-logo.isotype path.line {
    stroke: #000;
}

.dcpLoading--logo {
    width: 20%;
    min-width: 20rem;
    padding: 3em;
    overflow: hidden;
    margin-top: 10rem;
}

.dcpLoading--logo .text-logo, .dcpLoading--logo .main-logo {
    margin: 0 auto;
    width: 100%;
}

.dcpLoading--logo .text-logo svg, .dcpLoading--logo .main-logo svg {
    overflow: visible;
    width: 100%;
}

.dcpLoading--logo .text-logo _:-ms-input-placeholder, :root .dcpLoading--logo .text-logo {
    margin-bottom: -2.2rem;
}

.dcpLoading--logo.isotype {
    height: 20%;
}

.dcpLoading--logo.isotype .main-logo {
    height: 100%;
}

.dcpLoading--logo.isotype .main-logo svg.bounce {
    width: 20%;
    margin: 0 auto;
    display: block;
}

.dcpLoading--logo.isotype .main-logo svg.bounce > * {
    animation: bounce-isotype infinite 800ms alternate ease-in-out;
}

.main-logo {
    position: relative;
}

.main-logo svg.bounce > * {
    animation: bounce infinite 2500ms normal ease-in-out;
    opacity: 1;
}

.main-logo svg.bounce > *:nth-child(1) {
    animation-delay: 0ms;
}

.main-logo svg.bounce > *:nth-child(2) {
    animation-delay: 50ms;
}

.main-logo svg.bounce > *:nth-child(3) {
    animation-delay: 100ms;
}

.main-logo svg.bounce > *:nth-child(4) {
    animation-delay: 150ms;
}

.main-logo svg.bounce > *:nth-child(5) {
    animation-delay: 200ms;
}

.main-logo svg.bounce > *:nth-child(6) {
    animation-delay: 250ms;
}

.main-logo svg.bounce > *:nth-child(7) {
    animation-delay: 300ms;
}

.main-logo .moving-path {
    opacity: 0;
    width: 130%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, 0);
    animation: slide-right infinite 2500ms normal ease-in;
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translate(-20%, 0);
    }
    35% {
        opacity: 0;
        transform: translate(-20%, 0);
    }
    50% {
        opacity: 1;
        transform: translate(-20%, 0);
    }
    75% {
        transform: translate(100%, 0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1);
        opacity: 1;
    }
    85% {
        transform: scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes bounce-isotype {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 0.5;
    }
}

html, body {
    margin: 0;
}

.dcpLoading--content {
    background-color: #FFF;
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.dcpLoading--content + .dcpLoading--content {
    margin-top: 2px;
}

.dcpLoading {
    padding: 0;
    border: none;
    text-align: center;
    position: fixed;
    display:flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    line-height: 1px;
    z-index: 11;
    background-color: white;
}