.dcpAttribute__label label{
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-bottom: 0;
}

.dcpAttribute__label {
  &:after {
    content: ":";
    padding-left:0.6em;
  }
}

.dcpDocument--edit {
  .dcpAttribute--needed .dcpAttribute__label {
    font-weight: bold;
  }

  .dcpAttribute--needed .dcpAttribute__label:after {
    content: "*\0000a0:";
    padding-left: 0.1em;
  }
}

.dcpAttribute__label.has-error {
  color: @brand-danger;
}

.dcpDocument--edit .dcpAttribute--visibility--W .dcpAttribute__label,
.dcpDocument--edit .dcpAttribute--visibility--O .dcpAttribute__label {
  padding-top:(@padding-base-vertical + 4);
}

.dcpLabel__help__link--selected {
  color:@brand-success;
}