<label for="{{viewCid}}">{{label}}</label>
{{#renderOptions.helpLinkIdentifier}}<a class="dcpLabel__help__link" href="#action/document.help:{{renderOptions.helpLinkIdentifier}}:{{id}}"><span class="fa fa-question-circle"></span></a>{{/renderOptions.helpLinkIdentifier}}