<label for="{{viewCid}}">{{label}}</label>
{{#renderOptions.helpLinkIdentifier}}<a class="dcpLabel__help__link" href="#action/document.help:{{renderOptions.helpLinkIdentifier}}:{{id}}"><i class="fa fa-question-circle"></i></a>{{/renderOptions.helpLinkIdentifier}}