.smart-criteria-wrapper {
  display: flex;
  flex-direction: column;

  .smart-criteria-form {
    height: 100%;

    .dcpDocument__header {
      min-height: 0;

      .dcpDocument__header__title {
        margin: 0.5rem;
      }
    }

    section.dcpDocument__body.container-fluid {
      padding: 0;
      background: white;

      .dcpDocument__tabs {
        padding: 0;

        ul.dcpDocument__tabs__list.k-tabstrip-items.k-reset {
          display: none;
        }

        [data-attrid=sc_tab] {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          border: none;

          .dcpFrame[data-attrid^=sc_criteria_] {
            box-shadow: black 0 0 0 0;
            margin: 0;
            padding: 0;

            .dcpFrame__content[data-attrid^=sc_criteria_] {
              flex-direction: row;
              padding-bottom: 0.5rem;
            }

            .dcpAttribute[data-attrid^=sc_label_operator_] {
              flex-basis: 100%;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0.5rem;
            }

            .dcpAttribute[data-attrid^=sc_operator_] {
              flex-basis: 25rem;
              flex-grow: 0;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 0.5rem;
              min-width: 10rem;
              padding-right: 1rem;
              .dcpAttribute__content--widget {
                margin-bottom: 0;
                span.k-input {
                  display: inline;
                }
              }
            }

            .dcpAttribute[data-attrid^=sc_value_] {
              min-width: 10rem;
              margin-bottom: 0.5rem;
              flex: 1;


              margin-left: 0;
              margin-right: 0;
              .dcpAttribute__content.dcpAttribute__content--widget {
                display: flex;
                flex-direction: column;
              }
            }

            .dcpAttribute[data-attrid^=sc_value_multiple] {
              min-width: 10rem;
              margin-bottom: 0.5rem;
              flex: 1;


              margin-left: 0;
              margin-right: 0;

              .row {
                display: flex;
                flex-direction: column;
              }
            }

            .dcpAttribute[data-attrid^=sc_label_value_between_] {
              flex: 0;
              margin-left: 0.8rem;
              margin-right: 0.8rem;
            }

            .dcpAttribute--type--date,.dcpAttribute--type--time,.dcpAttribute--type--timestamp,.dcpAttribute--type--int,.dcpAttribute--type--double,.dcpAttribute--type--money {
              &[data-attrid^=sc_value_] {
                max-width: 20rem;
              }
            }

            .dcpAttribute[data-attrid^=sc_value_between] {
              flex: 1;
              margin-left: 0;
              margin-right: 0;
              .dcpAttribute__content {
                padding: 0;
              }

              .dcpLabel {
                flex-basis: 0;
                white-space: nowrap;
              }

              .dcpAttribute__label:after {
                content: none;
              }

              .row {
                display: flex;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }

  .smart-criteria-input {
    display: flex;
    flex-direction: row-reverse;
    background: white;

    .smart-criteria-input-button {
      margin: 1rem 2rem;
    }
  }
}

.smart-criteria-value-hidden {
  display: none;
}