@import "./STYLE/custom-scss-variable.d/global_variables.scss";

.dcpAttribute--type--enum .dcpAttribute__value--multiple .dcpAttribute__content__value {
  display: block;
  float: left;
  clear: both;
}

.dcpAttribute__content .k-dropdown-wrap {
  height: $ank-ui-input-height;
}

.dcpAttribute__content .k-dropdown-wrap .k-input {
  height: 100%;
  padding-top: 0.5rem;
}

.dcpAttribute__content .k-dropdown .k-dropdown-wrap .k-input {
  background-color: $white;
  border-radius:  0 $border-radius-base $border-radius-base 0;

}

/* set icon in right */
.dcpAttribute__content .k-dropdown-wrap {
  padding-left: 1.9em;
  padding-right: 0;
}

/* set icon in right */
.dcpAttribute__content .k-dropdown-wrap .k-select {
  position: absolute;
  left: 0;
  right: auto;
  border: none;
  padding-top: 0.3333rem;
  height: $ank-ui-input-height;
}


.input-group.dcpAttribute__value--multiple {
  border-radius: $ank-ui-doc-edit-attribute-border-radius;
  &:hover {
   // border: $A4-ui-doc-edit-attribute-hover-border;
   // box-shadow: $A4-ui-doc-edit-attribute-hover-shadow;
  }
  .input-group-addon, .k-multiselect-wrap {
    border:none;
  }

  .k-multiselect-wrap, .k-multiselect.k-widget {
    border-radius: $ank-ui-doc-edit-attribute-border-radius 0 0 $ank-ui-doc-edit-attribute-border-radius;

    &.k-state-hover {
     //  border-radius: 0 $A4-ui-doc-edit-attribute-border-radius $A4-ui-doc-edit-attribute-border-radius 0;
    }

    &.k-state-focused {
      border-radius: 0 $ank-ui-doc-edit-attribute-border-radius $ank-ui-doc-edit-attribute-border-radius 0;
      border-style:none;
      box-shadow: none;
      .k-multiselect-wrap {
        box-shadow: none;
      }
    }
  }

}
.dcpAttribute__content .k-dropdown,
.dcpAttribute__content .k-multiselect,
.dcpAttribute__content .k-combobox {
  padding: 0;
}

.dcpAttribute__content .k-multiselect {
  height: auto;
  min-height: $ank-ui-input-height;
}

.dcpAttribute__content .k-multiselect .k-button {

}

.dcpAttribute__content .k-multiselect-wrap {
  border-radius: inherit;
  min-height: calc( #{$ank-ui-input-height} - 0px);

  .k-button {
    //padding: 0.125rem 1.25rem;
  }
}

.dcpAttribute__content.has-error .k-dropdown-wrap {
  border-color: $error transparent $error $error;
}

.k-list-optionlabel {
  color: $gray-light;
}

.k-list-optionlabel.placeholder--clear {
  display: none; /* no view place holder choice */
}

.k-dropdown span.k-input.placeholder,
.k-multiselect .k-input.k-readonly,
.k-dropdown .placeholder {
  color: $gray-light;
}

.dcpAttribute__content--enum .k-multiselect .k-button {
  color: $text-color;
  border-color: darken($gray-lighter, 5%);
  background-color: $gray-lighter;
}

.dcpAttribute__content--enum .k-multiselect .k-button:active {
  box-shadow: inset 0 0 0.83333rem 0.25rem darken($gray-lighter, 8%);
}

.dcpAttribute__content .dcpAttribute__value--enumlabel {
  input[type=radio], input[type=checkbox] {
    height: auto;
    width: auto;
    background-color: transparent;
    border: none;
  }

  input.dcpAttribute__value--enum--other {
    height: $ank-ui-input-height;
    width: calc(100% - 2.5em);
  }
}
.dcpAttribute__value--enum-other {
  .input-group-text {
    padding: 0;
    border-radius: 0 $border-radius-base $border-radius-base 0;
    .btn {
      border: none;
      border-radius: inherit;
    }
  }
}

.dcpAttribute__value--enumlabel.k-button {
  border-radius: 0;
  border-style: none solid none none;
  padding-top: 2px;
  padding-bottom: 2px;
}

.dcpAttribute__value--enumbuttons.orientation-bool.input-group .dcpAttribute__value--enumlabel {
  border-right-style: none;
  border-radius: $border-radius-base;
}

.dcpAttribute__value--enumbuttons.orientation-horizontal.input-group .dcpAttribute__value--enumlabel:last-child {
  border-right-style: none;
}

.dcpAttribute__value--enumlabel {
  font-weight: normal;

}

.dcpAttribute__value--enumlabel.selected {
  //background-color: $A4-ui-color-selected;
  //color: $A4-ui-color-text-colored;
  .dcpAttribute__value--enumlabel--text {
    font-weight: bold;
  }
}

.dcpAttribute__value--enumbuttons.orientation-bool {
  width: 100%;
  padding: 0 2rem 0  0;
  .dcpAttribute__value--toggle {
    height:auto;
  }

}



.dcpAttribute__value--enumbuttons.orientation-horizontal {
  width: 100%;
  padding: 0 2rem 0  0;
  display: flex;
  flex-direction: row;

  .dcpAttribute__value--enumlabel {
    flex-grow:1;
  }
}


.dcpAttribute__value--enumbuttons.orientation-horizontal,
.dcpAttribute__value--enumbuttons.orientation-bool {
  border-top-right-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;

  border:none;
  .k-checkbox-label {
    &:before {
      top: 6px;
    }
    &:after {
      top: 6px + 3px;
    }
  }
  .k-radio-label {
    &:before {
      top: 5px;
    }
    &:after {
      top: 5px + 3px;
    }
  }
}

.dcpAttribute__value--enumbuttons.dcpAttribute__content__nobutton.orientation-horizontal,
.dcpAttribute__value--enumbuttons.dcpAttribute__content__nobutton.orientation-bool {
  border-top-right-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
}

.k-textbox.dcpAttribute__value--enumbuttons {
  &:hover {
    background-color: unset;
  }
}

.dcpAttribute__value--enumlabel {
  padding: 0 3px 0 3px;
}

.dcpAttribute__value--enumbuttons.orientation-horizontal .dcpAttribute__value--enumlabel {
  display: table-cell;
  white-space: nowrap;

  border-radius: $border-radius-base;
  border: none;
  .dcpAttribute__value--enumlabel--text {
    width: calc(100% - 1em);
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    margin: 0 0 0 0.3em;
  }
  input[type=radio], input[type=checkbox] {
    margin-right: 0.5em;
    margin-top: 0;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
}

.dcpAttribute__value--enumbuttons.orientation-bool .dcpAttribute__value--enumlabel {
  display: none;
  width: 100%;
  text-align: left;
}

.dcpAttribute__value--enumbuttons.orientation-bool .dcpAttribute__value--enumlabel span {
  padding-left: 1em;
}

.dcpAttribute__value--enumbuttons.orientation-bool .dcpAttribute__value--enumlabel.selected {
  display: inherit;
}

.dcpAttribute__value--enumbuttons.orientation-bool .dcpAttribute__value--enumlabel.unselected {
  display: inherit;
  background-color: inherit;
}

.dcpAttribute__value--enumbuttons.orientation-vertical {
  width: 100%;
  padding: 0;
  display:flex;
  flex-direction: column;
  height: 100%;
  .dcpAttribute__value--enumlabel--other {
    padding-top: 0;
  }
}

.dcpAttribute__value--enumbuttons.orientation-vertical {
  border-radius: $border-radius-base;
  border:none;

  label.dcpAttribute__value--enumlabel--text {
    line-height: 2;
  }
  .k-checkbox-label {
    &:before {
      top: 4px;
    }
    &:after {
      top: 4px + 2px;
    }
  }
  .k-radio-label {
    &:before {
      top: 3px;
    }
    &:after {
      top: 3px + 3px;
    }
  }
}

.dcpAttribute__value--enumbuttons.orientation-vertical .dcpAttribute__value--enumlabel {
  display: block;
  text-align: left;
  white-space: nowrap;
  border-radius: inherit;
  border: none;
  padding-top: 0.2em;
  .dcpAttribute__value--enumlabel--text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 1em);
    margin: 0;
  }

}

label.dcpAttribute__value--enumlabel--text {
  font-weight: normal;
  height: $ank-ui-input-height;
  line-height: $ank-ui-input-height;
}

.dcpAttribute__value--enumbuttons {
  .k-radio, .k-checkbox {
    display: inline;
    width: 0;
    position: absolute;

  }

}

.dcpAttribute__value--enumbuttons .dcpAttribute__value--enumlabel--other.dcpAttribute__value--enumlabel {
  text-overflow: initial;
  padding-top: 0;
  .k-checkbox-label {
    &:before {
      top: 7px;
    }
    &:after {
      top: 7px + 3px;
    }
  }
  .k-radio-label {
    &:before {
      top: 6px;
    }
    &:after {
      top: 6px + 3px;
    }
  }
  label.dcpAttribute__value--enumlabel--text {
    width: 0;
  }

}

.dcpAttribute__value--enumbuttons.orientation-vertical .dcpAttribute__value--enumlabel .dcpAttribute__value--enumlabel--text {
  margin-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.dcpAttribute__value--enumbuttons.orientation-bool .dcpAttribute__value--enumlabel--text {
  display: inline-block;
}

.dcpAttribute__value--enum-other {
  border: none;
  padding: 1em;
  input {
    width: 100%;
    margin-left: 0;
  }
  .btn {
    float: right;
  }
}

.dcpAttribute__content--enum input.dcpAttribute__value--edit:not([aria-activedescendant]) {
  color: $error;

}

$dcpBoolAnimationDelay: 1s;
.dcpAttribute__value--enumbuttons.orientation-bool {
  .dcpAttribute__value--toggle {
    background-color: inherit;
    text-align: left;
    line-height: 1.5;
    border: none;
    padding: 1px 0.5em 1px 0.5em;
    position: relative;
    &.unselected {
      display: none;
    }

    .dcpAttribute__value--text {
      width: auto;
      min-width: 10em;
      display: inline-block;
      padding: 3px;
      border-radius: 1em;
      position: relative;
    }

    &.off {
      .dcpAttribute__value--text {
        color: $gray;
        background-color: $gray-lighter;
        padding-left: 2.5em;
        text-align: right;
        padding-right: 1.2rem;
        transition: background-color $dcpBoolAnimationDelay, padding-left $dcpBoolAnimationDelay;

        &:before {
          transition: left $dcpBoolAnimationDelay;
          content: " ";
          display: inline-block;
          position: absolute;
          left: $border-radius-base;
          box-sizing: border-box;
          width: $ank-ui-input-height - 1rem;
          height: $ank-ui-input-height - 1rem;
          top: 0.1rem;
          border: none;
          border-radius: 50%;
          color: #f5f5f5;
          text-align: center;
          text-decoration: none;
          background: $gray-light-alt;
          box-shadow: 0 3px 3px $gray-light;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    &.on {
      .dcpAttribute__value--text {
        background-color: $ank-ui-color-selected;
        color: $ank-ui-color-text-colored;
        font-weight: bold;
        padding-left: 1em;
        padding-right: 2em;
        transition: background-color $dcpBoolAnimationDelay, padding-left $dcpBoolAnimationDelay;

        &:before {
          content: " ";
          display: inline-block;
          box-sizing: border-box;
          margin-right: 0.5em;
          transition: left $dcpBoolAnimationDelay;
          position: absolute;
          left: calc(100% - 1em - #{$border-radius-base});
          width: $ank-ui-input-height - 1rem;
          height: $ank-ui-input-height - 1rem;
          top: 0.1rem;
          border: none;
          border-radius: 50%;
          color: #f5f5f5;
          text-align: center;
          text-decoration: none;
          background: $blue;
          box-shadow: 0 3px 3px $blue-dark;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
}

.dcpAttribute__value--single .dcpAttribute__content--enum  .k-i-loading {
  position: relative;
  top: 0;
  right: 0;
  margin-top: 0;
}
