<FilesMatch "^.+$">
    Order Allow,Deny
    Allow from All
</FilesMatch>

AddType application/json .php

Options -MultiViews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(v1)(/.*)?$ $1.php [END]
RewriteRule ^ ../index4.php [QSA,L]
