$tabstrip-tabs-color: #428bca;
$tabFiwWidth:10em;

.dcpDocument__tabs .dcpDocument__tabs__list {
  white-space: nowrap;
}
.dcpDocument__tabs .dcpDocument__tabs__list > li {
  max-width: 200px;
}
.dcpDocument__tabs .dcpLabel--select .k-dropdown-wrap,
.dcpDocument__tabs .dcpTab__label .k-link {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0.5em 0 0.5em;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}



.dcpDocument__tabs.k-tabstrip > .k-content {
  padding: $dcp-set-padding;
}

.dcpDocument__tabs .dcpFrame {
  margin-bottom:$dcp-set-padding;
}
.dcpDocument__tabs .dcpFrame .dcpArray {
  margin-bottom:$dcp-set-padding;
  margin-left:0;
  margin-right: 0;
}
.dcpDocument__tabs .dcpFrame__content
{
  padding:$dcp-set-padding;
}

.dcpDocument__tabs .dcpFrame:last-child,
.dcpDocument__tabs .dcpFrame .dcpArray:last-child
{
  margin-bottom:0;
}

.k-tabstrip-items .dcpTab__label .k-state-active {
  background-color: transparent;
}

.k-tabstrip:focus {
  box-shadow: none;
}

.dcpDocument__tabs--fixed .dcpTab__label {
  min-width: $tabFiwWidth;
}
.dcpTab__content--loading {
  text-align:center;
  padding:2em;
}
.dcpTab__content--loading .fa {
  padding: 1em;
}


.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select {
  //width: 2em;
  //padding-right: 1px;
  min-width: calc(#{$tabFiwWidth} + 2.2em + 2px);
}

.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select {
  .k-input {
    padding:0;
    min-width: $tabFiwWidth;
    text-align: left;

  }
  .k-combobox {
    width: 100%;
    margin-top: 0;
  }
  .k-dropdown-wrap {
    padding-bottom: 3px;
    text-align: left;

    &:before {
      padding-bottom:0;
    }
  }
  .k-select {
    border-style: solid;
    // border-color: $nav-tabs-border-color  $nav-tabs-border-color transparent $nav-tabs-border-color;
    border-color: transparent;
    border-radius: 0 $border-radius-base 0 0;
    border-width: 1px;
    margin-right: -4px;
    //height: ~"calc(100% + 9px)";
    margin-top: 2px;
    box-sizing: border-box;
    padding: 5px 4px 4px 4px;
    width: 2.2em;
    background-color:$body-bg;
  }
}


.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select.k-state-active .k-select {

  // border-color: transparent transparent transparent $nav-tabs-border-color;
  //border-radius: 0 $border-radius-base;
}

.dcpLabel__count {

}

.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select .k-select:hover {
  background-color: lighten($nav-link-hover-bg, 10%);
}

.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select.k-state-disabled {
  opacity: 1;
  border-color: transparent;
}

.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select.k-state-disabled .k-icon {
  cursor: pointer !important; // need to be important because kendo rule is also important
}

.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select.k-state-active.k-state-disabled {
  //color:$text-color;
  border-color: $nav-tabs-border-color;

}

.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select .k-select .k-icon {
  margin-top: 2px;

}


.dcpDocument__tabs.k-tabstrip {
  .k-bare.k-tabstrip-next,
  .k-bare.k-tabstrip-prev {
    height: 3rem;
    background: $body-bg! important;

  }
  .k-bare.k-tabstrip-next {
    right: 1rem;
  }

  .k-bare.k-tabstrip-prev {
    left: 1rem;
  }
}

.dcpDocument__tabs.tab--fixed {
  .dcpDocument__tabs__list {
    position: fixed;
    z-index: 3;
    top: 30px;
    padding: $dcp-set-padding/2 $dcp-set-padding 0 $dcp-set-padding;
    left: 0;
    background: $body-bg;

    box-shadow: 0 $dcp-set-padding $dcp-set-padding * 2 0 $nav-tabs-border-color;
    width:  100%;
    border-bottom: solid 1px $nav-tabs-border-color;

    &.k-tabstrip-items .k-item.k-state-active {
      background:unset;
    }
  }
  .k-bare.k-tabstrip-next,
  .k-bare.k-tabstrip-prev {
    position: fixed;
    z-index: 4;
    box-shadow: 0 $dcp-set-padding $dcp-set-padding * 2 0 $nav-tabs-border-color;
    background: $body-bg !important;
  }
}

.menu__select_container {
  // select list container for select tab
}

.menu__select_container .k-list-container{

}

.dcpLabel__select-hide {
  // ul of select list container for select tab
}

.dcpLabel__select-hide li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width:18em;
}



.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select:hover {
  //background-color: $nav-link-hover-bg;
}

.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select .k-combobox .k-input {
  cursor: pointer;
  color: $tabstrip-tabs-color;
  box-shadow: none;
  background-color: transparent;
  text-overflow: ellipsis;
  text-align: center;
}

.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select.k-state-active .k-combobox .k-input {
  color: $text-color;
}

.dcpDocument__tabs--fixed .dcpTab__label.dcpLabel--select .k-combobox .k-dropdown-wrap {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;

}

.dcpTab__label__select {
  text-align: center;
}

/**
 For left tabs placement
 */
.k-tabstrip-left .k-content.dcpTab__content {

  margin-left: 1px !important;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.dcpDocument__tabs--left .dcpDocument__tabs__list {
  width: 10em;
}

.k-tabstrip-left .k-tabstrip-items .k-link {
  text-align: left;
}

.k-tabstrip-left .k-tabstrip-items .k-complete {
  display: none
}