.default-theme.splitter-anakeen-theme {
  .splitpanes__splitter {
    background-color: #555;
    border-color: #666;
    display: flex;
    flex-direction: column;

    &:after,
    &:before {
      background-color: white;
    }

    &:hover {
      .collapse-left,
      .expand-right {
        opacity: 1;
        transition: opacity 0.5s ease;
      }
    }
  }

  .collapse-left,
  .expand-right {
    opacity: 0;
    height: 3rem;
    position: relative;
    color: white;

    &:hover {
      color: #157efb;
    }

    &:before {
      position: absolute;
      padding-top: 0.3rem;
    }
  }


  .expand-right {
    cursor: e-resize;

    &:before {

      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 0.8rem solid transparent;
      border-right: none;
      border-top: 0.8rem solid transparent;
      border-left: 7px solid transparent;
      border-left-color: white;
      content: " ";

    }

    &:hover {
      border-left-color: #157efb;
    }
  }

  .collapse-left {
    cursor: w-resize;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 0.8rem solid transparent;
      border-right: 7px solid transparent;
      border-top: 0.8rem solid transparent;
      border-left: none;
      border-right-color: white;
      content: " ";
    }
  }

}