.dcpDocument__tabs .dcpDocument__tabs__list > li {
  max-width: 200px;
}

.dcpDocument__tabs .dcpTab__label  .k-link {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 5% 5px 5%;
  text-align: center;
  width:100%;
  box-sizing: border-box;
}


.k-tabstrip-items .dcpTab__label  .k-state-active {
  background-color: transparent;
}

.dcpTab__content * {
  box-sizing: border-box;
}
.dcpTab__content .k-picker-wrap,
.dcpTab__content .k-numeric-wrap
{
  box-sizing: content-box;
}

.k-tabstrip:focus {
  box-shadow: none;
}

/**
 For left tabs placement
 */
.k-tabstrip-left  .k-content.dcpTab__content {
  width: ~"calc(100% - 140px)";
  margin-left: 1px!important;
  float: left;
  margin-top:0;
  margin-bottom:0;
  margin-right:0;
}
.k-tabstrip-left .k-tabstrip-items {
  width:108px;
}
.k-tabstrip-left .k-tabstrip-items .k-link {
  text-align: left;
}
.k-tabstrip-left .k-tabstrip-items .k-complete {
  display:none
}