
.dcpDocument__tabs .nav > li {
  max-width: 200px;
}

.dcpDocument__tabs .nav > li > a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 5% 5px 5%;
  text-align: center;
  /*border: 1px solid rgba(0, 0, 0, 0.06)*/
}
