<!doctype html>
<html>
<head>
    <title>[TEXT:ddui:Document Render]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
[BLOCK CSS]
    <link rel="stylesheet" type="text/css" data-id="[key]" href="[path]"/>
[ENDBLOCK CSS]
    <link rel="shortcut icon" href="[IMG:doc.png|22]">
</head>
<body>

<div class="document" >

</div>

<div class="dcpLoading">
    <div class="progress active dcpLoading--progressbar">
        <div class="progress-bar progress-bar-striped" style="width: 10%"></div>
    </div>

    <div class="dcpLoading--header"><i class="fa fa-spinner fa-spin"></i> <span class="dcpLoading--title">[TEXT:ddui::Initialisation] </span></div>
</div>

<script>
    if (!window.console) {
        window.console = {};
        window.console.log = function (x) {};
    }
    if (!window.console.error) {
        window.console.error = window.console.log;
    }
    if (!(window.console.time)) {
        window.console.timeEnd = function (x) {};
        window.console.time = function (x) { };
    }
     window.dcp= window.dcp || {};
     console.time("main");
     console.time("js loading");
     window.dcp.viewData= [viewInformation];
     window.dcp.ws = "[ws]";
</script>

[BLOCK JS]
<script type="text/javascript" data-id="[key]" src="[path]"></script>
[ENDBLOCK JS]

</body>
</html>