.ank-se-tab-pane {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  background-color: white;


  .ank-loading {
    background: transparent;
    margin-top: 3px;

    ::v-deep {
      .main-logo *, .text-logo * {
        fill: black !important;
      }
    }
  }

  .ank-se-tab-element {
    ::v-deep {
      > .smart-element-wrapper {
        height: 100%;

        > .document {
          height: 100%;
          display:flex;
          flex-direction: column;
        }
      }
    }
  }
}
