@mixin collectionButtonNavigation() {
  background-color: #c1c1c1;
  height: 2.5rem;
}

.documentsList_collections {
  width: 25vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  float: left;
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;

  .documentsList__collections_button--collapse,
  .documentsList__collections_button--collapse .documentsList__collections_button_icon {
    background: #7A7A7A;
    color: #FFF;

    .documentsList__collections_button_icon--collapse {
      background-color: #646464;
      width: 4.1666rem;
      height: 100%;
    }
  }

  .documentsList__collections_button {
    &:hover {
      color: #FFF;
      cursor: pointer;
    }
  }

  .documentsList__collections_button_icon {
    display: flex;
    align-items: center;
    width: 4rem;
    background-color: #FFFFFF;
    justify-content: center;
    transition: left 1s;
  }

  .documentsList__collections_button_title {
    color: #FFF;
  }

  .user-info {
    display: flex;
    align-items: center;
    background: #6c7989;
    color: #fff;

    .documentsList__collections_button_icon {
      &.documentsList__collections_button_icon--user {
        width: 4.1666rem;
        height: 3.6666rem;
        background-color: #435366;
        text-transform: uppercase;
        font-size: 1.2rem;
      }
    }

    .documentsList__collections_button_title {
      display: inline-block;
      width: calc(100% - 5rem);
      &.documentsList__collections_button_title--user {
        text-align: center;
        padding-right: 1.6666rem;
        font-weight: 400;
      }
    }
  }

  .documentsList__collections_buttons {
    &.documentsList__collections_buttons--top, &.documentsList__collections_buttons--bottom {
      display: flex;
      flex-direction: column;

      .documentsList__collections_button {
        &.documentsList__collections_button--collapse {
          display: flex;
          height: 2.91666rem;
        }

        &.documentsList__collections_button--up {
          @include collectionButtonNavigation();
        }

        &.documentsList__collections_button--bottom {
          @include collectionButtonNavigation();
        }
      }
    }
  }
}