<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<smart:config xmlns:smart="https://platform.anakeen.com/4/schemas/smart/1.0" xmlns:workflow="https://platform.anakeen.com/4/schemas/workflow/1.0">
    <workflow:graph ns="GDC" name="{{WFLNAME}}">
        <workflow:steps>
            <workflow:step name="{{wflname}}_e1" state-label="Initial" initial="true"/>
            <workflow:step name="{{wflname}}_e2" state-label="Final"/>
        </workflow:steps>
        <workflow:transitions>
            <workflow:transition name="t_{{wflname}}_e1_e2" from="{{wflname}}_e1" to="{{wflname}}_e2" label="Transition initial final"/>
        </workflow:transitions>
    </workflow:graph>
</smart:config>