// Corporate Theme rules
// Document
.dcpDocument__body {
  padding-left: 0;
  padding-right: 0;
}

// Frame
.dcpFrame, .document .dcpFrame:last-child {
  margin: 0 10px 10px;
}

.dcpFrame {
  background: $A4-ui-color-frame-background;
  padding: $A4-ui-frame-padding;
  box-shadow: $A4-ui-frame-shadow;
}

.dcpFrame > .card-header {
  font-family: $A4-ui-title-font-variant;
  font-size: $A4-ui-title-size;
  background-color: transparent;
  color: $A4-ui-frame-color-title;
  line-height: $A4-ui-title-font-line-height;
  border-bottom: 0,083rem solid $A4-ui-frame-color-title;
}

// Menu

.dcpDocument__menu {
  background-color: $A4-ui-tab-active-bg;
  padding: 0;
  box-shadow: 0 0.416rem 0.5rem rgba(0,0,0,0.15);
}

.menu__content.k-menu {
  justify-content: flex-end;
  background-color: $A4-ui-menu-bg;
  color: $A4-ui-menu-font-color;
}

.menu--fixed {
  .menu__content {
    background-color: $A4-ui-menu-fixed-bg;
    color: $A4-ui-menu-fixed-font-color;
  }
}

.menu__content.k-menu {
  justify-content: flex-end;
}



// Tabs
.dcpDocument__tabs .dcpTab__label .k-link {
  padding: $A4-ui-tab-padding;
}

@mixin dcpTabLabelStyle() {
  font-family: $A4-ui-label-font-variant;
  font-size: $A4-ui-label-font-size;
  line-height: $A4-ui-label-font-line-height;
  color: $A4-ui-color-font-document;
  background-color: $A4-ui-tab-inactive-bg;
  margin-right: $A4-ui-tab-space!important;
}
.dcpDocument__tabs .dcpTab__label {
  @include dcpTabLabelStyle;
  &:hover {
    @include dcpTabLabelStyle;
  }
}

.dcpDocument__tabs .dcpTab__label.dcpLabel--active {
  font-family: $A4-ui-title-font-variant;
  font-size: $A4-ui-title-size;
  line-height: $A4-ui-title-font-line-height;
  color: $A4-ui-color-font-title;
  background-color: $A4-ui-tab-active-bg;
  border-bottom: none;
  &:before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent $A4-ui-color-client transparent transparent;
  }
}

.document .dcpDocument__tabs.k-tabstrip > .dcpTab__content.k-state-active {
  background-color: $A4-ui-tab-active-bg;
  border: none;
  margin: 0;
  padding: 0;
}

.document .dcpDocument__tabs .dcpDocument__tabs__list.k-tabstrip-items {
  padding-left: 2rem;
  height: 2.916rem;
}

// Buttons
.dcpArray__add {
  color: $A4-ui-button1-color-text;
  background-color: $A4-ui-button1-color-background;
  border-radius: $A4-ui-button1-border-radius;
  font-size: $A4-ui-button-font-size;
  &:hover {
    color: $A4-ui-button1-hover-color-text;
    background-color: $A4-ui-button1-hover-color-background;
  }
}

.dcpAttribute__content__button--delete {
  color: $A4-ui-color-error;
}

