// Corporate Theme rules
// Document
.dcpDocument__body {
  padding-left: 0;
  padding-right: 0;
}

// Frame
.dcpFrame, .document .dcpFrame:last-child {
  margin: 0 10px 10px;
}

.dcpFrame {
  background: $A4-ui-color-frame-background;
  padding: $A4-ui-frame-padding;
  box-shadow: $A4-ui-frame-shadow;
}

.dcpFrame > .card-header {
  font-family: $A4-ui-title-font-variant;
  font-size: $A4-ui-title-size;
  background-color: transparent;
  color: $A4-ui-frame-color-title;
  line-height: $A4-ui-title-font-line-height;
  border-bottom: 0,083rem solid $A4-ui-frame-color-title;
}

// Menu

.dcpDocument__menu {
  background-color: $A4-ui-tab-active-bg;
  padding: 0;
  box-shadow: 0 0.416rem 0.5rem rgba(0,0,0,0.15);
}

.menu__content.k-menu {
  justify-content: flex-end;
  background-color: $A4-ui-menu-bg;
  color: $A4-ui-menu-font-color;
}

.menu--fixed {
  .menu__content {
    background-color: $A4-ui-menu-fixed-bg;
    color: $A4-ui-menu-fixed-font-color;
  }
}

.menu__content.k-menu {
  justify-content: flex-end;
}


