$roboto-font-path: '../../../../../uiAssets/externals/roboto-fontface/fonts/';

@import "../../../../../public/uiAssets/externals/roboto-fontface/scss/roboto/sass/roboto-fontface-bold.scss";
@import "../../../../../public/uiAssets/externals/roboto-fontface/scss/roboto/sass/roboto-fontface-regular.scss";

// Base colors
$blue-darker: #003DB0;
$blue-dark: #2361DB;
$blue: #157EFB;
$blue-light: #00B4FC;
$blue-lighter: #78D2FE;
$orange: #FF542C;
$gray-darker: #353535;
$gray-dark: #505050;
$gray: #878787;
$gray-light: #C8C8C8;
$gray-light-alt: #DDDDDD;
$gray-lighter: #F4F4F4;
$gray-lighter-alt: #F1F1F1;
$green-light: #8AE234;
$white: #FFFFFF;

// Colors
$A4-ui-color-link: $blue-lighter;
$A4-ui-color-btn-action: $blue;
$A4-ui-color-btn-creation: $blue-dark;
$A4-ui-color-selected: $blue-light;
$A4-ui-color-error: $orange;
$A4-ui-color-text: $gray-darker;
$A4-ui-color-text-colored: $white;
$A4-ui-color-picto: $gray;
$A4-ui-color-picto-colored: $white;
$A4-ui-color-hovered: $gray-lighter;
$A4-ui-color-font-document: $gray-dark;
$A4-ui-color-font-placeholder: $gray-light;

$A4-ui-color-client: $green-light;

$A4-ui-color-label: #505050;
$A4-ui-color-btn-click: $blue-darker;

$A4-ui-color-body-background: $gray-lighter-alt;
$A4-ui-color-frame-background: $white;

$A4-ui-color-font-button: $A4-ui-color-text-colored;
$A4-ui-color-font-title: $A4-ui-color-text;
$A4-ui-color-btn-tool-bg: #E4E4E4;

$A4-ui-font-size: 12px;
$A4-ui-line-height: 1.2;

$A4-ui-font: 'Roboto-Regular', 'Helvetica', sans-serif;
$A4-ui-font-base-size: 1rem;
$A4-ui-title-size: 1rem;
$A4-ui-title-font-weight: bold;
$A4-ui-title-font-line-height: 1.333rem;
$A4-ui-title-font-variant: 'Roboto-Bold';
$A4-ui-label-font-size: 1rem;
$A4-ui-label-font-weight: normal;
$A4-ui-label-font-variant: 'Roboto-Regular';
$A4-ui-label-font-line-height: 1.333rem;
$A4-ui-value-font-size: 1rem;
$A4-ui-value-font-weight: normal;
$A4-ui-value-font-variant: 'Roboto-Bold';
$A4-ui-value-font-line-height: 1.333rem;
$A4-ui-button-font-size: 1rem;
$A4-ui-button-font-weight: normal;
$A4-ui-button-font-variant: 'Roboto-Bold';
$A4-ui-button-font-line-height: 1.333rem;

// Button 1
$A4-ui-button1-width: auto;
$A4-ui-button1-height: 2.5rem;
$A4-ui-button1-color-background: $A4-ui-color-btn-action;
$A4-ui-button1-color-text: $A4-ui-color-text-colored;
$A4-ui-button1-border-radius: 0.166rem;
$A4-ui-button1-padding: 2.5rem;
$A4-ui-button1-disabled-color-background: $A4-ui-color-font-placeholder;
$A4-ui-button1-disabled-color-text: $A4-ui-color-font-document;
$A4-ui-button1-disabled-hover-color-background: $A4-ui-button1-disabled-color-background;
$A4-ui-button1-disabled-hover-color-text: $A4-ui-button1-disabled-color-text;
$A4-ui-button1-disabled-opacity: 0.5;
$A4-ui-button1-hover-color-background: $A4-ui-color-btn-click;
$A4-ui-button1-hover-color-text: $A4-ui-color-text-colored;
$A4-ui-button1-hover-shadow: 0.416rem 0.416rem 1rem 1rem #1508A5 inset;

// Button 2
$A4-ui-button2-color-text: #157EFB;
$A4-ui-button2-color-background: #FFFFFF;
$A4-ui-button2-color-border: #157EFB;

$A4-ui-button2-color-hover-text: #FFFFFF;
$A4-ui-button2-color-hover-background: #157EFB;

$A4-ui-button2-width: auto;
$A4-ui-button2-height: 2.5rem;
$A4-ui-button2-border-radius: 0.166rem;
$A4-ui-button2-padding: 2.5rem;

$A4-ui-button2-disabled-color-background: #FFFFFF;
$A4-ui-button2-disabled-color-text: #C8C8C8;
$A4-ui-button2-disabled-hover-color-background: $A4-ui-button2-disabled-color-background;
$A4-ui-button2-disabled-hover-color-text: $A4-ui-button2-disabled-color-text;
$A4-ui-button2-disabled-color-border: #C8C8C8;

// Button 3
$A4-ui-button3-width: auto;
$A4-ui-button3-border-radius: O;
$A4-ui-button3-padding: 2.833rem;
$A4-ui-button3-color-border: #157EFB;
$A4-ui-button3-disabled-color-background: #FFFFFF;
$A4-ui-button3-disabled-color-text: #C8C8C8;
$A4-ui-button3-disabled-hover-color-background: #FFFFFF;
$A4-ui-button3-disabled-hover-color-text: #C8C8C8;
$A4-ui-button3-color-text: #157EFB;
$A4-ui-button3-color-background: #FFFFFF;
$A4-ui-button3-color-hover-text: #157EFB;
$A4-ui-button3-color-hover-background: #FFFFFF;

// Toggle button
$A4-ui-toggle-color-bg-off: #EEE;
$A4-ui-toggle-color-text-off: #777;
$A4-ui-toggle-padding-off: 0 0 0 2.5rem;
$A4-ui-toggle-transition: background-color 1s, padding-left 1s;
$A4-ui-toggle-color-bg-on: #00B4FC;
$A4-ui-toggle-color-text-on: $white;
$A4-ui-toggle-padding-on: 0 2rem 0 1rem;
$A4-ui-toggle-line-height: 1.72;

// Radio button
$A4-ui-radio-color-bg: $white;
$A4-ui-radio-color-checked: $A4-ui-toggle-color-bg-on;
$A4-ui-radio-size: 1.33333rem;
$A4-ui-radio-size-checked: 0.83333rem;
$A4-ui-radio-border-selected: $gray;
$A4-ui-radio-border-unselected: fade-out($gray, 0.3);
$A4-ui-check-font: 'Material Icons';
$A4-ui-check-content: "\E5CA";

// Attribute
$A4-ui-doc-edit-label-padding: 0;
$A4-ui-doc-edit-attribute-bg: $white;
$A4-ui-doc-edit-attribute-height: 2.166rem;
$A4-ui-doc-edit-attribute-color-border: #E6E6E6;
$A4-ui-doc-edit-attribute-border-radius: 0.33rem;
$A4-ui-doc-edit-attribute-border: solid $A4-ui-doc-edit-attribute-color-border 0.083rem;
$A4-ui-doc-edit-attribute-hover-color: #157EFB;
$A4-ui-doc-edit-attribute-focus-color: #157EFB;
$A4-ui-doc-edit-attribute-hover-border: solid $A4-ui-doc-edit-attribute-hover-color 0.083rem;
$A4-ui-doc-edit-attribute-hover-shadow: 0rem 0rem 0.583rem $A4-ui-doc-edit-attribute-hover-color;
$A4-ui-doc-edit-attribute-focus-shadow: 0rem 0rem 0.583rem $A4-ui-doc-edit-attribute-focus-color;
$A4-ui-doc-edit-attribute-error-color: $A4-ui-color-error;
$A4-ui-doc-edit-attribute-error-spacing: 0.166rem;
$A4-ui-doc-edit-attribute-error-text-color: $white;
$A4-ui-doc-read-label-padding: 0;
$A4-ui-doc-read-attribute-height: auto;
$A4-ui-doc-read-attribute-border: 0.083rem solid #F1EFEF;
$A4-ui-doc-read-attribute-value-padding: 0 0 0.6666rem 0;
$A4-ui-doc-read-attribute-link-color: #78D2FE;
$A4-ui-doc-read-attribute-picto-space: 0.6666rem;
$A4-ui-input-height: 2.5rem;

//Frames
$A4-ui-frame-font-variant: $A4-ui-value-font-variant;
$A4-ui-frame-padding: 0rem 1.166rem 0 1.666rem;
$A4-ui-frame-shadow:rgba(0, 0, 0, 0.1) 0 0.25rem 0.25rem;
$A4-ui-frame-color-title: #878787;
$A4-ui-frame-size-title: 1.1rem;
$A4-ui-frame-header-border-bottom: 0.083rem solid #d8d9da;;
$A4-ui-frame-header-padding: 0 0 0 0rem;
$A4-ui-frame-header-line-height: 2.5rem;
$A4-ui-frame-header-margin: 0 0 1.25rem 0;

// Array
$A4-ui-array-shadow: $A4-ui-frame-shadow;
$A4-ui-array-padding: 0 1.1666rem 1.66666rem 1.1666rem;
$A4-ui-array-border: 1px solid #e8e8e8;
$A4-ui-array-margin: 0 0.8333rem 0.8333rem;
$A4-ui-array-border-radius: 0.25rem;

// Tabs
$A4-ui-tabs-height: 3rem;
$A4-ui-tab-active-bg: #FAFAFA;
$A4-ui-tab-inactive-bg: #E6E6E6;
$A4-ui-tab-space: 0.166rem;
$A4-ui-tab-padding: 0.833rem 0rem;

@mixin A4ClientTabDecoration() {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1.25rem 1.25rem 0;
  border-color: transparent $A4-ui-color-client transparent transparent;
}

// Menu
$A4-ui-menu-bg: #FAFAFA;
$A4-ui-menu-fixed-bg: #157EFB;
$A4-ui-menu-fixed-font: $A4-ui-font;
$A4-ui-menu-font-color: $gray;
$A4-ui-menu-fixed-font-color: #FFFFFF;
$A4-ui-menu-separator: 1px solid #ccc;
$A4-ui-menu-height: 2.833rem;
$A4-ui-menu-item-padding: 0 1.666rem 0 1.666rem;

// Icons
$A4-ui-icon-size: 1.166rem;
$A4-ui-icon-color: $gray;
$A4-ui-icon-spacer: 0.583rem;

// Header
$A4-ui-header-height: 2.5rem;
$A4-ui-header-bg: $A4-ui-color-frame-background;
$A4-ui-header-title-margin: 0;
$A4-ui-header-title-line-height: 2;



$dcp-set-padding: 10px;
$dcp-attribute-padding-base-vertical: 6px + 1;

// Attribute decription field
$dcpAttributeDescriptionArrowSize: 8px;
$dcpAttributeDescriptionBackgroundColor: #f5f5f5;
