<div class="confirm--body">
    <div class="confirm--content">
        <div>{{messages.textMessage}}</div>
        <div>{{{messages.htmlMessage}}}</div>

    </div>
    <div class="confirm--buttons">
        <button class="button--cancel" type="button">{{messages.cancelMessage}}</button>
        <button class="button--ok" type="button">{{messages.okMessage}}</button>
    </div>
</div>

