<div class="{{#hadButtons}}input-group{{/hadButtons}} margin-bottom-sm">
    {{#isMultiple}}
      <span class="input-group-addon">
        <button
            {{#renderOptions.autoCompleteHtmlLabel}}
            title="{{renderOptions.autoCompleteHtmlLabel}}"
            {{/renderOptions.autoCompleteHtmlLabel}}
            class="dcpAttribute__value--enum--button btn btn-default btn-xs" tabindex="-1">
                <span class="k-icon k-i-arrow-60-down"></span>
        </button>
    </span>
    {{/isMultiple}}
    <input type="text" name="{{id}}" id="{{viewCid}}"
           {{# options.size}}style="width : {{options.size}}em;"{{/ options.size}}
           class="{{#hadButtons}}form-control{{/hadButtons}} dcpAttribute__value dcpAttribute__value--edit"
           value="{{attributeValue.value}}"/>
    {{#hadButtons}}
        <span class="dcpAttribute__content__buttons input-group-addon">
        {{#renderOptions.buttons}}
            <button type="button" data-title="{{title}}" data-index="{{index}}" tabindex="-1"
                    class="dcpAttribute__content__button--extra btn btn-default btn-xs {{class}}">{{{renderHtmlContent}}}</button>
        {{/renderOptions.buttons}}
            {{#deleteButton}}
                <button type="button" title="[[#i18n]]ddui::Delete : [[/i18n]]" tabindex="-1"
                        class="btn btn-default btn-xs dcpAttribute__content__button--delete"><span class="fa fa-times fa-fw"></span>
                </button>
            {{/deleteButton}}
    </span>
    {{/hadButtons}}
</div>