.k-command-cell {
  margin-left: 0;
  padding-left: 0;
  .actionMenu .k-button {
    background: transparent;
    border: none;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    font-weight: bold;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      border-color: transparent #dddddd;
    }
  }

  overflow: visible !important;

  .actionMenu {
    .k-menu-expand-arrow {
      display: none;
    }

    .k-menu-group.k-popup {
      height: 100%;
      width: 100%;
      li.k-item {
        .k-link {
          height: 100%;
          width: 100%;
          padding: 0.5rem;
        }
      }

      &.k-state-hover {
        background: rgba(210, 210, 210, 0.5);
      }
    }
  }
  .subactionsItems {
    z-index: 2;
    position: relative;
  }
}

