.smart-element-grid-action-cell, .smart-element-grid-action-menu--content {
  margin-left: 0;
  padding-left: 0;

  .k-button {
    background: transparent;
    border: none;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #157EFB;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      border-color: transparent #dddddd;
    }

    .actionMenu {
      li[data-actiontype="_subcommands"] {
        .k-animation-container {
          border: 1px black;
          overflow: visible;
        }
      }

      .k-menu-expand-arrow {
        display: none;

        .smart-element-grid-action--label {
          margin-left: .25rem;
        }
      }
    }

    .smart-element-grid-action-menu--content {
      padding: .5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
