/* Css */

html, body {
    margin:0;
    padding:0;
    height:100%;
}

.dataTables_filter input {

    width: 100%;
    padding: 4px;
    border-radius: 2px;
    border: solid 1px #c5c5c5;
}


.family-icon {
    vertical-align: middle;
    margin-right: 1em;
}
.family-anchor {
    cursor:pointer;
}
.develmain thead {
    display:none;
}
.scrolldiv {
    overflow-y:auto;
}
.devel-right {
    width:300px;

    display:inline-block;
    vertical-align: top;
}
.devel-left {

    width:calc(100% - 304px);

    display:inline-block;
    vertical-align: top;

}

.devel-right .dataTables_filter {
    padding:3px;
}
table.dataTable tbody tr:hover {
    background-color: #e7e7e7;
}

.family-name div {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.family-title div {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
iframe.config-result {

    width: calc(100% - 10px);
    padding: 0;
    margin: 0;
    border: none;
}

.barmenu > li.ui-menu-item {
    min-width: 100px;
    display:inline-block;
}
.barmenu.ui-widget.ui-widget-content {
    width:100%;
    border-left: none;
    border-right: none;
}

.barmenu  li.ui-menu-item a{
    text-decoration: none;
}
.changeIcon img {
    vertical-align: middle;
}
.bigicon {
    width:64px;
    height:64px;
}
.ui-button img {
    vertical-align: middle;

}

p.header {
    border-bottom: solid 2px #D4D4D4;
    font-weight: bold;
}
.devel-init {
    text-align: center;
    padding-top: 50px;
}
.home label {
    min-width: 17em;
    display: inline-block;
}
.home a.ui-button.ui-corner-all.ui-widget {
    min-width: 14em;
    text-align: left;
}

.ui-button.nolabel {
    width: 11em;
    height: 14px;
    padding-left: 12px;
    padding-right: 4px;
}
a.cv-create {
    height: 14px;
    min-width: 18em;
}

.cv-fams + .ui-widget + .cv-create {
    min-width: 10em;
}
.custom-combobox .custom-combobox-input {
    height:22px;
    width:20em;
    vertical-align: top;
    padding-left:1em;
}
.custom-combobox .custom-combobox-toggle {
     height:26px;
    vertical-align: top;
}
.dataTables_filter input:focus,
.custom-combobox-input:focus {
    border:solid 1px #5340e8;
}

ul.ui-autocomplete {
    max-height: 200px;
    min-width: 200px;
    overflow-y:auto;
    overflow-x:hidden;
}
ul.ui-autocomplete .ui-state-active {
    margin-bottom:0;
    margin-top:0;
    border:none;
}

.ui-menu .ui-menu-item-wrapper {
    padding-top: 0.5em ;
    padding-bottom: 0.5em ;
}

.reload-anchor {
    display:none;
}

.dialog--icon  {
    text-align:center;
}

.ui-dialog .ui-openwindow {
    right:2.3em;
}
.ui-inputgroup {
    white-space: nowrap;
}
.ui-controlgroup > .ui-controlgroup-item {
    float:none;
}
.ui-controlgroup {
    white-space: nowrap;
}