<!DOCTYPE html>
<html>
<head>
    <title>[TEXT:Families document list] : [famname]</title>
    <meta name="family" content="[famname]"/>
    [CSS:CUSTOMREF]
    [JS:REF]

    <script id="zoneItem" type="text/template">
        {{#message}}<div class="document-message {{^results}}document-message--only{{/results}}">{{message}}</div>{{/message}}
        {{#results}}
        <button title="#{{id}} {{title}}" data-docid="{{id}}" class="document-button"><img src="{{icon}}"/>  {{#name}}(<i>{{name}}</i>){{/name}} {{title}}</button>
        {{/results}}
            {{#next.url}}
            <button data-url="{{next.url}}" class="document-next">{{next.label}}</button>
            {{/next.url}}


    </script>
</head>
<body>
<div class="searchzone">
    <button class="searchexport">[TEXT:dcpdev:Export these documents]</button>
    <form class="searchform" action="?app=DCPDEVEL&amp;action=DOCUMENTLISTDATA&amp;family=[famid]" method="POST">
        <input name="searchtitle" type="text" placeholder="[TEXT:dcpdev:Search by title (contains)]"/>
        <input name="searchname" type="text" placeholder="[TEXT:dcpdev:Search by name (Can use *)]"/>
        <input name="searchid" type="number" placeholder="[TEXT:dcpdev:Search by id]"/>
    </form>
</div>


<div class="searching" >
    <img src="[IMG:loading.gif]"/> [TEXT:dcpdev:Searching...]
</div>
<section class="resultzone">


</section>
</body>
</html>