
.list-export {
    width: 100%;
}

.list-export img {
    vertical-align: middle;
}

.list-export .doclink a {
    width: calc(100% - 26px);
    text-align: left;
}

.list-export input {
    font: inherit;
    color: inherit;
    text-align: left;
    outline: none;
    cursor: text;
    background: none;
}

.list-export input.error {
    color: red;
}

.logical-name input {
    width: calc(100% - 80px);
    -moz-user-select: initial;
    -webkit-user-select: initial;
    user-select: initial;
}

.logical-name input.updated {
    color: green;
    font-weight: bold;
}
.export-other-head {
    text-align: left;
    padding-left: 2em;
    border-bottom: solid 1px #b7b7b7;
}
.doclink {
    min-width: 14em;
    width: 30%;
}

.family-label {
    white-space: nowrap;
    width: 10em;
}

.logical-name .ui-button:focus {
    border: 1px solid #8D81EC;
    background: none;
    color: inherit;
}
.other--deleted--processing {
    background-color: #ffc09f;
    animation: token-red-blinker 1s linear infinite;
}
@keyframes token-red-blinker {
    50% {  background-color:red}
}

.other--deleted {
    background-color: red;
    text-decoration: line-through;
}
.other--deleted a.ui-button, .other--deleted .ui-button {
    background-color: red;
    text-decoration: line-through;
}
.other--deleted button.other-delete.ui-button.ui-widget {
    background-color: #f6f6f6;
}

.result {
    border: none;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 80%;
}

form.export {
    margin: 10px;
    border: solid 1px #dadada;
    padding: 1em;
}

.export input[type=submit] {
    margin: 10px;
}

.empty {
    border-color: red;
}

.list-export td {
    vertical-align: top;
}
.custom-combobox-input:focus {
    border:solid 1px #8D81EC;
}

.custom-combobox .custom-combobox-input {
    height:22px;
    width:20em;
    vertical-align: top;
    padding-left:1em;
}
.custom-combobox .custom-combobox-toggle {
    height:26px;
    vertical-align: top;
}
ul.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}