<!DOCTYPE html>
<html>
<head>
    <title>[TEXT:Families configuration]</title>
    <meta name="family" content="[famid]"/>
    [CSS:CUSTOMREF]
    [JS:REF]

</head>
<body>
<h2>[TEXT:dcpdev:Configuration documents to exports for ] "[famTitle]"</h2>

<table class="list-export">
    <thead>
    <tr>
        <th class="head-family">[TEXT:dcpdev:Family]</th>
        <th class="head-document">[TEXT:dcpdev:Documents]</th>
        <th class="head-docname">[TEXT:dcpdev:Logical name]</th>

    </tr>
    </thead>
    <tbody>
    [BLOCK documents]
    <tr>
        <td class="family-label">[famlabel]</td>
        <td class="doclink"><a target="_blank" href="?app=FDL&action=FDL_CARD&id=[docid]"> <img src="[icon]">
            [label]</a></td>
        <td class="logical-name"><input data-docid="[docid]" type="text" value="[name]"/>
            <div class="message"></div>
        </td>

    </tr>
    [ENDBLOCK documents]
    </tbody>

    <thead>
    <tr>
        <th class="export-other-head" colspan="3">[TEXT:dcpdev:Other documents]</th>
    </tr>
    </thead>
    <tbody class="other-documents">
    [BLOCK othersdocuments]
    [IF TPL] <script class="othertpl" type="text/template">[ENDIF TPL]
    <tr>
        <td class="family-label"><button data-docid="[docid]" class="other-delete"
                                         title="[TEXT:dcpdev:Unset from the list]"
                                         data-revert-title="[TEXT:dcpdev:Reset from the list]"></button>[famlabel]</td>
        <td class="doclink"><a target="_blank" href="?app=FDL&action=FDL_CARD&id=[docid]"> <img src="[icon]">
            [label]</a></td>
        <td class="logical-name"><input data-docid="[docid]" type="text" value="[name]"/>
            <div class="message"></div>
        </td>
    </tr>
    [IF TPL] </script>[ENDIF TPL]
    [ENDBLOCK othersdocuments]
    </tbody>
    <tfoot>
    <tr>
        <td class="family-choose-other" >
            <span>[TEXT:dcpdev:Add other configuration document :]</span></td>
        <td colspan="2">
            <span class="ui-widget ui-inputgroup">
                       <input data-choosetext="[TEXT:dcpdev:Choose {{family}}]"
                               placeholder="[TEXT:dcpdev:Choose family]"
                               class="family--other"/>
            </span>

            <span class="ui-widget ui-inputgroup">
                       <input
                               placeholder="[TEXT:dcpdev:Choose family first]"
                               class="family--list"/>
            </span>
        <td >

        </td>
    </tr></tfoot>
</table>

<form class="export" target="exportresult" method="POST"
      action="?app=DCPDEVEL&action=EXPORTFAMILYCONFIG&family=[famid]">
    <label>[TEXT:dcpdev:Csv separator]
        <select name="csvseparator">
            <option value=';'>; ([TEXT:dcpdev:semi-colon])</option>
            <option value="," [IF csvcomma]selected="selected"[ENDIF csvcomma]>, ([TEXT:dcpdev:comma])</option>
        </select></label>
    <label>[TEXT:dcpdev:Csv enclosure]
        <select name="csvenclosure">
            <option value='"'>" ([TEXT:dcpdev:double-quote])</option>
            <option value="'" [IF csvquote]selected="selected"[ENDIF csvquote]>' ([TEXT:dcpdev:single-quote])</option>
        </select></label>
    <br/>

    <input type="submit" value="[TEXT:dcpdev:Export configuration]"/>
    <span class="warning">[TEXT:dcpdev:All logical name must be set to export configuration]</span>
</form>
<iframe class="result" name="exportresult"/>
</body>
</html>