<div class="family-configuration">
    <header class="header">
    <button class="changeIcon"><img src="[icon]"/></button>
    [label] ([famname]) #[famid]
    </header>



    <section class="home">


        <table>
            <tr ><td colspan="3">
                <p class="header">
                    <label>[ConfigurationLabel]</label>
                </p></td></tr>
            <tr ><td colspan="3">
                <a target="[idFrame]" href="?app=GENERIC&action=GENERIC_EDIT&classid=[famid]">[CreateLabel]</a>
                <a target="[idFrame]" href="?app=DOCADMIN&action=FAMILY_VIEWATTRIBUTES&id=[famid]">[AttributesLabel]</a>
                <a target="[idFrame]" href="?app=FDL&action=EDITFAMILYENUMS&famid=[famid]">[EnumerateLabel]</a>
                <a target="[idFrame]" href="?app=FDL&action=FDL_CARD&zone=FDL:VIEWDEFAULTVALUES:T&id=[famid]">[DefaultLabel]</a>
                <a target="[idFrame]" href="?app=DCPDEVEL&action=FAMILYEXPORTFORM&family=[famid]">[ExportConf]</a>
                </td></tr>

            <tr ><td colspan="3">
            <p class="header">
                [SecurityLabel]
            </p></td></tr>


                <tr>
                    <td><label>[FamilyProfil] :</label></td>
                    <td>
                    [IF profid]<a target="[idFrame]" href="?app=FREEDOM&action=FREEDOM_GACCESS&id=[profid]">
                    <img class="ui-icon" src="[pIcon]"/> [pLabel]</a>[ENDIF profid]
                    [IFNOT profid]<a target="[idFrame]" data-reload="true"
                                     href="?app=FREEDOM&action=MODPROF&docid=[famid]&profid=[famid]">
                    [InitialiseFamProfileLabel]</a> [TEXT:dcpdev:or] [ENDIF profid]</td>

                    <td>
                    <span class="ui-widget ui-inputgroup">
                       <input data-type="famProfile"
                              placeholder="[ChangeFamilyProfileLabel]"
                              class="profil--label"/>
                    </span>
                    <a class="reload-anchor" target="[idFrame]" data-reload="true">X</a></td></tr>


                <tr>
                    <td><label>[DocumentProfil] :</label></td>
                    <td>[IF cprofid]<a target="[idFrame]" href="?app=FREEDOM&action=FREEDOM_GACCESS&id=[cprofid]"><img
                        class="ui-icon"
                        src="[cpIcon]"/> [cpLabel]</a>[ENDIF cprofid]

                    [IFNOT cprofid]<a target="[idFrame]" data-reload="true"
                                      href="?app=FREEDOM&action=CREATEPROF&targetid=[famid]&attrid=cprofid&famid=[famid]">[CreateNewDocProfile]</a>
                    [ENDIF cprofid]</td><td>
                    <span class="ui-widget  ui-inputgroup">
                       <input data-type="docProfile"
                              placeholder="[TEXT:dcpdev:Choose document profil]"
                              class="profil--label"/>
                    </span></td>

                </tr>
                <tr>
                    <td><label>[ViewControl] :</label></td><td>
                    [IF cvid]
                    <a target="[idFrame]" href="?app=FDL&action=FDL_CARD&id=[cvid]">
                        <img class="ui-icon" src="[cvIcon]"/> [cvLabel]</a>
                    [ENDIF cvid]
                    [IFNOT cvid]
                    <span class="cv-idgroup">
                        <a target="[idFrame]" class="cv-create"
                           data-famid="[famid]" data-cv="CVDOC"
                           data-title="[TEXT:dcpdev:Create new]">[cvCreate]</a>[IF cvfam]<select class="cv-fams">
                            [BLOCK cvfams]
                            <option value="[cvid]">[cvtitle]</option>
                            [ENDBLOCK cvfams]
                        </select>
                        [ENDIF cvfam]
                    </span>
                    [ENDIF cvid]</td><td>
                    <span class="ui-widget ui-inputgroup">
                       <input data-type="docCv"
                              placeholder="[TEXT:dcpdev:Choose cv]"
                              class="profil--label"/>
                    </span></td>

                </tr>



        <tr><td colspan="3">
            <p class="header">
                [WorkflowLabel]
            </p></td></tr>
          <tr><td>
                <label>[DefaultWorkflow] :</label>

          </td><td>[IF wid]<a target="[idFrame]" href="?app=FDL&action=FDL_CARD&id=[wid]">
              <img class="ui-icon" src="[wIcon]"/> [wLabel]</a>
              [ENDIF  wid]
              [IFNOT wid][NoWorkflow][ENDIF wid]</td><td>
              <span class="ui-widget ui-inputgroup">
                       <input data-type="docWid"
                              placeholder="[TEXT:dcpdev:Choose workflow]"
                              class="profil--label"/>
                    </span>

            </td></tr>



        </table>

    </section>
    <div class="dialog--icon" style="display:none" title="[TEXT:dcpdev:Change icon]">
        <img class="bigicon" src="[bigicon]"/><br/>
    <form method="POST" class="form-icon"
          action="?app=DCPDEVEL&action=MODIFYFAMILY"
          enctype="multipart/form-data">
        <input type="file" accept="image/*" name="value"/>
        <input name="famid"  value="[famid]" type="hidden"/>
        <input name="type"  value="icon" type="hidden"/>
        <input  value="[TEXT:dcpdev:Change icon]" type="submit"/>
    </form></div>

    <iframe class="config-result" name="[idFrame]" src="about:blank" />
</div>
