<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>KitchenSink</title>
    [[#css]]
    <link rel="stylesheet" type="text/css" href="[[.]]"/>
    [[/css]]
</head>
<body>

<script id="wrapper" type="text/x-mustache-template">
    <div class="row dcpAttribute">
        <label class="col-sm-2 labelWrapper">

        </label>
        <div class="col-sm-10 contentWrapper">

        </div>
    </div>
</script>
<script type="text/javascript">
    window.dcp = window.dcp || {};
    window.dcp.ws = [[ws]];
    window.loaders = [[&loaders]];
</script>
[[#js]]
<script type="text/javascript" src="[[.]]"></script>
[[/js]]
</body>
</html>