.dcpAttribute__label {
  font-weight: normal;
}

.dcpAttribute__label {
  &:after {
    content: " :";
  }
}

.dcpAttribute--needed .dcpAttribute__label {
  font-weight: bold;
}

.dcpAttribute--needed .dcpAttribute__label:after {
  content: "* :";
}

.dcpAttribute__label.has-error {
  color: @brand-danger;
}

.dcpDocument--edit .dcpAttribute__label {
  padding-top:(@padding-base-vertical + 4);
}