.dcpAttribute__label {
  font-weight: normal;
}

.dcpAttribute__label {
  &:after {
    content: ":";
    padding-left:0.6em;
  }
}

.dcpAttribute--needed .dcpAttribute__label {
  font-weight: bold;
}

.dcpAttribute--needed .dcpAttribute__label:after {
  content: "*\0000a0:";
    padding-left:0.1em;
}

.dcpAttribute__label.has-error {
  color: @brand-danger;
}

.dcpDocument--edit .dcpAttribute__label {
  padding-top:(@padding-base-vertical + 4);
}