// Not Expanded style
.documentsList__collections__wrapper,
.documentsList__collections {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

.documentsList__collections__wrapper {
  .k-loading-mask {
    background: #000000;
    opacity: 0.7;
    z-index: 2000;
  }
}

.documentsList__collections__wrapper {
  z-index: 900;
  position: absolute;
  left: calc(-100vw + 50px);
  transition: left 1s;
}

@media screen and (min-width: 958px) {
  .documentsList__collections__wrapper,
  .documentsList__collections {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25vw;
  }

  .documentsList__collections__wrapper {
    left: calc(-25vw + 50px);
  }
}

.documentsList__collections {
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.15);
  .fa {
    vertical-align: middle;
  }
}

.user-info {
  display: flex;
  align-items: center;
}

.documentsList__collections_button_icon.documentsList__collections_button_icon--user {
  width: 50px;
  height: 44px;
  background-size: 35px;
}

.documentsList__collections_button_icon {
  width: 50px;
  text-align: center;
}

.documentsList__collections_button_title,
.documentsList__collections_button_icon {
  display: inline-block;
}

.documentsList__collections_button_icon {
  width: 50px;
  left: calc(100% - 50px);
  position: relative;
  text-align: center;
  transition: left 1s;
}

.documentsList__collections_button_title.documentsList__collections_button_title--user {
  text-align: center;
  padding-right: 20px;
}

.documentsList__collections_button_title {
  text-align: center;
  width: calc(100% - 50px);
}

.documentsList__collections_button_title,
.documentsList__collectionCard__heading__content__label {
  opacity: 0;
  transition: opacity 0.2s;
}

.documentsList__collections_button_title {
  width: calc(100% - 60px);
  text-align: center;
}

.documentsList__collections_button {
  display: flex;
  align-items: center;
  padding: 0px;
  height: 35px;
  vertical-align: middle;
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}


.documentsList__collections_button_icon--collapse {
  background-size: 24px;
}

.documentsList__collections_button_title.documentsList__collections_button_title--collapse {
  padding-right: 42px;
}

.documentsList__collections_button.documentsList__collections_button--up,
.documentsList__collections_button.documentsList__collections_button--down {
  height: 30px;
}

.documentsList__collections_button_icon.documentsList__collections_button_icon--up,
.documentsList__collections_button_icon.documentsList__collections_button_icon--down {
  background: transparent;
  .fa {
    color: #eee;
  }
}

.documentsList__collections_button--notif,
.documentsList__collections_button--settings,
.documentsList__collections_button--state,
.documentsList__collections_button--disconnect {
  line-height: 2;
  text-align: left;
}

.documentsList__collections_button_title {
  text-align: center;
  width: calc(100% - 50px);
}

.documentsList__collections_button_title--notif,
.documentsList__collections_button_title--settings,
.documentsList__collections_button_title--state,
.documentsList__collections_button_title--disconnect {
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 10px;
  color: #fff;
  padding-right: 38px;
}

.documentsList__collectionCard {
  margin-top: 0px;
}

.documentsList__collectionCard {
  position: relative;
  border: none;
  cursor: pointer;
}

.documentsList__collectionCard:first-child,
.documentsList__collectionCard:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.documentsList__collectionCard .documentsList__collectionCard__heading {
  line-height: 1.3em;
  font-weight: 600;
  color: #505050;
  text-transform: uppercase;
}

.documentsList__collectionCard__heading__content__icon {
  width: 43px;
}

.documentsList__collectionCard__heading__content__icon {
  width: 48px;
  left: calc(100% - 50px);
  position: relative;
  text-align: center;
  transition: left 1s;
}

.documentsList__collectionCard__heading__content__label,
.documentsList__collectionCard__heading__content__icon {
  display: inline-block;
}

.documentsList__collectionCard__heading__content__label {
  text-align: center;
  width: calc(100% - 89px);
}

.documentsList__collections__list {
  border: none;
  margin: 0;
  overflow: hidden;
  flex: 1;
}

.documentsList__collectionCard {
  margin:0;
  border-bottom: 1px solid #ccc;
  padding-top: 0;
  padding-bottom: 0;
  height: 41px;
  transition: height 1s;
}

.documentsList__collectionCard__heading__content__icon__img {
  padding: 10px 0 10px;
  width: 20px;
  height: 40px;
}

// Expanded style

.documentsList__collections__wrapper.documentsList__collections--expanded {
  left: 0;

  .documentsList__collectionCard__heading__content__icon,
  .documentsList__collections_button_icon {
    left: 0px;
  }

  .documentsList__collectionCard__heading__content__icon {
    box-shadow: none;
  }

  .documentsList__collectionCard {
    height: 51px;
  }

  .documentsList__collections_button_title,
  .documentsList__collectionCard__heading__content__label {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-in;
  }

  .documentsList__collections_button_icon.documentsList__collections_button_icon--up,
  .documentsList__collections_button_icon.documentsList__collections_button_icon--down {
    left: calc(50% - 25px);
  }
}
