// Not Expanded style
.documentsList__collections__wrapper,
.documentsList__collections {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
}

.documentsList__collections__wrapper {
  z-index: 900;
  position: absolute;
  left: calc(-100vw + 50px);
  transition: left 1s;
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.15);

  .k-loading-mask {
    background: #000000;
    opacity: 0.7;
    z-index: 2000;
  }
}

@media screen and (min-width: 958px) {
  .documentsList__collections__wrapper,
  .documentsList__collections {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25vw;
  }

  .documentsList__collections__wrapper {
    left: calc(-25vw + 50px);
  }
}

.documentsList__collections {
  .fa {
    vertical-align: middle;
  }
}

.user-info {
  display: flex;
  align-items: center;
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.15);
  height: 5rem;
  &:hover {
    cursor: pointer;
  }
}

.documentsList__collections__button__icon.documentsList__collections__button__icon--user {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;

  .documentsList__collections__button__icon--user__initial {
    font-size: 0.8rem;
    position: relative;
    top: -1.8rem;
  }

  .documentsList__collections__button__icon--user__icon {
    padding-top: 1.8rem - 0.8rem;
    font-size: 4rem;
  }
}

.documentsList__collections__button__icon {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: calc(100% - 50px);
  position: relative;
  transition: left 1s;
}

.documentsList__collections__button__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding-left: 20px;
  text-transform: capitalize;
  width: calc(100% - 50px);
  color: #fff;

  .documentsList__collections__button__title--user__cogs {
    width: 50px;
    text-align: center;
  }
}

.documentsList__collections__button__title,
.documentsList__collectionCard__heading__content__label {
  opacity: 0;
  transition: opacity 0.2s;
}

.documentsList__collections__button {
  display: flex;
  align-items: center;
  padding: 0px;
  height: 35px;
  vertical-align: middle;
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.documentsList__collections__buttons--top,
.documentsList__collections__buttons--bottom {
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.15);
}

.documentsList__collections__button__icon--collapse {
  background-size: 24px;
}

.documentsList__collections__button__title.documentsList__collections__button__title--collapse {
  padding-right: 42px;
}

.documentsList__collections_button.documentsList__collections_button--up,
.documentsList__collections_button.documentsList__collections_button--down {
  height: 30px;
}

.documentsList__collections__button__icon.documentsList__collections__button__icon--up,
.documentsList__collections__button__icon.documentsList__collections__button__icon--down {
  background: transparent;
  .fa {
    color: #eee;
  }
}

.documentsList__collections__button--notif,
.documentsList__collections__button--settings,
.documentsList__collections__button--state,
.documentsList__collections__button--disconnect {
  line-height: 2;
  text-align: left;
}

.documentsList__collections__button__title--notif,
.documentsList__collections__button__title--settings,
.documentsList__collections__button__title--state,
.documentsList__collections__button__title--disconnect {
  font-weight: 400;
}

.documentsList__collectionCard {
  position: relative;
  border: none;
  cursor: pointer;
  margin:0;
  border-bottom: 1px solid #ccc;
  padding-top: 0;
  padding-bottom: 0;
  height: 41px;
  transition: height 1s;
  opacity: 0.66;

  &.k-state-selected {
    opacity: 1;
  }
}

.documentsList__collectionCard:first-child,
.documentsList__collectionCard:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.documentsList__collectionCard .documentsList__collectionCard__heading {
  font-weight: 600;
  color: #505050;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.documentsList__collectionCard__heading__content__icon {
  width: 50px;
  left: calc(100% - 50px);
  position: relative;
  text-align: center;
  transition: left 1s, padding 1s;
  padding: 0;
}

.documentsList__collectionCard__heading__content__label,
.documentsList__collectionCard__heading__content__icon {
  display: inline-block;
}

.documentsList__collectionCard__heading__content__label {
  text-align: left;
  padding-left: 20px;
  flex: 1;
  letter-spacing: 1px;
}

.documentsList__collections__list {
  border: none;
  margin: 0;
  overflow: hidden;
  flex: 1;
}

.documentsList__collectionCard {

}

.documentsList__collectionCard__heading__content__icon__img {
  padding: 10px 0 10px;
  width: 20px;
  height: 40px;
}

// Expanded style

.documentsList__collections__wrapper.documentsList__collections--expanded {
  left: 0;

  .documentsList__collectionCard__heading__content__icon,
  .documentsList__collections__button__icon:not(.documentsList__collections__button__icon--collapse) {
    left: 0px;
  }

  .documentsList__collectionCard__heading__content__icon {
    box-shadow: none;
    padding: 5px 0px 5px;
  }

  .documentsList__collectionCard {
    height: 51px;
  }

  .documentsList__collections__button__title,
  .documentsList__collectionCard__heading__content__label {
    opacity: 1;
    transition: opacity 1s;
    transition-timing-function: ease-in;
  }

  .documentsList__collections__button__icon.documentsList__collections__button__icon--up,
  .documentsList__collections__button__icon.documentsList__collections__button__icon--down {
    left: calc(50% - 25px);
  }
}
