.documentsList__collections__wrapper {
  background-color: #FFFFFF;

  .user-info {
    background: #6c7989;
    text-transform: uppercase;
    color: #fff;
  }

  .documentsList__collections__button__icon.documentsList__collections__button__icon--user {
    background-color: #435366;
    font-size: 1.2em;
    font-weight: 600;
  }

  .documentsList__collections__button__title.documentsList__collections__button__title--user {
    font-weight: 400;
  }

  .documentsList__collections__button__title.documentsList__collections__button__title--collapse {
    font-weight: 400;
  }

  .documentsList__collections__button__title--user__cogs {
    &:hover {
      color: $ank-ui-color-selected;
    }
  }

  .documentsList__collections__button__icon {
    height: 100%;
    background-color: #e7e7e7;
    .fa {
      font-size: 1.5rem;
      color: #FFF;
    }
  }

  .documentsList__collections__button--collapse {
    text-transform: uppercase;
  }

  .documentsList__collections__button.documentsList__collections__button--up,
  .documentsList__collections__button.documentsList__collections__button--down {
    background-color: #c1c1c1;
  }

  .documentsList__collections__buttons--bottom > .documentsList__collections__button,
  .documentsList__collections__buttons--top > .documentsList__collections__button {
    background-color: #7A7A7A;

    & > .documentsList__collections__button__icon {
      background-color: #646464;
      i {
        color: white;
      }
    }
  }

  .documentsList__collections__slot__buttons > * {
    background-color: #c7a266;
    .button__icon {
      color: white;
    }
  }

  .documentsList__collections__slot__buttons .button__icon {
    height: 100%;
    background-color: #e19f36;
    .fa {
      font-size: 1.5rem;
      color: #FFF;
    }
  }

  .documentsList__collections__buttons--bottom, .documentsList__collections__buttons--top {
    .documentsList__collections__slot__buttons > * {
      &:hover {
        .button__icon {
          background-color: lighten(#e19f36, 8);
        }
        background-color: lighten(#c7a266, 8);
      }
    }

    .documentsList__collections__button {
      &:hover {
        background-color: lighten(#7A7A7A, 8);
        & > .documentsList__collections__button__icon {
          background-color: lighten(#646464, 8);
        }
      }
    }
  }

  .documentsList__collectionCard {
    color: #505050;
    line-height: 1.3em;
  }

  .documentsList__collections,
  .documentsList__collections__list,
  .documentsList__collections__button__icon {
    background-color: #f9f9f9;
  }


  .documentsList__collectionCard {

    .documentsList__collectionCard__heading__content__label {
      color: $ank-ui-color-label;
      font-weight: 400;
    }

    &.k-state-selected {
      background-color: #e7e7e7;
      font-weight: 600;

      .documentsList__collectionCard__heading__content__label {
        color: $ank-ui-color-selected;
        font-weight: bold;
      }

      .documentsList__collectionCard__heading__content__icon {
        box-shadow: inset 3px 0px 0px 0px $ank-ui-color-client;
      }
    }
  }
  // Expanded style
  &.documentsList__collections--expanded {
    .documentsList__collectionCard.k-state-selected {
      box-shadow: inset 3px 0px 0px 0px $ank-ui-color-client;
    }

    .documentsList__collectionCard.k-state-selected {
      .documentsList__collectionCard__heading__content__icon {
        box-shadow: none;
      }
    }
  }
}