.documentsList__collections__wrapper {
  background-color: #FFFFFF;

  .user-info {
    background: #6c7989;
    color: #fff;
  }

  .documentsList__collections_button_icon.documentsList__collections_button_icon--user {
    background-color: #435366;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
  }

  .documentsList__collections_button_title.documentsList__collections_button_title--user {
    font-weight: 400;
  }

  .documentsList__collections_button_title.documentsList__collections_button_title--collapse {
    font-weight: 400;
  }

  .documentsList__collections_button_icon {
    line-height: 2.95;
    background-color: #e7e7e7;
    .fa {
      font-size: 1.5rem;
      color: #FFF;
    }
  }

  .documentsList__collections_button_icon {
    background-color: #FFFFFF;
  }

  .documentsList__collections_button--collapse {
    background-color: #7a7a7a;
  }

  .documentsList__collections_button--collapse,
  .documentsList__collections_button--collapse .documentsList__collections_button_icon {
    background-color: #7a7a7a;
    color: #fff;
  }

  .documentsList__collections_button_icon--collapse {
    background-color: #646464 !important;
  }

  .documentsList__collections_button.documentsList__collections_button--up,
  .documentsList__collections_button.documentsList__collections_button--down {
    background-color: #c1c1c1;
  }

  .documentsList__collections_button--settings,
  .documentsList__collections_button--notif,
  .documentsList__collections_button--state,
  .documentsList__collections_button--disconnect {
    background-color: #7a7a7a;
  }

  .documentsList__collections_button_icon.documentsList__collections_button_icon--notif,
  .documentsList__collections_button_icon.documentsList__collections_button_icon--settings,
  .documentsList__collections_button_icon.documentsList__collections_button_icon--state,
  .documentsList__collections_button_icon.documentsList__collections_button_icon--disconnect {
    background-color: #646464;
  }

  .documentsList__collectionCard {
    color: #505050;
    line-height: 1.3em;
  }

  .documentsList__collections,
  .documentsList__collections__list,
  .documentsList__collections_button_icon {
    background-color: #f9f9f9;
  }


  .documentsList__collectionCard {

    .documentsList__collectionCard__heading__content__label {
      color: $A4-ui-color-label;
      font-weight: 400;
    }

    &.k-state-selected {
      background-color: #e7e7e7;
      font-weight: 600;

      .documentsList__collectionCard__heading__content__label {
        color: $A4-ui-color-selected;
        font-weight: bold;
      }

      .documentsList__collectionCard__heading__content__icon {
        box-shadow: inset 8px 0px 0px 0px $A4-ui-color-client;
      }
    }
  }
  // Expanded style
  &.documentsList__collections--expanded {
    .documentsList__collectionCard.k-state-selected {
      box-shadow: inset 4px 0px 0px 0px $A4-ui-color-client;
    }

    .documentsList__collectionCard.k-state-selected {
      .documentsList__collectionCard__heading__content__icon {
        box-shadow: none;
      }
    }
  }
}