.dcpAttribute__value--multiple {
  button.dcpAttribute__value--docid--button {
    background-color: $A4-ui-color-btn-tool-bg;
    border: none;
    min-width: 2em;
    height: 100%;
    padding: 0;
  }
}

.dcpAttribute__value.dcpAttribute__value--docid {
  .k-select {
    background-color: $A4-ui-color-btn-tool-bg;
    left: 0;
    right: auto;
    border: none;
  }
}