<table class="dcpArray__table">
    <thead>
        <tr>
            {{#attribute.toolsEnabled}}<th></th>{{/attribute.toolsEnabled}}
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#attribute.rows}}
    <tr>
        {{#attribute.toolsEnabled}}<td>{{{rowTools}}}</td>{{/attribute.toolsEnabled}}
        <td>
            Date de la dépense
            {{{content.fee_exp_date.htmlContent}}}
            <br/>
            {{content.fee_exp_client.label}}
            {{{content.fee_exp_client.htmlContent}}}
        </td>
        <td>
            {{content.fee_exp_nature.label}}
            {{{content.fee_exp_nature.htmlContent}}}
            <br/>
            {{content.fee_exp_provider.label}}
            {{{content.fee_exp_provider.htmlContent}}}
        </td>
        <td>
            {{content.fee_exp_category.label}}
            {{{content.fee_exp_category.htmlContent}}}
            <br/>
            {{content.fee_exp_tax.label}}
            {{{content.fee_exp_tax.htmlContent}}}
        </td>
        <td>
            {{content.fee_exp_file.label}}
            {{{content.fee_exp_file.htmlContent}}}
        </td>
    </tr>
    {{/attribute.rows}}
    </tbody>
</table>
{{#attribute.toolsEnabled}}
<div>
    {{{attribute.tableTools}}}
</div>
{{/attribute.toolsEnabled}}