<div class="fees-expenses-visualization">
    <div id="fees-expenses-viztabstrip" class="fees-expenses-viztabstrip">
    <ul class="fees-expenses-list">
    {{#expensesLabel}}
        <li class="fees-expenses-listitem">{{displayTitle}}</li>
    {{/expensesLabel}}
    </ul>
    {{#attributes.fee_t_all_exp.rows}}
    <div data-rowid="{{index}}">
        <div  class="fees-expenses-list-content">
            <div class="fees-expenses-list-content-detail">
                <div class="fees-attribute">
                    <div class="fees-attribute-label">{{content.fee_exp_nature.label}} :</div>
                    <div class="fees-attribute-value">{{content.fee_exp_nature.attributeValue.displayValue}}</div>
                </div>
                <div class="fees-attribute">
                    <div class="fees-attribute-label">{{content.fee_exp_category.label}} :</div>
                    <div class="fees-attribute-value">{{content.fee_exp_category.attributeValue.displayValue}}</div>
                </div>
                <div class="fees-attribute">
                    <div class="fees-attribute-label">{{content.fee_exp_client.label}} :</div>
                    <div class="fees-attribute-value">{{content.fee_exp_client.attributeValue.displayValue}}</div>
                </div>
                <div class="fees-attribute">
                    <div class="fees-attribute-label">{{content.fee_exp_provider.label}} :</div>
                    <div class="fees-attribute-value">{{content.fee_exp_provider.attributeValue.displayValue}}</div>
                </div>
                <div class="fees-attribute">
                    <div class="fees-attribute-label">{{content.fee_exp_tax.label}} :</div>
                    <div class="fees-attribute-value">{{content.fee_exp_tax.attributeValue.displayValue}} €</div>
                </div>
                <div class="fees-attribute">
                    <div class="fees-attribute-label">{{content.fee_exp_date.label}} :</div>
                    <div class="fees-attribute-value">{{content.fee_exp_date.attributeValue.displayValue}}</div>
                </div>
            </div>
            <div class="fees-expenses-list-content-img">
                <img class="fees-expenses-img" src="api/v1/documents/{{properties.id}}/images/fee_exp_file/{{index}}/sizes/370x500"/>
            </div>
        </div>
    </div>
    {{/attributes.fee_t_all_exp.rows}}
    </div>
    <div class="fees-expenses-geoloc">
        <div id="feesMap" class="fees-expenses-geoloc-section"></div>
        <div id="fees-expenses-exif" class="fees-expenses-geoloc-section fees-expenses-exif">
            <h3 class="fees-expenses-geoloc-section-title">Horodatage</h3>
            <div class="fees-expenses-geoloc-section-content">
                <div class="fees-attribute">
                    <div class="fees-attribute-label">Date dans la blockchain :</div>
                    <div id="fee-exp-date-value" class="fees-attribute-value">Non renseignée</div>
                </div>
                <div class="fees-attribute">
                    <div class="fees-attribute-label">Heure GMT dans la blockchain :</div>
                    <div id="fee-exp-time-value" class="fees-attribute-value">Non renseignée</div>
                </div>
                <div class="fees-attribute">
                    <div class="fees-attribute-label">Visualiser le justificatif :</div>
                    <div class="fees-attribute-value"><a id="fee-exp-file-value" target="_blank" href="#">Certificat PDF</a></div>
                </div>
            </div>
        </div>
        <div class="fees-expenses-geoloc-section fees-expenses-timestamp">
            <h3 class="fees-expenses-geoloc-section-title">Signatures</h3>
            <div class="fees-expenses-geoloc-section-content">
                <div class="fees-attribute">
                    <div class="fees-attribute-label">Justificatif signature bénéficiaire :</div>
                    <div class="fees-attribute-value">sign-azeoi34.pdf</div>
                </div>
                <div class="fees-attribute">
                    <div class="fees-attribute-label">Justificatif signature supérieur hiérarchique :</div>
                    <div class="fees-attribute-value">sign-fezei23.pdf</div>
                </div>
                <div class="fees-attribute">
                    <div class="fees-attribute-label">Justificatif signature comptable :</div>
                    <div class="fees-attribute-value">sign-834oi34.pdf</div>
                </div>
            </div>
        </div>
    </div>
</div>