<div id="fees-expenses-viztabstrip" class="fees-expenses-visualization">
    {{#attributes.fee_t_all_exp.rows}}
        <div>Dépense {{index}} {{content.fee_exp_nature.attributeValue.displayValue}}</div>
    {{/attributes.fee_t_all_exp.rows}}
</div>