.dcpAttribute__content--htmltext .cke {
  width: 100%;
  border:none;
}


.dcpAttribute__content--htmltext .cke_inner {
  border-radius: $border-radius-inset;
  .cke_top {
     border-radius: $border-radius-inset $border-radius-inset 0 0;
  }
}
.dcpAttribute__content--htmltext .cke.k-state-focused {
  border-color: $input-border-focus;
}

.dcpAttribute__content--htmltext.has-error .cke {
  border-color: $error transparent $error $error;
}


.dcpAttribute__content.dcpAttribute__content--htmltext .input-group-addon {
  .dcpAttribute__content__button--delete {
    height:3rem;
    left: -4rem;
  }
}


.dcpAttribute__content--htmltext div[contenteditable="true"] {
  overflow:auto;
  height: 100%;
  min-height: 3em;
  display:block;
  border:none;
}

.cke.cke_float {

  border-top: solid 0.2rem transparent;
  border-bottom: solid 0.2rem transparent;
  //border-width: 0.2rem;
  //border-style:solid;

  .cke_inner {
    border: $ank-ui-doc-edit-attribute-hover-border;
    box-shadow: $ank-ui-doc-edit-attribute-focus-shadow;
    border-radius:$ank-ui-doc-edit-attribute-border-radius;
  }
  .cke_top {
    border:0;
    background: transparent;
  }
}