Options +FollowSymLinks
RewriteEngine On
# Redirect requests to index.php
RewriteCond %{REQUEST_FILENAME} !=fixed.php
RewriteRule .* fixed.php

<FilesMatch "^.+$">
    Order Allow,Deny
    Allow from All
</FilesMatch>
