<div class="input-group margin-bottom-sm {{#isMultiple}}dcpAttribute__value--multiple{{/isMultiple}}{{^isMultiple}}dcpAttribute__value--single{{/isMultiple}}">
    <span class="input-group-addon">
        <button
            {{#renderOptions.autoCompleteHtmlLabel}}
            title="{{renderOptions.autoCompleteHtmlLabel}}"
            {{/renderOptions.autoCompleteHtmlLabel}}
            class="dcpAttribute__value--docid--button btn btn-default btn-xs" tabindex="-1">
                {{^isMultiple}}
                <span class="glyphicon glyphicon-triangle-bottom"></span>
                {{/isMultiple}}
                {{#isMultiple}}
                <span class="k-icon k-i-arrow-s"></span>
                {{/isMultiple}}
        </button>
    </span>
    <input name="{{id}}" id="{{viewCid}}"
            class="form-control dcpAttribute__value dcpAttribute__value--docid">
    </input>
    {{#hadButtons}}
    <span class="dcpAttribute__content__buttons input-group-addon">
        {{#renderOptions.buttons}}
        <button type="button" data-index="{{index}}" data-title="{{title}}" class="dcpAttribute__content__button--extra btn btn-default btn-xs {{class}}" tabindex="-1">
         {{{renderHtmlContent}}}
        </button>
        {{/renderOptions.buttons}}
        {{#deleteButton}}
        <button type="button" title="[[#i18n]]ddui::Delete : [[/i18n]]" class="dcpAttribute__content__button--delete btn btn-default btn-xs" tabindex="-1">
            <span class="fa fa-times fa-fw"></span>
        </button>
        {{/deleteButton}}
    </span>
    {{/hadButtons}}
</div>