$spaceBeetween:1rem;


// ---------------------
// FRAME LEFT - RIGHT
// ---------------------
.dcp-column--leftright {
  &.dcpFrame.dcp-column {

    > .dcpFrame__content {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      //justify-content: space-between;

      > .row {
        //flex-grow: 1; // Set to 1 to grow the last line to the end
        margin-left: ($spaceBeetween /2);
        margin-right: ($spaceBeetween /2);
      }
    }
  }

  &.dcp-column--grow {
    > .dcpFrame__content {
      > .row {
        flex-grow: 1;
      }
    }

  }

  @for $column from 2 through 12 {
    &.dcpFrame.dcp-column--#{$column} {
      > .dcpFrame__content {
        > .row {
          flex-basis: calc(#{(100/$column)}% - #{$spaceBeetween});
        }
      }
    }
  }
}


// ---------------------
// FRAME TOP - BOTTOM
// ---------------------
.dcp-column--topbottom {
  &.dcpFrame.dcp-column {
    > .dcpFrame__content {
      column-rule: solid 1px $A4-ui-doc-edit-attribute-color-border;
      > .row {
        break-inside: avoid;
      }
    }
  }

  @for $column from 2 through 12 {
    &.dcpFrame.dcp-column--#{$column} {
      > .dcpFrame__content {
        column-count: $column;
      }
    }
  }
  .dcpAttribute__content * {
    // Bug in Google chrome - if not, the contain is not visible
    -webkit-border-radius: 0 ! important;
  }
}


// ---------------------
// Tab Responsive
// ---------------------
.dcpTab__content.dcp-column.k-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: space-between;

    > .dcpFrame {
      margin-left:($spaceBeetween /2);
      margin-right:($spaceBeetween /2);
      margin-top:$spaceBeetween;
    }

}

@for $column from 2 through 12 {
  .dcpTab__content.dcp-column--#{$column} {
    > .dcpFrame  {
        flex-basis: calc(#{(100/$column)}% - #{$spaceBeetween});
    }
  }
}


.dcp-column--grow {
  &.dcpTab__content {
    > .dcpFrame {
      flex-grow: 1;
    }
  }
}
