
.dcpAttribute__description {
  border: solid 1px $A4-ui-doc-edit-attribute-hover-color;
  //padding: 0.3em;
  border-radius: $border-radius-base;
  margin-bottom: 0.2rem;
  padding: 0.2rem;
  background: $dcpAttributeDescriptionBackgroundColor;


  .button-close-error {
    padding: 0.2rem;
    position: absolute;
    cursor: pointer;
    right: -1.7rem;
    top: -2px;
  }
}

.dcpAttribute__description--top {
  text-align: center;
  clear: both;
}

.dcpAttribute__description.dcpAttribute__description--topValue.dcpAttribute__right,
.dcpAttribute__description.dcpAttribute__description--bottomValue.dcpAttribute__right {
  clear: both;
  float: right;
}


.dcpAttribute__description.dcpAttribute__description--top,
.dcpAttribute__description.dcpAttribute__description--topLabel,
.dcpAttribute__description.dcpAttribute__description--topValue {
  margin-bottom:$dcp-attribute-padding-base-vertical;
}


.dcpAttribute__description.dcpAttribute__description--bottom,
.dcpAttribute__description.dcpAttribute__description--bottomLabel,
.dcpAttribute__description.dcpAttribute__description--bottomValue {
  margin-bottom:$dcp-attribute-padding-base-vertical;
}

.dcpAttribute__description.dcpAttribute__description--topLabel.dcpAttribute__left {
  float: none;
}

.dcpAttribute__description--topValue + .dcpAttribute__left.dcpAttribute__label {
  clear: both;
}

.dcpAttribute__description__content {
  overflow: auto;
  max-height: 10em;
  border-top: solid 1px $A4-ui-doc-edit-attribute-hover-color;
  background-color: $body-bg;
  padding-top: 0.3em;
}

.dcpAttribute__description__title.card-heading {
  border: none;
  overflow: auto;
}

.dcpAttribute__description__title--expandable {
  cursor: pointer;
}

.dcpAttribute__description__title__expand {
  float: left;
  width: 1em;
  cursor: pointer;
}

.dcpAttribute__description__title__expand.fa-caret-down::before {
  margin-left: -3px;
}

.dcpAttribute__description--left {
  display: inline-block;
  width: 50%;
  float: left;
  margin-right: 1em;
}

.dcpAttribute__description--left {
  position: relative;
}

.dcpAttribute__description--left::after, .dcpAttribute__description--left::before {
  left: 100%;
  top: 1.5em;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dcpAttribute__description--left::after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: $dcpAttributeDescriptionBackgroundColor;
  border-width: $dcpAttributeDescriptionArrowSize;
  margin-top: (0 - $dcpAttributeDescriptionArrowSize);
}

.dcpAttribute__description--left::before {
  border-color: rgba(191, 191, 191, 0);
  border-left-color: $A4-ui-doc-edit-attribute-hover-color;
  border-width: ($dcpAttributeDescriptionArrowSize + 1);
  margin-top: (-1 - $dcpAttributeDescriptionArrowSize);
}

.dcpAttribute__description--top, .dcpAttribute__description--topLabel, .dcpAttribute__description--topValue {
  position: relative;
}

.dcpAttribute__description--click {
  display: none;
}

.dcpAttribute__description--top::after, .dcpAttribute__description--top::before,
.dcpAttribute__description--topLabel::after, .dcpAttribute__description--topLabel::before,
.dcpAttribute__description--topValue::after, .dcpAttribute__description--topValue::before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dcpAttribute__description--top::after,
.dcpAttribute__description--topLabel::after,
.dcpAttribute__description--topValue::after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: $dcpAttributeDescriptionBackgroundColor;
  border-width: $dcpAttributeDescriptionArrowSize;
  margin-left: (0 - $dcpAttributeDescriptionArrowSize);
}

.dcpAttribute__description--top::before,
.dcpAttribute__description--topLabel::before,
.dcpAttribute__description--topValue::before {
  border-color: rgba(191, 191, 191, 0);
  border-top-color: $A4-ui-doc-edit-attribute-hover-color;
  border-width: ($dcpAttributeDescriptionArrowSize + 1);
  margin-left: (-1 - $dcpAttributeDescriptionArrowSize);
}

.dcpAttribute__description--bottom,
.dcpAttribute__description--bottomValue,
.dcpAttribute__description--bottomLabel {
  position: relative;
  top: $dcpAttributeDescriptionArrowSize;
  clear: both;
}

.dcpAttribute__description--bottom::after, .dcpAttribute__description--bottom::before,
.dcpAttribute__description--bottomValue::after, .dcpAttribute__description--bottomValue::before,
.dcpAttribute__description--bottomLabel::after, .dcpAttribute__description--bottomLabel::before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}


.dcpTab__content > .dcpAttribute__description {

  &.dcpAttribute__description--top,
  &.dcpAttribute__description--topLabel,
  &.dcpAttribute__description--topValue,
  &.dcpAttribute__description--bottom,
  &.dcpAttribute__description--bottomValue,
  &.dcpAttribute__description--bottomLabel {
    &::before, &::after {
      display: none;
    }
  }

  &.dcpAttribute__description--top,
  &.dcpAttribute__description--bottomLabel,
  &.dcpAttribute__description--topValue {
    margin-bottom:0.5em;
  }
}

.dcpFrame > .dcpAttribute__description {
  float: none;
  width: 100%;

  &.dcpAttribute__description--top,
  &.dcpAttribute__description--topLabel,
  &.dcpAttribute__description--topValue,
  &.dcpAttribute__description--bottom,
  &.dcpAttribute__description--bottomValue,
  &.dcpAttribute__description--bottomLabel,
  &.dcpAttribute__description--left,
  &.dcpAttribute__description--right {
    &::before, &::after {
      display: none;
    }
  }


  &.dcpAttribute__description--bottomLabel {
    top:0;
  }

  &.dcpAttribute__description--left, &.dcpAttribute__description--right {
    display: inline-block;
    width: 10em;
    vertical-align: top;
    margin: 1em;
  }
}

.dcpArray > .dcpAttribute__description {
  float: none;
  width: 100%;

  &.dcpAttribute__description--top,
  &.dcpAttribute__description--topLabel,
  &.dcpAttribute__description--topValue,
  &.dcpAttribute__description--bottomValue {
    &::before, &::after {
      left: 50%;
    }
  }
  &.dcpAttribute__description--topLabel,
  &.dcpAttribute__description--top {
    margin-bottom: $dcpAttributeDescriptionArrowSize;
  }

  &.dcpAttribute__description--bottom,
  &.dcpAttribute__description--bottomLabel,
  &.dcpAttribute__description--left,
  &.dcpAttribute__description--right {
    &::before, &::after {
      display: none;
    }
  }
}


.dcpArray {
  .dcpArray__head__cell  {
    .dcpAttribute__description--bottom{
      margin-bottom:1em;
    }
  }
  .dcpAttribute__description--bottomLabel {
    margin-bottom:1em;
  }
  .dcpArray__label {
    .dcpAttribute__description--bottomLabel,
    .dcpAttribute__description--topLabel {
      margin-right: ($A4-ui-font-base-size - $grid-gutter-width)/2;
    }
  }
}


.dcpFrame__content.dcpFrame__content--right-description,
.dcpFrame__content.dcpFrame__content--left-description {
  display: inline-block;
  width: calc(100% - 12em);
}

@media (min-width: $screen-md-min) {
  .dcpFrame > .dcpAttribute__description {
    &.dcpAttribute__description--right,
    &.dcpAttribute__description--left {
      width: 15em;
    }
  }

  .dcpFrame__content.dcpFrame__content--left-description,
  .dcpFrame__content.dcpFrame__content--right-description  {
    width: calc(100% - 17em);
  }
}


.dcpArray__content > .dcpAttribute__description,
.dcpFrame__content > .dcpAttribute__description {
  &.dcpAttribute__description--topValue,
  &.dcpAttribute__description--bottomLabel,
  &.dcpAttribute__description--bottomValue {
    &::before, &::after {
      display: none;
    }
  }
}


.dcpArray__label > .dcpAttribute__description {
  &.dcpAttribute__description--topLabel,
  &.dcpAttribute__description--bottomLabel {
    &::before, &::after {
      display: none;
    }
  }
}

@media (min-width: ($grid-float-breakpoint + 1)) {
  .dcpAttribute > .dcpAttribute__description--bottomLabel::after,
  .dcpAttribute > .dcpAttribute__description--bottomLabel::before,
  .dcpAttribute > .dcpAttribute__description--topLabel::after, .dcpAttribute > .dcpAttribute__description--topLabel::before {
    left: calc(100% - 2em);
  }

  .dcpAttribute > .dcpAttribute__description--bottomValue::after,
  .dcpAttribute > .dcpAttribute__description--bottomValue::before,
  .dcpAttribute > .dcpAttribute__description--topValue::after,
  .dcpAttribute > .dcpAttribute__description--topValue::before {
    left: 2em;
  }
}

.dcpArray__head__cell > .dcpAttribute__description {
  white-space: normal;
  font-weight: normal;

  &.dcpAttribute__description--bottomLabel {
    margin-bottom:1em;
  }
  &::before, &::after {
    display: none;
  }
}


.dcptab__content > .dcpAttribute__description {

  &::before, &::after {
    display: none;
  }
}

.dcpArray__table + .dcpAttribute__description--bottomValue {
  margin-bottom:1em;
}
.dcpArray__cell > .dcpAttribute__description {
  white-space: normal;

  &.dcpAttribute__description--bottomValue {
    margin-bottom:$dcpAttributeDescriptionArrowSize;
  }
}

.dcpAttribute__description--bottom::after,
.dcpAttribute__description--bottomValue::after,
.dcpAttribute__description--bottomLabel::after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: $dcpAttributeDescriptionBackgroundColor;
  border-width: $dcpAttributeDescriptionArrowSize;
  margin-left: (0 - $dcpAttributeDescriptionArrowSize);
}

.dcpAttribute__description--bottom::before,
.dcpAttribute__description--bottomValue::before,
.dcpAttribute__description--bottomLabel::before {
  border-color: rgba(191, 191, 191, 0);
  border-bottom-color: $A4-ui-doc-edit-attribute-hover-color;
  border-width: ($dcpAttributeDescriptionArrowSize + 1);
  margin-left: (-1- $dcpAttributeDescriptionArrowSize );
}

.dcpAttribute__description--right {
  position: relative;
  width: 40%;
  float: right;
}

.dcpAttribute__description.dcpAttribute__description--right + .input-group {
  width: calc(60% - #{$dcpAttributeDescriptionArrowSize});
}

.dcpAttribute__description--right::after, .dcpAttribute__description--right::before {
  right: 100%;
  top: 1.5em;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.dcpAttribute__description--right::after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: $dcpAttributeDescriptionBackgroundColor;
  border-width: $dcpAttributeDescriptionArrowSize;
  margin-top: (0 - $dcpAttributeDescriptionArrowSize);
}

.dcpAttribute__description--right::before {
  border-color: rgba(191, 191, 191, 0);
  border-right-color: $A4-ui-doc-edit-attribute-hover-color;
  border-width: ($dcpAttributeDescriptionArrowSize + 1);
  margin-top: (-1 - $dcpAttributeDescriptionArrowSize);
}

.dcpAttribute__description-info.in {
  opacity: 1;
}

.dcpAttribute__description-info .tooltip-inner {
  position:relative;
  background-color: $dcpAttributeDescriptionBackgroundColor;
  color: black;
  max-width: 400px;
  border: solid $A4-ui-doc-edit-attribute-hover-color 2px;
}

.dcpAttribute__description-info .dcpAttribute__description {
  background: transparent;
  display: block;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.dcpAttribute__description-info.tooltip[x-placement=top] .arrow::before {
  border-top-color: $A4-ui-doc-edit-attribute-hover-color;
}
.dcpAttribute__description-info.tooltip[x-placement=bottom] .arrow::before {
  border-bottom-color: $A4-ui-doc-edit-attribute-hover-color;
}
.dcpAttribute__description-info.tooltip[x-placement=left] .arrow::before {
  border-left-color: $A4-ui-doc-edit-attribute-hover-color;
}
.dcpAttribute__description-info.tooltip[x-placement=right] .arrow::before {
  border-right-color: $A4-ui-doc-edit-attribute-hover-color;
}

.dcpAttribute__label_description {
  padding-right: 0.5em;
  cursor: pointer;
}