$spaceBeetween:1rem;

.dcpFrame.dcp-column {

  > .dcpFrame__content {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: space-between;

    > .row {
      //flex-grow: 1; // Set to 1 to grow the last line to the end
      margin-left:($spaceBeetween /2);
      margin-right:($spaceBeetween /2);
    }
  }
}

.dcp-column--grow {
  > .dcpFrame__content {
    > .row {
      flex-grow: 1;
    }
  }
  &.dcpTab__content {
     > .dcpFrame {
      flex-grow: 1;
     }
  }
}



@for $column from 2 through 12 {
  .dcpFrame.dcp-column--#{$column} {
    > .dcpFrame__content {
      > .row {
        flex-basis: calc(#{(100/$column)}% - #{$spaceBeetween});
      }
    }
  }
}
.dcpTab__content.dcp-column.k-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //justify-content: space-between;

    > .dcpFrame {
      margin-left:($spaceBeetween /2);
      margin-right:($spaceBeetween /2);
      margin-top:$spaceBeetween;
    }

}

@for $column from 2 through 12 {
  .dcpTab__content.dcp-column--#{$column} {
    > .dcpFrame  {
        flex-basis: calc(#{(100/$column)}% - #{$spaceBeetween});
    }
  }
}
