<div class="dcpAttribute__left control-label dcpAttribute__label dcpAttribute__label--{{type}}" data-attrid="{{id}}" />
<div class="dcpAttribute__right dcpAttribute__content dcpAttribute__content--{{type}}" data-attrid="{{id}}" data-dcpattribute_content/>
