<span class="dcpAttribute__content dcpAttribute__content--read">
{{#renderOptions.htmlLink.url}}<a class="dcpAttribute__content__link"
                                  {{#renderOptions.htmlLink.title}}title="{{renderOptions.htmlLink.title}}" {{/renderOptions.htmlLink.title}}
                                  href="{{renderOptions.htmlLink.url}}">{{/renderOptions.htmlLink.url}}
      {{value.displayValue}}
{{#renderOptions.htmlLink.url}}</a>{{/renderOptions.htmlLink.url}}
    {{{emptyValue}}}
</span>