.smart-element-grid {
    // position: relative;
    .smart-element-grid-wrapper {
        min-height: 10rem;
    }

    // none display for standard kendo cell to avoid flickering
    .k-filter-row {
        display: none !important;
    }

    .smart-element-grid-wrapper {
        min-height: 10rem;
    }

    .k-grid {
        display: flex !important; // To override important kendo rule
        flex: 1;
    }
}