html {
    font-size: 12px;
}



/* align dock buttons */
.hub-dock-entry-component nav  .hub-icon {
    margin-right: 0.5rem;
}

.hub-dock-entry-component nav {
    display: flex;
    align-items: center;
}
.hub-station-component .hub-station-center-area {
    background-color: #444;
}


/* For the label Admin Center */
header .hub-dock-header {
    font-size: 1.5rem;
    padding-left: 1rem,
}