.smart-element-grid-filter-cell {
  display: flex;

  .smart-element-grid-filter-cell-input {
    position: relative;
    flex: 2;
    margin-right: 0.25rem;
    display: flex;
    .smart-element-grid-filter-cell-input--inner {
      flex: 1;
    }
    .smart-element-grid-filter-cell-clear {
      position: absolute;
      color: rgb(110, 110, 110);
      right: .5rem;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }

  .smart-element-grid-filter-cell-operator {
    flex: 1;
  }
}
