.dcpAttribute__value--filethumb {
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.dcpAttribute__value--filethumb {
  width:4rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.dcpAttribute__value--filethumb-download {
  vertical-align: top;
  padding-top:$padding-base-vertical + 4;
  padding-right:4px;
  display:none;
}

.dcpAttribute__content--image img {
  vertical-align: top;
}

.dcpAttribute__content--image .dcpAttribute__value--edit {
  cursor: pointer;
}

.dcpImage-window  {
  text-align: center;
  vertical-align: middle;
  width:100%;
  height:100%;
  box-sizing: border-box;
}
.dcpImage-window img {
  margin:auto;
  image-orientation: from-image;
}


.dcpAttribute__content--image .form-control.dcpAttribute__value.dcpAttribute__value--edit {
  border-bottom-left-radius: $border-radius-base;
  border-top-left-radius: $border-radius-base;
}