.dcpChangeState * {
  box-sizing: border-box;
}

.dcpChangeState--activity {
  /* border: solid 1px;
   padding: 2em 1em;
   border-radius: 4em;
   max-width: 15em;*/
  display: inline-block;
  padding: 0.3em 0.3em;
  border-radius: 0.8em;
  width : 1.6em;
}

.dcpChangeState--content-activity i.fa {
  position: relative;
  top: 0.2em;
}

.dcpChangeState--content-activity {
  /*padding: 2em;*/
  margin-bottom: 1em;
  text-align: center;
}

.dcpChangeState--transition {
  border-bottom: solid 2px black;
  position: relative;
  top: -0.6em;
  padding-left: 1em;
  padding-right: 1em;
}

.dcpChangeState--transition--invalid {
  color: @brand-danger;
  border-color: @brand-danger;
}

.dcpChangeState--success {
  background-color: @brand-success;
  color: @btn-success-color;
  padding: 4px 20px;
  border-radius: 4px;
}
.dcpChangeState--loading {
  text-align: center;
  font-weight: bold;
}
.dcpChangeState--buttons {
  padding-top: 1em;
  text-align: right;
}

.dcpChangeState-button-ok .fa {
  margin-right: 1em;
}

.dcpChangeState--error {
  color: white;
  border: solid 1px fade(@brand-danger, 50%);
  background-color: @brand-danger;
  text-align: center;
  padding: 4px;
  margin-top: 2px;
  border-radius: 4px;
  font-weight: bold;
  overflow: auto;
  max-height: 10em;
  word-wrap: break-word;
}

.dcpChangeState--message {
  color: white;
  border: none;
  background-color: @brand-info;
  text-align: center;
  padding: 4px;
  margin-top: 2px;
  border-radius: 4px;
  overflow: auto;
  max-height: 10em;
  word-wrap: break-word;
}

.dcpChangeState--message--message {
  background-color: @brand-info;
}

.dcpChangeState--message--warning {
  background-color: @brand-warning;
}

.dcpChangeState--message--notice {
  background-color: @gray;
}

.dcpChangeState--message--error {
  background-color: @brand-danger;
}



