.dcpAttribute__contentWrapper--longtext .dcpAttribute__content__value {
  white-space:pre-line;
}
.dcpAttribute__contentWrapper--longtext textarea {
  resize:vertical;
  min-height: @attrInputHeight;
}

.dcpAttribute__contentWrapper--longtext textarea.form-control.k-textbox {
  width:100%;
  padding-left : 1em;
  padding-top : 0.4em;
}