{{#attribute.isWriteMode}}
<div class="input-group">
    <span class="input-group-addon money__currency__selector__wrapper">
        <select class="form-control money__currency__selector">
            <option value="€">€</option>
            <option value="$">$</option>
            <option value="£">£</option>
        </select>
    </span>
    {{{attribute.htmlDefaultContent}}}
</div>
{{/attribute.isWriteMode}}
{{#attribute.isReadMode}}
{{{attribute.htmlDefaultView}}}
{{/attribute.isReadMode}}