.seList__wrapper {
  .k-loading-mask {
    background-color: #000000;
    opacity: 0.6;
    z-index: 2000;

    .k-loading-image {
      &:before,
      &:after {
        color: #ffffff;
      }
    }
  }
}

.seList__wrapper,
.seList {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.seList,
.seList__list.k-widget {
  background-color: #fbfbfb;
}

.seList__header__slot {
  // Default slot anakeen img
  .seList__logo__img {
    width: 100%;
    margin: auto; // Centered
    height: 4.1rem;
  }
}

.seList__header__label {
  min-height: 2.8rem;
  overflow-x: hidden;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b4fc;
  border-top: 1px solid #e6e6e6;
}

.seList__search__wrapper {
  margin-bottom: 0.6667rem;
}

.seList__search__button {
  color: #878787;
  border: 1px solid #ced4da;
  border-left: 0;
  padding: 0 0.2rem;
  border-radius: 0 0.25rem 0.25rem 0;

  &:hover {
    background-color: #f1f1f1;
    color: #000000;
    cursor: pointer;
  }
}

.seList__search {
  padding: 0.5rem;

  .seList__search__keyword {
    flex: 1;
  }

  .input-group-addon.material-icons.seList__search__keyword__remove {
    border: 0;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    line-height: 1;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    z-index: 5;
    padding: 0;
    right: 3rem;
    top: 0;
    bottom: 0;
    cursor: pointer;
    &:hover {
      background-color: #ff542c;
      color: #ffffff;
    }
  }
}

.seList__summary__wrapper {
  padding-bottom: 0.6667rem;
}

.seList__summary.k-widget {
  padding-right: 10px;
  text-align: right;
  justify-content: center;
  align-items: center;
  border: none;
  min-height: 2.3rem;

  &.k-pager-wrap {
    overflow: visible;
  }

  .k-pager-first,
  .k-pager-last {
    display: none;
  }
  .k-pager-info.k-label {
    font-weight: bold;
    flex: 0 1 auto;
  }

  .k-pager-nav + .k-pager-nav {
    border-right: 0;
  }

  .k-pager-nav {
    background-color: none;
  }
}

.seList__list {
  flex: 1;
  border: none;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.seList__listItem {
  min-height: 3.5rem;
  border-style: none;
  cursor: pointer;
  line-height: 1.3em;
  color: #505050;
  background-size: 100% 100%;
  opacity: 0.8;
  border-bottom: 1px solid #ccc;

  &.seList__listItem__full {
    min-height: 5rem;
  }

  &:hover {
    color: #00b4fc;
  }

  &.k-state-selected {
    box-shadow: inset 3px 0px 0px 0px #8ae234;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    color: #00b4fc;
    font-weight: 600;
    opacity: 1;
  }
}
.seList__listItem__body {
  //height: 100%;
  padding: 1rem;
  text-transform: uppercase;
}

.seList__listItem:first-child {
  border-top: 1px solid #ccc;
}

.seList__listItem__heading {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  & > span {
    position: relative;
    bottom: -2px;
  }
}

.seList__listItem__heading__state {
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  .seList__listItem__heading__state--label {
    margin-top: 1%;
  }

  .seList__listItem__heading__state--color {
    border-radius: 20%;
    width: 0.6rem;
    height: 0.7rem;
    background-color: black;
    margin-right: 3%;
    margin-top: 1%;
  }
}

.seList__listItem--opened .seList__listItem__heading__content,
.seList__listItem__heading__state,
.seList__listItem .seList__listItem__heading__content {
  color: #505050;
  font-weight: 400;
}

.seList__listItem__heading__content_icon {
  padding: 0 1em 0 0;
  width: auto;
  height: 1.3rem;
}

.seList__list__pager_wraper {
  display: flex;
  flex-direction: row;

  border-top: 0.0833rem solid #dde2e7;

  .seList__list__pagerCounter {
    min-width: 4rem;
    margin-top: -0.0833rem;
    flex: 1;
    .k-dropdown-wrap {
      background-color: #bfbfbf;
      color: #ffffff;
      border: 0;
      border-radius: 0;
      display: flex;
      align-items: center;
      .k-input {
        justify-content: center;
        font-weight: bold;
        //padding-right: .5rem;
      }
      .k-select {
        .k-icon {
          color: #ffffff;
        }
      }
    }
  }

  .k-pager-wrap {
    padding: 0;

    .k-link {
      height: 100%;
    }
  }
}

.seList__list__pager.k-widget {
  display: flex;
  flex: 5;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  .k-pager-input.k-label {
    color: #777;
    height: 100%;
    display: flex;
    justify-content: start;
    padding-right: 0.3rem;
    margin: 0;
    flex: 1;
    min-width: 5.5rem; // Min width for page input and  total page text
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .k-textbox {
      width: 60%;
      text-align: center;
      margin: 0 10% 0 0;
      //    height: calc(100% - 2px);
      border-radius: 0;
      border-top-style: none;
      border-bottom-style: none;
      border-right-style: none;
      &:hover {
        border-top-style: solid;
        border-bottom-style: solid;
        border-right-style: solid;
      }
    }
  }

  .k-pager-nav {
    background-color: #e0e0e0;
    display: flex;
    flex: 1;
    padding: 0;
  }
}

.seList__pagination__list.k-popup.k-group.k-reset {
  width: auto !important;
  .k-list-scroller {
    .k-list {
      .k-item {
        padding: 0;
      }
    }
  }
}

.seList__pagination__pageSize {
  padding: 10px 20px;
  border-top: 1px solid #e6e6e6;
  width: 100%;
}
