.dcpFrame__label {
  cursor: pointer;
}

/**
 * When save error
 */
.dcpFrame__label.has-warning,
.dcpDocument__tabs .nav-tabs > li.active > a.has-warning,
.nav-tabs .dcpTab__label.has-warning {
  background-color: @brand-warning;

}

.dcpFrame__content--open {
}



.dcpFrame__content--close {
  overflow:hidden;
}

.dcp__frame__caret {
  width:1em;
}