.dcpFrame__label {
  cursor: pointer;
}

/**
 * When save error
 */
.dcpFrame__label.has-warning,
.dcpArray__label.has-warning,
.dcpDocument__tabs .dcpDocument__tabs__list > .dcpTab__label.has-warning {
  background-color: @brand-warning;
}



/**
 * When save error
 */
.dcpFrame__label.has-error,
.dcpArray__label.has-error,
.dcpDocument__tabs .dcpDocument__tabs__list > .dcpTab__label.has-error {
  background-color: @brand-danger;
}

.dcpFrame__content--close {
  overflow:hidden;
}

.dcp__frame__caret {
  width:1em;
}