php_value post_max_size "80M"
php_value upload_max_filesize "80M"
php_value default_charset utf-8
php_value magic_quotes_gpc "Off"

php_value session.gc_maxlifetime 2147483647

SetEnv FREEDOM_ACCESS CORE


DirectoryIndex index.php

Options -Indexes



<FilesMatch ".php$">
        Header set X-UA-Compatible "IE=Edge"
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index4.php [QSA,L]