php_value post_max_size "80M"
php_value upload_max_filesize "80M"

php_value session.gc_maxlifetime 2147483647

Options -Indexes

<FilesMatch ".php$">
        Header set X-UA-Compatible "IE=Edge"
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
