<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/a4/business-app/business-app.css">
    <link rel="stylesheet" type="text/css" href="css/a4/document/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/a4/document/kendo.css"/>
</head>
<body>

<a4-store id="a4-store"></a4-store>
<div>
<a4-splitter class="a4-component">
    <a4-collections class="a4-component"></a4-collections>
    <a4-documents class="a4-component"></a4-documents>
</a4-splitter>
<a4-open-document class="a4-component"></a4-open-document>
</div>
<script src="BUSINESS_APP/dist/a4-externals.bundle.js"></script>
<script src="BUSINESS_APP/dist/a4-business-app-components.js"></script>

</body>
</html>