<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business App</title>
    <link rel="stylesheet" type="text/css" href="css/a4/document/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/a4/document/kendo.css"/>
    <link rel="stylesheet" href="css/a4/business-app/business-app.css">
</head>
<body>

<a4-splitter id="splitter" bind-event="close: #collectionsList.publicMethods.closeCollections">
    <div vue-slot="leftPane" style="height: 100%">
        <a4-collections id="collectionsList"
                        bind-event="open: #splitter.publicMethods.openSplitter,
                                    collection-selected: #splitter.publicMethods.setCollection,
                                    collection-selected: #documentsList.publicMethods.setCollection">

        </a4-collections>
        <a4-document-list id="documentsList"
                           logo-url="CORE/Images/anakeen-logo.svg"
                           bind-event="document-selected: #documentsTabs.publicMethods.addDocument"
        ></a4-document-list>
    </div>
    <div vue-slot="mainPane">
        <a4-docume  nt-tabs id="documentsTabs" document-css="css/a4/business-app/document-sample.css">
        </a4-document-tabs>
    </div>
</a4-splitter>
<script src="../uiAssets/externals/jquery/jquery.min.js"></script>
<script src="../uiAssets/externals/KendoUI/KendoUI.js"></script>
<script src="BUSINESS_APP/dist/a4-business-app-components.js"></script>
<script src="components/dist/a4-components.js"></script>
</body>
</html>