<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business App</title>
    <link rel="stylesheet" type="text/css" href="css/a4/document/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/a4/document/kendo.css"/>
    <link rel="stylesheet" href="css/a4/business-app/business-app.css">
</head>
<body>

<ank-splitter id="splitter" bind-event="close: #collectionsList.publicMethods.closeCollections">
    <div vue-slot="leftPane" style="height: 100%">
        <ank-collections id="collectionsList"
                        bind-event="open: #splitter.publicMethods.openSplitter,
                                    collection-selected: #splitter.publicMethods.setCollection,
                                    collection-selected: #documentsList.publicMethods.setCollection,
                                    collection-selected: #splitter.publicMethods.openSplitter">

        </ank-collections>
        <ank-document-list id="documentsList"
                           logo-url="CORE/Images/anakeen-logo.svg"
                           bind-event="document-selected: #documentsTabs.publicMethods.addDocument"
        ></ank-document-list>
    </div>
    <div vue-slot="mainPane">
        <ank-document-tabs id="documentsTabs"
                          document-css="css/a4/business-app/document-sample.css"
                          bind-event="document-modified: #documentsList.publicMethods.refreshDocumentsList,
                                      document-deleted: #documentsList.publicMethods.refreshDocumentsList">
        </ank-document-tabs>
    </div>
</ank-splitter>
<script src="../uiAssets/externals/jquery/jquery.min.js"></script>
<script src="../uiAssets/externals/KendoUI/KendoUI.js"></script>
<script src="BUSINESS_APP/dist/ank-business-app-components.js"></script>
<script src="components/dist/ank-components.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var list = document.getElementById('documentsList');
        var splitter = document.getElementById('splitter');
        list.addEventListener('document-selected', () => {
           onDocumentSelected();
        });
    });
    function onDocumentSelected() {
        var width = window.innerWidth || document.body.clientWidth;
        if (width < 958) {
            var splitter = document.getElementById('splitter');
            splitter.publicMethods.closeSplitter();
        }
    }
</script>
</body>
</html>