@attrInputHeight : 30px;

.dcpAttribute__content--read {
  position: inherit;
  /*top: (@padding-base-vertical - 2);*/
}

.dcpAttribute__contentWrapper {
  padding-top:(@padding-base-vertical - 2);
}

.dcpAttribute__contentWrapper .input-group .k-autocomplete input {
  height: (@attrInputHeight - 2);
}

.dcpAttribute__contentWrapper .input-group input,
.dcpArray__content__cell .input-group input,
.dcpAttribute__contentWrapper .input-group .k-autocomplete {
  height: @attrInputHeight;
}

.dcpAttribute__contentWrapper .input-group-addon,
.dcpArray__content__cell .input-group-addon {
  padding: 0;
  height: @attrInputHeight;
}

.dcpAttribute__contentWrapper .input-group-addon button,
.dcpArray__content__cell .input-group-addon button, {
  background-color: transparent;
  border: none;
  min-width: 2em;
  height: 100%;
  padding: 0;
}

.dcpAttribute__contentWrapper .input-group-addon button:hover,
.dcpArray__content__cell .input-group-addon button:hover, {
  background-color: @btn-default-bg;
}

.dcpAttribute__content--flash input,
.dcpAttribute__content--flash textarea,
.dcpAttribute__content--flash .k-input ,
iframe.dcpAttribute__content--flash {
  background-color: @brand-info;
}

.dcpAttribute__content--endflash input,
.dcpAttribute__content--endflash textarea,
.dcpAttribute__content--endflash .k-input,
iframe.dcpAttribute__content--endflash  {
  background-color: inherit;
  transition: background-color 500ms linear;
}

.dcpAttribute__contentWrapper .k-autocomplete .k-loading {
  position: relative;
  right: 20px;
  z-index: 3;
  top: 5px;
}

.k-list .k-state-error {
  border: none;
  width: calc(100% - 0px);
  display: inline-block;
}

.k-widget.k-tooltip.has-error {
  border-color: @brand-danger;
  background-color: @brand-danger;
  color: #ffffff;
}

.has-error .k-callout-n {
  border-bottom-color: @brand-danger;
}

.has-error .k-callout-s {
  border-top-color: @brand-danger;
}

.k-widget.k-tooltip.dcpAttribute__editlabel {
  border-color: @brand-info;
  background-color: @brand-info;
  color: #ffffff;
}

.dcpAttribute__editlabel .k-callout-n {
  border-bottom-color: @brand-info;
}

.dcpAttribute__editlabel .k-callout-s {
  border-top-color: @brand-info;
}

.dcpAttribute__content {
  box-sizing: border-box;
  height: @attrInputHeight;
}

.k-textbox:hover, .k-autocomplete.k-state-hover, .k-picker-wrap.k-state-hover, .k-numeric-wrap.k-state-hover, .k-dropdown-wrap.k-state-hover {

   border-color: @input-border-focus;
}


/**
* no delete button on IE10
*/
//noinspection CssInvalidPseudoSelector
.dcpAttribute__contentWrapper input[type=text]::-ms-clear {
  display: none;
}

