

.dcpDocument .tooltip-inner {
  font-size : 1.2em;
}

.tooltip.dcpAttribute__editlabel {
  min-width:100px;
}

.tooltip.dcpAttribute__editlabel .tooltip-inner {
  background-color: @brand-info;
  color: #ffffff;
}
.tooltip.dcpAttribute__editlabel.tooltip.top .tooltip-arrow {
  border-top-color: @brand-info;
}
.tooltip.dcpAttribute__editlabel.tooltip.bottom .tooltip-arrow {
  border-bottom-color: @brand-info;
}


.tooltip.dcpAttribute__linkvalue .tooltip-inner {
  background-color: @brand-info;
  color: #ffffff;
}
.tooltip.dcpAttribute__linkvalue.tooltip.top .tooltip-arrow {
  border-top-color: @brand-info;
}
.tooltip.dcpAttribute__linkvalue.tooltip.bottom .tooltip-arrow {
  border-bottom-color: @brand-info;
}

.tooltip.has-error .tooltip-inner {
  background-color: @brand-danger;
  color: #ffffff;
  max-width:400px;
}
.tooltip.has-error.tooltip.top .tooltip-arrow {
  border-top-color: @brand-danger;
}
.tooltip.has-error.tooltip.bottom .tooltip-arrow {
  border-bottom-color: @brand-danger;
}

