.dcpAttribute__content--longtext .dcpAttribute__content__value {
  white-space:pre-line;
}
.dcpAttribute__content--longtext textarea {
  resize:vertical;
  min-height: $A4-ui-input-height;
}

.dcpAttribute__content--longtext textarea.form-control.k-textbox {
  width:100%;
  padding-left : 1em;
  padding-top : 0.4em;
}