.smart-element-grid {
  display: flex;
  flex-direction: column;
  min-height: 0;

  &.smart-element-grid--fit {
    flex: 1;
    height: 100%;
    width: 100%;
  }

  &.smart-element-grid--selectable .k-master-row {
    cursor: pointer;
  }

  .smart-element-grid-footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0.375rem;
    align-items: center;
  }

  .k-grid-content {
    // Set kendo table div wrapper an absolute position for having a correct content scroll behavior
    & > div {
      position: absolute !important;
    }
    .k-master-row {
      td {
        word-break: break-all; // For firefox
        word-break: break-word;
      }
    }
  }
  .grid-row-collapsed {
    .k-grid-content {
      .k-master-row {
        td:not(:first-child):not(:last-child) {
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  // transform filter row in subheader row
  .k-filter-row {
    background: white;
    border-color: transparent #DDDDDD;
  }

  .smart-element-grid-widget {
    margin: 0;
    padding: 0;
    border-width: 0;
    display: flex;
    min-height: 0;
    flex-direction: column;
    flex: 1;
  }

  .k-grid col.k-sorted, .k-grid th.k-sorted {
    background: none;
  }
}