<div class="document__content attr-{{attribute.type}} "
     data-attr-id="{{attribute.id}}"
     data-attr-visibility="{{attribute.visibility}}">
    <textarea name="@{{attribute.id}}" >{{attribute.value}}</textarea>
    </div>