<div class="input-group margin-bottom-sm dcpAttribute__dragTarget">
    {{# hasAutocomplete}}
    <span class="input-group-addon">
        <button
                {{#renderOptions.autoCompleteHtmlLabel}}title="{{renderOptions.autoCompleteHtmlLabel}}"{{/renderOptions.autoCompleteHtmlLabel}}
                class="dcpAttribute__value--autocomplete--button btn btn-default btn-xs">
            <i class="fa fa-chevron-down fa-fw"></i>
        </button>
    </span>
    {{/hasAutocomplete}}
    <input type="file" name="{{id}}" id="{{viewCid}}" style="display:none;"
           class="dcpAttribute__value--file"
           value="{{attributeValue.value}}"/>

    <input {{#attributeValue.icon}}style="background-image:url({{attributeValue.icon}}){{/attributeValue.icon}}"
           type="text"
           class="form-control dcpAttribute__value dcpAttribute__value--edit {{#attributeValue.icon}}dcpAttribute__value--fileicon{{/attributeValue.icon}}"
           value="{{attributeValue.displayValue}}"/>
    <span class="dcpAttribute__content__buttons input-group-addon">
        <button type="button"  data-index="{{index}}"
                class="dcpAttribute__content__button--file btn btn-default btn-xs">
            <span class="fa fa-download fa-fw"></span>
        </button>
        {{#renderOptions.buttons}}
        <button type="button" title="{{title}}" data-index="{{index}}"
                class="dcpAttribute__content__button--extra btn btn-default btn-xs {{class}}">{{{htmlContent}}}</button>
        {{/renderOptions.buttons}}
        {{#deleteButton}}
        <button type="button" title="[[#i18n]]ddui::Delete : [[/i18n]]"
                class="btn btn-default btn-xs dcpAttribute__content__button--delete"><i class="fa fa-times fa-fw"></i>
        </button>
        {{/deleteButton}}
    </span>
</div>