
.dcpAttribute__value--dropzone .dcpAttribute__value--edit {
  background-color: @brand-primary;
  font-weight: bold;
  color:@btn-primary-color;
  text-align: center;
}

.dcpAttribute__value--transferring {
  background-color: @brand-info;
}


/**
* force repead to inhib --fileicon when recording
*/
.active.dcpAttribute__value--recording {
  background-repeat: repeat;
}

.dcpAttribute__value--fileicon {
  background-repeat: no-repeat;
  background-position: 4px center;
  padding-left: 30px;
}
.dcpAttribute__contentWrapper--file .dcpAttribute__value--edit {
  cursor:pointer;
}