<div class="input-group margin-bottom-sm">
    {{# hasAutocomplete}}
<span class="input-group-addon">
    <button
          {{#renderOptions.autoCompleteHtmlLabel}}title="{{renderOptions.autoCompleteHtmlLabel}}"{{/renderOptions.autoCompleteHtmlLabel}}
            class="dcpAttribute__content--autocomplete--button btn btn-default btn-xs">
        <i class="fa fa-chevron-down fa-fw"></i>
    </button>
</span>
    {{/hasAutocomplete}}
<input type="file" name="{{id}}" id="{{viewCid}}" style="display:none"
      class="dcpAttribute__content--file"
      value="{{value.value}}"/>

<input {{#value.icon}}style="background-image:url({{value.icon}}){{/value.icon}}" placeholder="Click to upload file" title="Choose file" type="text"
       class="form-control dcpAttribute__content dcpAttribute__content--edit {{#value.icon}}dcpAttribute__content--fileicon{{/value.icon}}"
       value="{{value.displayValue}}"/>
<span class="dcpAttribute__content__buttons input-group-addon">
            <button type="button" title="Download file" data-index="{{index}}" class="dcpAttribute__content__button--file btn btn-default btn-xs"><i class="fa fa-download fa-fw"/></button>

    {{#renderOptions.buttons}}
        <button type="button" title="{{title}}" data-index="{{index}}" class="dcpAttribute__content__button--extra btn btn-default btn-xs {{class}}">{{{htmlContent}}}</button>
    {{/renderOptions.buttons}}
    <button type="button" title="[[#i18n]]ddui::Delete : [[/i18n]]"
            class="btn btn-default btn-xs dcpAttribute__content__button--delete"><i class="fa fa-times fa-fw"></i></button>
    </span>
</div>