<?xml version="1.0" encoding="UTF-8"?>
<smart:config xmlns:smart="https://platform.anakeen.com/4/schemas/smart/1.0">
    <!-- Ce fichier sert principalement d'ajouter des paramètres a la Smart Structure pour le cycle de vie (Par exemple d'ajouter des valeurs par défaults) -->
    <!-- Lien vers le guide How To : https://documentation.ap4.anakeen.com/anakeen-platform-howto/guide/CreateWorkflow/#generation-des-fichiers-de-configuration -->
    <!-- Lien vers le manuel de référence : https://documentation.ap4.anakeen.com/anakeen-platform/workflow/#workflow-cycle-de-vie -->

    <smart:structure-configuration name="{{WFLNAME}}" label="{{wflName}}">
        {{#parentName}}
        <smart:extends ref="{{PARENTNAME}}"/>
        {{/parentName}}
        {{^parentName}}
        <smart:extends ref="WDOC"/>
        {{/parentName}}
        <smart:icon file="{{wflname}}.png"/>
        {{#withBehavior}}
        <smart:class>{{namespace}}\{{wflName}}Behavior</smart:class>
        {{/withBehavior}}
        <smart:fields/>
        <smart:hooks/>
        <smart:autocompletion/>
        <smart:defaults/>
    </smart:structure-configuration>
</smart:config>
