.dcpDocument--view .dcpAttribute__content[data-attrid=csl_alerte_acteur],
.dcpDocument--view .dcpAttribute__content[data-attrid=csl_notification_montants],
.dcpDocument--view .dcpAttribute__content[data-attrid=csl_type_soutien],
.dcpDocument--view .dcpAttribute__content[data-attrid=csl_notification_statut]
{
    color:red;
    font-weight: bold;
}

.document section .dcpFrame__content > .dcpAttribute[data-attrid=pr_subject],
.document section .dcpFrame__content > .dcpAttribute[data-attrid=pr_question] {
    width: 100%;
}
header.ariane {
    padding:1em;
}
header.ariane img {
    float:right;
}
header.ariane h1 {
    display: inline-block;
}

.view--assign  nav li,
.view--complete  nav li,
.dcpDocument--create nav li {
    background-color: #157EFB;
    color: white;
}

.view--assign .dcpDocument__menu .menu__content a.k-link,
.view--complete .dcpDocument__menu .menu__content a.k-link,
.dcpDocument--create .dcpDocument__menu .menu__content a.k-link {
    color: white;
}

textarea.dcpAttribute__value.k-textbox[name=pr_question] {
    height: 10em;
}


.prospect-subject {
    font-size:20px;
}
.prospect-assign {
    padding:1em;
    font-size:14px;
    text-align: center;
}

.prospect-assign .dcpCustomTemplate--content {
    display:inline-block;

}

.prospect-assign .dcpAttribute {
    display:inline-block;
    width:100%!important;
    float:none!important;
}
.prospect-assign textarea {
    height: 5em!important;
}

.prospect-assign .dcpCustomTemplate--content {
    width:50%;
}
.dcpNotifications {
    display:none;
}