<?php
namespace {{namespace}};

use SmartStructure\Fields\{{ssName}} as {{ssName}}Fields;

class {{ssName}}Behavior extends {{#parentName}}\SmartStructure\{{Parentname}}{{/parentName}}{{^parentName}}\Anakeen\SmartElement{{/parentName}}
{
    public function registerHooks()
    {
        parent::registerHooks();
    }
}