
.dcpAttribute__content .k-picker-wrap,
.dcpAttribute__content .k-picker-wrap .k-formatted-value,
.dcpAttribute__content .k-picker-wrap .k-input {
  height: ($attrInputHeight - 2);
  padding-bottom: 0;
  padding-top: 0;
}

.dcpAttribute__content .k-datepicker {
  padding: 0;
}

.dcpAttribute__content.has-error .k-picker-wrap {
  border-color: $brand-danger transparent $brand-danger $brand-danger;
}

// set icon in right
.dcpAttribute__content .k-picker-wrap {
  padding-left: 1.9em;
  padding-right: 0;
}

// set icon in right
.dcpAttribute__content .k-picker-wrap .k-select {
  position: absolute;
  left: 0;
  right: auto;
  height: 100%;
  border-right-width: 1px;
  border-left-width: 0;
  border-radius: 0;
}

