.dcpFrame--collapsable {
  cursor: pointer;
}

/**
 * When save error
 */
.dcpFrame__label.has-warning,
.dcpArray__label.has-warning,
.dcpDocument__tabs .dcpDocument__tabs__list > .dcpTab__label.has-warning {
  background-color: $warning;
}

/**
 * When save error
 */
.dcpFrame__label.has-error,
.dcpArray__label.has-error,
.dcpDocument__tabs .dcpDocument__tabs__list > .dcpTab__label.has-error {
  background-color: $error;
}

.dcpFrame__content--close {
  overflow: hidden;
}

.dcp__frame__caret {
  width: 1em;
}

.dcpAttribute {

    flex-direction: column;

}

.row.dcpAttribute {
  flex-wrap: initial;
}
.row.dcpAttribute.dcpAttribute__labelPosition--auto,
.row.dcpArray--left,
.row.dcpAttribute.dcpAttribute__labelPosition--left {
  flex-direction: row;
  align-items: center;
  .dcpAttribute__left {
    flex-grow:0;
    flex-basis: 20rem;
    text-align: right;
    padding: 0.3rem 0 0.2rem 0;

    @media (max-width: ($grid-float-breakpoint + 1)) {
       flex-basis: 10rem;
    }
  }
  .dcpAttribute__right {
    flex-grow:1;
    flex-basis: 0;
    padding-bottom: 0.2rem;
  }
}

.row.dcpArray--left {
  align-items: start;
  .dcpAttribute__left {
    padding-top:0;
    font-size:1em;
    line-height: 2.2;
  }
}

.row.dcpAttribute.dcpAttribute__labelPosition--up {
  flex-direction: column;
  .dcpAttribute__left {

  }
}


.row.dcpAttribute.dcpAttribute__labelPosition--auto {

  @media (max-width: ($grid-float-breakpoint + 1)) {
    flex-direction: column;
    align-items: initial;
       .dcpAttribute__left {
         flex-basis: auto;
         flex-grow: 1;
         text-align: left;
         margin: 0;
       }
  }
}

/**
 * Manage labelPosition options
 */
.dcpAttribute__label.dcpAttribute__left,
.dcpAttribute__description.dcpAttribute__left,
.dcpArray__label.dcpAttribute__left
{
  // Calculate width based on number of columns available
  @media (min-width: ($grid-float-breakpoint + 1)) {
   // flex-grow: 1;
   // text-align: left;
   // margin: 0;
  }
}


.dcpDocument--view {
  .dcpAttribute__content.dcpAttribute__right,
  .dcpAttribute__description.dcpAttribute__right {

    @media (max-width: $grid-float-breakpoint) {
      padding-left: 2em;
    }
  }
}


.dcpAttribute__content.dcpAttribute__right,
.dcpAttribute__description.dcpAttribute__right {
  @media (min-width: ($grid-float-breakpoint + 1)) {
    flex-grow: 1;
  }
}

.dcpAttribute__right.dcpAttribute__right--full {

  @media (max-width: $grid-float-breakpoint) {
    padding-left: 2em;
  }
}

.dcpAttribute__right.dcpAttribute__labelPosition--up {

  @media (max-width: $grid-float-breakpoint) {

  }
}

.dcpAttribute__left.dcpAttribute__labelPosition--up {

  text-align: left;
}

