<header class="ariane">
<h1 >Le CSTB vous accompagne dans votre projet</h1>
<img  src="BUSINESS_APP/Images/logo-ariane.png" />
<p>Vous pouvez contacter ARIANE : le service d'accueil et d'accompagnement du CSTB, qui vous informe et vous oriente à tout moment du processus d'innovation, de l'idée au marché.</p>
</header>
{{> content}}{{> menu}}