<header class="ariane">
<h1 >Le CSTB vous remercie.</h1>
<img  src="BUSINESS_APP/Images/logo-ariane.png" />
<p>Vous pouvez contacter ARIANE : le service d'accueil et d'accompagnement du CSTB, pour toute autre demande d'information.</p>
</header>