<!DOCTYPE html>
<html lang="[HTML_LANG]">
<head>
    <meta charset="utf-8">
    <title>[TEXT:TE:Monitor:Selftests:server autotest]</title>
[CSS:REF]
[JS:REF]
    <script language="JavaScript">
    </script>
</head>
<body>
  <div class="page">
    <h1>[TEXT:TE:Monitor:Selftests:server autotest]</h1>
    <div class="panel main">
      <div class="panel error" style="display:none"></div>
      <form style="display:none" id="sendConversion" method="POST" enctype="multipart/form-data" action="?app=[APPNAME]&amp;action=[ACTIONNAME]" target="_blank">
	<input type="hidden" name="op" value="selftest"/>
	<select disabled name="testid" id="testid">
	  <option style="font-weight:bold" value="">[TEXT:TE:Monitor:Selftests:please select engine to test]</option>
	  <option  style="font-weight:bold" value="*">[TEXT:TE:Monitor:Selftests:all engines]</option>
	  [BLOCK SELFTEST]<option value="[id]">[description]</option>
	  [ENDBLOCK SELFTEST]
	</select>
	<button id="sendconversion" type="submit" class=" ui-button ui-corner-all ui-state-default" >[TEXT:TE:Monitor:Selftests:run server selected test]</button>
      </form>
    </div>
    
    <div id="results">
    </div>
    
    <div class="result in-progress template tmpl_result">
      <div class="title"></div>
      <div class="log"></div>
    </div>
  </div>
</body>
</html>
