
.dcpAttribute__contentWrapper .k-numeric-wrap ,
.dcpAttribute__contentWrapper .k-numeric-wrap .k-formatted-value ,
.dcpAttribute__contentWrapper .k-numeric-wrap .k-input {
  height: (@dcpInputHeight - 2);
}


.dcpAttribute__contentWrapper .k-numerictextbox {
  padding:0;
}


.dcpAttribute__contentWrapper.has-error .k-numeric-wrap {
  border-color : red transparent red red;
}